<script src="http://code.highcharts.com/highcharts.js"></script>
<div class="title">Estadísticas de los Productos más Vendidos</div>
<%= form_tag({}, {:method => :get}) do %>
	<%= date_field_tag "start_date" %>
	<%= date_field_tag "end_date" %>
	<%= submit_tag %>
<% end %>


<% if !@rank_products.blank? %>

	<div id="container" style="width:100%; height:400px;"></div>
	<script type="text/javascript">
		
		$(function () { 
			// Radialize the colors
			Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function (color) {
			    return {
			        radialGradient: {
			            cx: 0.5,
			            cy: 0.3,
			            r: 0.7
			        },
			        stops: [
			            [0, color],
			            [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
			        ]
			    };
			});

			// Build the chart
			Highcharts.chart('container', {
			    chart: {
			        plotBackgroundColor: null,
			        plotBorderWidth: null,
			        plotShadow: false,
			        type: 'pie'
			    },
			    title: {
			        text: 'Productos mas pedidos en el rango de tiempo'
			    },
			    tooltip: {
			        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
			    },
			    plotOptions: {
			        pie: {
			            allowPointSelect: true,
			            cursor: 'pointer',
			            dataLabels: {
			                enabled: true,
			                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
			                style: {
			                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
			                },
			                connectorColor: 'silver'
			            }
			        }
			    },
			    series: [{
			        name: 'Brands',
			        data: <%= @rank_products.to_json.html_safe %>
			    }]
			});

		});
	</script>

<% end %>


<% if !@rank_votings.blank? %>

	<div id="container2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	<script type="text/javascript">
		$(function () { 
			Highcharts.chart('container2', {
			    chart: {
			        type: 'column'
			    },
			    title: {
			        text: 'Browser market shares. January, 2015 to May, 2015'
			    },
			    subtitle: {
			        text: 'Click the columns to view versions. Source: <a href="http://netmarketshare.com">netmarketshare.com</a>.'
			    },
			    xAxis: {
			        type: 'category'
			    },
			    yAxis: {
			        title: {
			            text: 'Total percent market share'
			        }

			    },
			    legend: {
			        enabled: false
			    },
			    plotOptions: {
			        series: {
			            borderWidth: 0,
			            dataLabels: {
			                enabled: true,
			                format: ''
			            }
			        }
			    },

			    tooltip: {
			        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
			        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
			    },

			    series: [{
			        name: 'Brands',
			        colorByPoint: true,
			        data: <%= @rank_votings.to_json.html_safe %>
			    }],
			});

		});
	</script>

<% end %>
<script src="http://code.highcharts.com/highcharts.js"></script>