<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table class="pretty">
    <tr>
        <th><%=  "Asunto" %></th>
        <th><%=  "Emisor. De:" %></th>
        <th><%=  "Receptor. Para:" %></th>
        <th><%=  "Descripción" %></th>
        <th><%=  "Esta leido" %></th>
    </tr>
    <% @messages.each do |message| %>
        <tr>
            <td><%= message.subject %></td>
            <td><%= message.user.name %></td>
            <td><%= message.user.name %></td>
            <td><%= message.description %></td>
            <td><%= message.is_view %></td>
        </tr>
    <% end %>
</table>