<h1>Bandeja de entrada de <%= current_user.user_name %></h1>

<table class="pretty">
    <tr>
        <th><%=  "Asunto" %></th>
        <th><%=  "Emisor. De:" %></th>
        <th><%=  "Receptor. Para:" %></th>
        <th><%=  "Descripción" %></th>
        <th><%=  "Esta leido" %></th>
    </tr>
    <% @messages.each do |message| %>
        <tr>
            <td><%= message.subject %></td>
            <td><%= message.user.email %></td>
            <td><%= message.user_for %></td>
            <td><%= message.description %></td>
            <% if message.is_view == 0 %>
                <td class="b1"><%= Message::VIEW_CATEGORY[message.is_view]%></td>
            <% else %>
                <td class="b2"><%= Message::VIEW_CATEGORY[message.is_view]%></td>
            <% end %>
        </tr>
    <% end %>
</table>

<p><%= button_to "New message", new_message_path, :method => "get" %></p>
