<h1>Mensajes del Restaurante</h1>

<%= form_tag messages_path, :method => 'get', :id => "messages_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :title => nil %>
  </p>
  <div id="products"><%= render 'messages' %></div>
<% end %>

<p><%= link_to "New message", new_message_path %></p>
