<h1>Incidencia</h1>

<p>
  <strong>subject:</strong>
  <%= @message.subject %>
</p>
<p>
  <strong>description:</strong>
  <%= @message.description %>
</p>
<p>
  <strong>is_view:</strong>
  <%= @message.is_view %>
</p>
<p>
  <strong>user. De:</strong>
  <%= @message.user.user_name %>
</p>
<p>
  <strong>user. Para::</strong>
  <%= @message.user_for %>
</p>

<p>
  <%= link_to "Edit", edit_message_path(@message) %> |
  <%= link_to "Destroy", @message, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", messages_path %>
</p>
