<h1>Menus del Restaurante</h1>

<div class ="muestra-tabla">
	<table class="pretty">
		<tr>
		    <th>Nombre</th>
		    <th>Tipo</th>
		    <th>Precio</th>
		    <th>Descripción</th>
		    <th>Resturante</th>
		    <th>Usuario</th>
		</tr>
		<% @menus.each do |menu| %>
		    <tr>
				<td><%= menu.name %></td>
				<td><%= Menu::MENU_CATEGORY[menu.type_menu] %></td>
				<td class="price"><%= number_to_currency(menu.price, :unit => "€") %></td>
				<td><%= menu.description %></td>
				<td><%= menu.restaurant.name %></td>
				<td><%= menu.user.user_name %></td>
				<td><%= link_to "Edit Menu", edit_menu_path(menu) %></td> 
				<td><%= link_to "Agregar productos", menu_product_path(menu.id) %></td>         
		    </tr>
		<% end %>
	</table>
	<%= will_paginate @menus %>
</div>

<%= render 'form' %>
<p><%= link_to "Back to List", menus_path %></p>
    