<div class="title">Menus del Restaurante</div>

<div class ="muestra-tabla">
	<table class="pretty">
		<tr>
		    <th>Nombre</th>
		    <th>Tipo</th>
		    <th>Precio</th>
		    <th>Descripción</th>
		    <th>Resturante</th>
		    <th>Realizado por:</th>
		</tr>
		<% @menus.each do |menu| %>
		    <tr>
				<td><%= menu.name %></td>
				<td><%= Menu::MENU_CATEGORY[menu.type_menu] %></td>
				<td class="price"><%= number_to_currency(menu.price, :unit => "€") %></td>
				<td><%= menu.description %></td>
				<td><%= menu.restaurant.name %></td>
				<td><%= menu.user.user_name %></td>
				<% if (@current_role == 3 || @current_role == 2 || @current_role == 1) %>
					<td><%= link_to "Edit menu", edit_menu_path(menu) %></td>
					<td><%= link_to "Agregar productos", menu_path(menu) %></td>
				<% end %>       
		    </tr>
		<% end %>
	</table>
	<%= will_paginate @menus %>
</div>

<div class="muestra-opciones">
	<div class="accion">Crear nuevo Menu</div>
	<%= render 'form' %>
</div>
    
