<h1>Menu</h1>
    <p>
        <strong>Nombre:</strong>
        <%= @menu.name %>
    </p>
    <p>
        <strong>Tipo menu:</strong>
        <%= @menu.type_menu %>
    </p>
    <p>
        <strong>Precio:</strong>
        <%= @menu.price %>
    </p>
    <p>
        <strong>Descripción:</strong>
        <%= @menu.description %>
    </p>
    <p>
    <%= link_to "Edit", edit_product_path(@menu) %> |
    <%= link_to "Destroy", @menu, :confirm => 'Are you sure?', :method => :delete %> |
    <%= link_to "View All", menus_path %>
</p>


    <% @menu.menu_products.each do |mp| %>
        <p><%= mp.product.name %></p>
        <p><%= mp.quantity %></p>
        <p><%= MenuProduct::CONTENT_CATEGORY[mp.category] %></p>
    <% end %>

    <%= form_for :menu_product, url: menu_product_index_path do |f| %>
        <div class="field">
            <%= f.label :producto %><br />
            <%= f.select :product_id, options_from_collection_for_select( Product.all, :id, :name)%>
        </div>
        <div class="field">
            <%= f.label :category %>
            <%= f.select :category, options_for_select(MenuProduct::CONTENT_CATEGORY.map.with_index {|index, value| [index, value]})%>
        </div>
        <div class="field">
            <%= f.label :quantity %><br />
            <%= f.text_field :quantity %>
        </div>



    <%= f.hidden_field :menu_id, value: @menu.id %>
    <%= f.submit %>
<% end %>
