<div class="menu">
    <div class="muestra-menus">
        </br></br></br></br><div class="menu_accion">Menú</div>
        <div id="padre">  
            <div id="hijo7">
                <p>
                    <strong>Nombre:</strong>
                    <%= @menu.name %>
                </p>
                <p>
                    <strong>Tipo Menú:</strong>
                    <%= Menu::MENU_CATEGORY[@menu.type_menu] %>
                </p>
                <p>
                    <strong>Precio:</strong>
                    <%= @menu.price %> €
                </p>
                <p>
                    <strong>Descripción:</strong>
                    <%= @menu.description %>
                </p>
                <p>
                    <% if @current_role == 3 %>
                        <%= link_to "Modificar", edit_menu_path(@menu) %> |
                        <%= link_to "Eliminar", @menu, :method => :delete, data: { confirm: "¿Está seguro que desea eliminar el Menú?"} %>
                    <% end %>
                </p>
            </div>
        </div>
    </div>
    </br>
    <div class="muestra-tabla-menus">
        <div class="letra_menu"><%= @menu.name %></div>
        	<% if !@current_restaurant.fastfood%>
	            <div class="menu_tipo">Entrante</div>
	            <% @menu.menu_products.each do |mp| %>
	                <% if mp.category == 0 %>
	                    <div class="menu_tipo_seleccion" title="<%= mp.product.preparation %>"><td><%= mp.product.name %></td><div class="ingredients">(<%= mp.product.ingredients %>)</div></br></div>
	                <% end %>
	            <% end %>
	            <div class="menu_tipo">Primer Plato</div>
	            <% @menu.menu_products.each do |mp| %>
	                <% if mp.category == 1 %>
	                    <div class="menu_tipo_seleccion" title="<%= mp.product.preparation %>"><td><%= mp.product.name %></td><div class="ingredients">(<%= mp.product.ingredients %>)</div></br></div>
	                <% end %>
	            <% end %>
	            <div class="menu_tipo">Segundo Plato</div>
	            <% @menu.menu_products.each do |mp| %>
	                <% if mp.category == 2 %>
	                    <div class="menu_tipo_seleccion" title="<%= mp.product.preparation %>"><td><%= mp.product.name %></td><div class="ingredients">(<%= mp.product.ingredients %>)</div></br></div>
	                <% end %>
	            <% end %>
	            <div class="menu_tipo">Postre</div>
	            <% @menu.menu_products.each do |mp| %>
	                <% if mp.category == 3 %>
	                    <div class="menu_tipo_seleccion" title="<%= mp.product.preparation %>"><td><%= mp.product.name %></td><div class="ingredients">(<%= mp.product.ingredients %>)</div></br></div>
	                <% end %>
	            <% end %>
	            <div class="menu_tipo">Bebida</div>
	            <% @menu.menu_products.each do |mp| %>
	                <% if mp.category == 4 %>
	                    <div class="menu_tipo_seleccion" title="<%= mp.product.preparation %>"><td><%= mp.product.name %></td><div class="ingredients">(<%= mp.product.ingredients %>)</div></br></div>
	                <% end %>
	            <% end %>
	        <% else %>
				<% @menu.menu_products.each do |mp| %>
	                <div class="menu_tipo_seleccion" title="<%= mp.product.preparation %>"><td><%= mp.product.name %></td></div>
	            <% end %>
	        <% end %>
        <div class="menu_tipo">Precio:   <%= @menu.price %> €</div>
    </div>
	</br>
    <div class="muestra-eleccion">
        <% if @current_role == 3 %>
            </br></br><div class="menu_accion">Agregar Producto</div>
            <div id="padre">  
	            <div id="hijo7">
		            <%= form_for :menu_product, url: menu_products_path do |f| %>
		                <div class="field">
		                    </br><%= f.label :seleccione_categoría %>
		                    <%= f.select :category, options_for_select(MenuProduct::CONTENT_CATEGORY.map.with_index {|index, value| [index, value]})%>
		                </div>
		                <div class="field">
		                    </br><%= f.label :producto %>
		                    <%= f.select :product_id, options_from_collection_for_select( Product.where("restaurant_id = ?", "#{@current_restaurant.id}"), :id, :name)%>
		                </div>
		                </br><%= f.hidden_field :menu_id, value: @menu.id %>
		                <%= f.submit 'Añadir', :class => 'boton grey'%>
		            <% end %></br>
		        </div>
		    </div>
            </br></br><div class="menu_accion">Finalizar Menú</div>
            </br><%= button_to 'Terminar', menus_path, :method => "get", data: { confirm: "¿Está seguro que Terminar el Menú?"}, :class => 'boton grey' %></br>
        <% else %>
            <div class="contacto-menu"> 
            </br>¿Te gustan los Menús?<br/>
            Menús elaborados por los mejores cocineros, con los productos mas exclusivos del mercado que hará que siempre tengas ganas de volver aunque recuerda.."El placer de los banquetes debe medirse no por la abundancia de los manjares, sino por la reunión de los amigos y por su conversación.."<br/>
            </div>
        <% end %>
    </div>
</div>