<div class="title">Noticias del Restaurante '<%= @current_restaurant.name %>'</div>
</br>
<div class="muestra-blog">
    <article class=”blogPost”>
        <% @blogs.each do |noticia| %>
            <head>
                <div class="accion-blog-title"><%= noticia.title %></div>
                <p>Posted on <%= noticia.created_at.strftime("%d %B %Y -- %X") %>
                    <%if @current_role == 3%>
                        | <%= link_to "Edit Blog", edit_blog_path(noticia), style: "color: white" %>
                        | <%= link_to "Destroy", @blog, :method => :delete, data: { confirm: "Are you sure?"}, style: "color: white" %>
                        | <%= link_to "New Blogs", new_blog_path, style: "color: white" %>
                    <% end %>
                </p>
            </head>
            <%= will_paginate @blogs %>
            <p><%= noticia.description %></p>
            
            <head>
                <h3>Comentarios</h3>
            </head>
            <article>

                <% noticia.blog_users.each do |blog_users| %>
                     <head>
                        <p>Usuario: <%= blog_users.user.email %> - Posted on <%= blog_users.created_at.strftime("%d %B %Y -- %X") %></p>
                    </head>
                    <p><%= blog_users.description %></p>
                <% end %>
            </article>

            <head>
                <h3>Realizar un comentario</h3>
            </head>
            <%= form_for :blog_user, url: blog_users_path do |blog_comment| %>
                <%= blog_comment.error_messages %>
                <div class="field">
                    </br><%= blog_comment.label :descripción %>
                    <%= blog_comment.text_area :description, :cols => 30, rows: 4 %>
                </div>
                <%= blog_comment.hidden_field :blog_id, :value => noticia.id %>
                <%= blog_comment.hidden_field :user_id, :value => current_user.id %>
                <div class="field">
                    <p><%= blog_comment.submit 'Comentar', :class => 'boton azul'%></p>
                </div>
            <% end %>
	    <% end %>
    </article>
</div>

<div class="muestra-blogs">
    <% @blogs_view.each do |blog| %>
        <%#= blog.error_messages %>
        <div class="accion-blog"><li><%= link_to blog.title, blogs_path(blog), style: "color: black"  %></li></div>
    <% end %>
</div>
