<div class="title">Noticias del Restaurante '<%= @current_restaurant.name %>'</div>

<div class="muestra-blog">
    <article class=”blogPost”>
        <% @blogs.each do |noticia| %>
            <%= will_paginate @blogs %>
            <head>
                <div class="accion-blog"><%= noticia.title %></div>
                <p>Posted on <%= noticia.created_at.strftime("%d %B %Y -- %X") %> – <a href=”#comments”>3 comments</a>
                    <%if @current_role != 0%>
                        | <%= link_to "Edit Blog", edit_blog_path(noticia), style: "color: white" %>
                        | <%= link_to "Destroy", @blog, :confirm => 'Are you sure?', :method => :delete, style: "color: white" %>
                        | <%= link_to "New Blogs", new_blog_path, style: "color: white" %>
                    <% end %>
                </p>
            </head>

            <p><%= noticia.description %></p>
            
            <head>
                <h3>Comentarios</h3>
            </head>
            <article>

                <% noticia.blog_users.each do |bu| %>
                     <head>
                        <%= bu.user.email %>
                        <p>Posted on <%= bu.created_at.strftime("%d %B %Y -- %X") %></p>
                    </head>
                    <p><%= bu.description %></p>
                <% end %>
            </article>

            <head>
                <h3>Post a comment</h3>
            </head>
            <%= form_for :blog_user, url: blog_users_path do |blog_comment| %>
                <%= blog_comment.error_messages %>
                <div class="field">
                    </br><%= blog_comment.label :description %><br />
                    <%= blog_comment.text_area :description, :cols => 30, rows: 4 %>
                </div>
                <%= blog_comment.hidden_field :blog_id, :value => noticia.id %>
                <%= blog_comment.hidden_field :user_id, :value => current_user.id %>
                <div class="field">
                    <p><%= blog_comment.submit %></p>
                </div>
            <% end %>
	    <% end %>
    </article>
</div>

<div class="muestra-blogs">
    <% @blogs_view.each do |blog| %>
        <%#= blog.error_messages %>
        <div class="accion-blog"><li><%= link_to blog.title, blogs_path(blog) %></li></div>
    <% end %>
</div>
