<h1>Noticias del Restaurante</h1>

<%= form_tag blogs_path, :method => 'get', :id => "blogs_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :title => nil %>
  </p>
  <div id="products"><%= render 'blogs' %></div>
<% end %>
<%if current_user.user_type != 0%>
<p><%= link_to "New Blogs", new_blog_path %></p>
<% end %>
