<div class="title">Noticias del Restaurante '<%= @current_restaurant.name %>'</div>
</br>
<div class="muestra-blog">
    <article class=”blogPost”>
        <% @blogs.each do |noticia| %>
            <div class="muestra-blogs">
                <head>
                    </br><div class="accion-blog-title"><%= noticia.title %></div>
                    <p>Publicada el <%= noticia.created_at.strftime("%d %B %Y a las %X") %>
                        <%if @current_role == 3%>
                            | <%= link_to "Modificar Blog", edit_blog_path(noticia), style: "color: black" %>
                            | <%= link_to "Eliminar", @blog, :method => :delete, data: { confirm: "¿Está seguro que desea eliminar el blog?"}, style: "color: black" %>
                        <% end %>
                    </p>
                </head>
                <div class="pagination">
                    <div class="digg_pagination">
                        <%= will_paginate @blogs, :container => false %>
                    </div>
                </div>
                </br><div class="periodico"><%= noticia.description %></div></br>
                <head>
                    </br><div class="accion-blog">Comentarios</div>
                </head>
                <article>
                    <head>
                        <table class="tabla5">
                            <% noticia.blog_users.each do |blog_users| %>
                                <thead>
                                    <tr class="tabla5">
                                        <th class="tabla5"><%= blog_users.user.email %> - Comento el <%= blog_users.created_at.strftime("%d %B %Y, a las %X") %></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="tabla5">
                                        <td class="tabla5"><%= blog_users.description %></td>
                                    </tr>
                                </tbody>
                            <% end %>
                        </table>
                        </br>
                    </head>
                </article>
            </div>
            <div class="comentar">
                <head>
                    </br><div class="accion-blog">Comentar Noticia</div>
                </head>
                <%= form_for :blog_user, url: blog_users_path do |blog_comment| %>
                    <%= blog_comment.error_messages %>
                    <div class="field">
                        </br><%= blog_comment.text_area :description, style: "resize: none;", :cols => 40, rows: 8, placeholder: "Comentario..." %>
                    </div>
                    <%= blog_comment.hidden_field :blog_id, :value => noticia.id %>
                    <%= blog_comment.hidden_field :user_id, :value => current_user.id %>
                    <div class="field">
                        <p><%= blog_comment.submit 'Comentar', :class => 'boton grey'%></p>
                    </div>
                <% end %>

                <%if @current_role == 3%>
                    <head>
                        </br></br><div class="accion-blog">Crear Nueva Noticia</div>
                    </head>
                    </br>
                    <%= link_to "Crear Nueva Noticia", 'javascript:openWindow();', :class => 'boton grey' %>
                    </br></br></br>
                <% end %>
            </div>
	    <% end %>
    </article>
</div>


<div class="window">
    <div class="cerrar"><%= link_to "Cerrar X", 'javascript:closeWindow();', data: { confirm: "¿Está seguro que desea cerrar?"}, :class => 'boton red' %></div>
    <div class="title">Nueva Noticia</div>
    <%= render 'form' %>
</div>

<script type="text/javascript">
    function openWindow(){
        $(".window").slideDown("slow");
    }
    function closeWindow(){
        $(".window").slideUp("fast");
    }
</script>

