<div class="title">Modificar <%= resource_name.to_s.humanize %></div>

<div class ="muestra-tabla">
    </br><div class="accion">Modifica la Cuenta de '<%=current_user.user_name%>'</div> 
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
        <div class="field">
            </br><%= f.label :correo %><br />
            <%= f.email_field :email, autofocus: true %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
            </br><%= f.label :contraseña %> <i>(Dejela en blanco si no quiere modificarla)</i><br />
            <%= f.password_field :password, autocomplete: "off" %>
            <% if @minimum_password_length %>
                <br/><em><%= @minimum_password_length %> caracteres minimos</em>
            <% end %>
        </div>

        <div class="field">
            </br><%= f.label :confirmación_contraseña %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="field">
            </br><%= f.label :contraseña_actual %> <i>(introduzca la contraseña actual para verificar los cambios)</i><br />
            <%= f.password_field :current_password, autocomplete: "off" %>
        </div>

        <div class="actions">
            </br><%= f.submit "modificar" %>
        </div>
    <% end %>
</div>

<div class="muestra-opciones">
    </br></br></br></br><div class="accion">Eliminar la cuenta</div>
    <p>Desea eliminar la cuenta? <%= button_to "Eliminar cuenta", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
</div>
