<%= form_for @voting do |f| %>
	<%= f.error_messages %>
	<div class="field">
		<%= f.label :cuestionario %><br />
		<%= f.select :questionnaire_id, options_from_collection_for_select(Questionnaire.all, :id, :question)%>
	</div>
	<div class="field">
		<% answers = {'Muy mal' => '1', 'Mal' => '3', 'Aceptable' => '5', 'Buena' => '6', 'Muy buena' => '8', 'Excelente' => '10'} %>
		<fieldset>
			<% answers.each do |ans| %>
				<%= f.radio_button :answer, ans[1] %>
				<label for="<%=ans[1]%>""><%= ans[0] %></label>
			<% end %>
		</fieldset>
	</div>
	<%= f.hidden_field :restaurant_id, :value => @current_restaurant %>
	<div class="field">
		<%= f.submit %>
	</div>
<% end %>