<%= form_for @voting do |f| %>
	<% if Restaurant.find(@current_restaurant).questionnaires %>
		<%= f.error_messages %>
		<% answers = {'Muy mal' => '1', 'Mal' => '3', 'Aceptable' => '5', 'Buena' => '6', 'Muy buena' => '8', 'Excelente' => '10'} %>
		<% Restaurant.find(@current_restaurant).questionnaires.each do |q| %>
			<div class="accion"><%= q.question %></div>
			<fieldset>
				<% answers.each do |ans| %>
					<div class="votings">
						<%= radio_button_tag "[voting][questions][#{q.id}][answer]", ans[1] %>
						<label for="<%#= id %>"><%= ans[0] %></label>
					</div>
				<% end %>
			</fieldset>
		<% end %>
		<%= f.hidden_field :restaurant_id, :value => @current_restaurant.id %>
		<div class="field">
			</br><%= f.submit %>
		</div>
	<% end %>
<% end %>
