<div class="title">Chateando con '<%= @conversation.with(current_user).user_name %>'</div>

<div id="conversation-main" >
	<div class="inf">
		<div class="cssToolTip">
	    	<%= image_tag('information.png', :alt => 'info')%>
			<span>
				Manual de ayuda de Conversaciones:<br>
				En esta página el Usuario del Restaurante podrá conversar de forma privada con otro Usuario. Podrá enviar comentarios y leer lo que el otro Usuario le escriba.
			</span> 
		</div>
	</div>
    <div id="conversation-body">
        <%= render @conversation.personal_messages %>
    </div>
	</br></br><div class="comentar-chat">
		</br><div class="accion-blog">Enviar Mensaje</div>
	    <%= form_for @personal_message do |f| %>
	        </br><%= hidden_field_tag 'conversation_id', @conversation.id %>
	        <%= f.text_area :body, style: "resize: none;", :cols => 50, rows: 4, placeholder: "Escribir mensaje..." %>
	        <%= f.hidden_field :restaurant_id, :value => @current_restaurant.id %>
	        <%= f.submit 'Enviar', :class => 'boton grey' %>
	    <% end %><br />
	</div>
</div>
<script type="text/javascript">
	var objDiv = document.getElementById("conversation-body");
		objDiv.scrollTop = objDiv.scrollHeight;
</script>