<div class="title">Chateando con <%= @conversation.with(current_user).user_name %></div>

<div id="conversation-main">
  <div id="conversation-body">
    <%= render @conversation.personal_messages %>
  </div>

  <%= form_for @personal_message do |f| %>
    <%= hidden_field_tag 'conversation_id', @conversation.id %>
    <%= f.label :body %>
    <%= f.text_area :body %>
	<%= f.hidden_field :restaurant_id, :value => @current_restaurant.id %>
    <%= f.submit %>
  <% end %>
</div>