<div class="title">Estadísticas de los Productos más Vendidos</div>
</br>
<div class="contact">
	<div class="new">
		<div class="inf">
			<div class="cssToolTip">
	        	<%= image_tag('information.png', :alt => 'info')%>
				<span>
					Manual de ayuda de Estadísticas de Productos más vendidos:<br>
					En esta página los usuarios registrados en el restaurante podrán ver los productos mas consumindos en un rango de fechas seleccionados.
				</span> 
			</div>
		</div>
	</div>
	<div class="estat">
		</br></br><div class="titleStattistics">Seleccione un rango de fechas</div>
		<%= form_tag({}, {:method => :get}) do %>
			<div class="find">
				</br></br>Desde: <%= date_field_tag "start_date" %>
					- Hasta: <%= date_field_tag "end_date" %> Seleccione una categoría  <%= select_tag "select_category", options_for_select(Product::PRODUCT_CATEGORY.map.with_index {|index, value| [index, value]})%>
				</br></br><%= submit_tag 'Buscar', :class => 'boton grey' %>
			</div>
			</br></br>
		<% end %>

		<% if !@rank_products.blank? %>
			<div id="cont" style="min-width: 310px; height: 400px; margin: 0 auto;"></div>
			<script type="text/javascript">
				
				$(function () { 
					// Radialize the colors
					Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function (color) {
					    return {
					        radialGradient: {
					            cx: 0.5,
					            cy: 0.3,
					            r: 0.7
					        },
					        stops: [
					            [0, color],
					            [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
					        ]
					    };
					});

					// Build the chart
					Highcharts.chart('cont', {
					    chart: {
					        plotBackgroundColor: null,
					        plotBorderWidth: null,
					        plotShadow: false,
					        type: 'pie'
					    },
					    title: {
					        text: 'Productos más vendidos en el rango de tiempo'
					    },
					    tooltip: {
					        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
					    },
					    plotOptions: {
					        pie: {
					            allowPointSelect: true,
					            cursor: 'pointer',
					            dataLabels: {
					                enabled: true,
					                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
					                style: {
					                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
					                },
					                connectorColor: 'silver'
					            }
					        }
					    },
					    series: [{
					        name: 'Vendido',
					        data: <%= @rank_products.to_json.html_safe %>
					    }]
					});

				});
			</script>
		<% end %>
		<script src="http://code.highcharts.com/highcharts.js"></script>
		</br>
</div>