<h1>Productos del Menu</h1>

<div class ="muestra-tabla">
	<table>
		<thead>
			<tr>
				<th>Producto</th>
				<th>Menu</th>
				<th>Tipo</th>
			</tr>
		</thead>
		<tbody>
			<% @menu_products.each do |menu_product| %>
				<tr>
					<td><%= menu_product.product_id.name %></td>
					<td><%= menu_product.menu_id.name %></td>
					<td><%= MenuProduct::CONTENT_CATEGORY[menu_product.category] %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<%= will_paginate @menu_products %>
</div>
<div class="muestra-opciones">
	<%= form_for @menu_product do |f| %>
	    <%= f.error_messages %>
	    <div class="field">
	        <%= f.label :producto %><br />
	        <%= f.select :product_id, options_from_collection_for_select( Product.all, :id, :name)%>
	    </div>
	    <div class="field">
	        <%= f.label :category %>
	        <%= f.select :category, options_for_select(MenuProduct::CONTENT_CATEGORY.map.with_index {|index, value| [index, value]})%>
	    </div>
	    <%= f.hidden_field :menu_id, :value => @menu_products.menu_id %>
	    <div class="field">
	    	<%= f.submit %>
	    </div>
	<% end %>
</div>