<div class="title">Seleccione una de las siguientes estadísticas</div>
</br>
<div class="statistic">
	<% if @current_role == 3 %>
		<%= link_to statistics_best_seller_product_index_path do %>
			<div class="statistics">
				<div class="imagen">
					<%= image_tag('estadistica_gastos_restaurante.png', :alt => 'estadistica_gastos_restaurante')%>
				</div>
				<p>En esta opción el usuario del restaurante al que esta registrado podrá ver los productos más consumidos en un rango de fechas. Dicha operación se calculará sumando todos los productos del restaurante y mostrará el porcentaje de cada producto sobre el total. Todos los datos serán explicitos al detalle.</p>
			</div>
		<% end %>
		<%= link_to statistics_votings_path do %>
			<div class="statistics">
				<div class="imagen">
					<%= image_tag('estadisticas_votaciones.png', :alt => 'estadisticas_votaciones')%>
				</div>
				<p>En esta opción el gerente del restaurante al que esta registrado podrá ver las votaciones de los cuestionarios que los clientes de forma anónima realizan en el restaurante en un rango de fechas. Dicha operación se calculará sumando todas las notas de las votaciones de cada una de las cuestiones y dividiendolo entre el número de votaciones. Todos los datos serán explicitos al detalle.</p>
			</div>
		<% end %>
	<% end %>
	<% if @current_role == 0 %>
		<%= link_to statistics_best_seller_product_index_path do %>
			<div class="statistics">
				<div class="imagen">
					<%= image_tag('estadistica_gastos_restaurante.png', :alt => 'estadistica_gastos_restaurante')%>
				</div>
				<p>En esta opción el usuario del restaurante al que esta registrado podrá ver los productos más consumidos en un rango de fechas. Dicha operación se calculará sumando todos los productos del restaurante y mostrará el porcentaje de cada producto sobre el total. Todos los datos serán explicitos al detalle.</p>
			</div>
		<% end %>
	<% end %>
</div>