<div class="title">Seleccione una de las siguientes estadísticas</div>
</br><div class="statistic">
	<% if @current_role == 3 %>
		<%= link_to statistics_earnings_path do %>
			<div class="statistics">
				<div class="imagen">
					<%= image_tag('estadistica_ganancias_restaurante.png', :alt => 'estadistica_ganancias_restaurante')%>
				</div>
				<p>En esta primera opción el Gerente del restaurante al que esta registrado podrá ver las ganancias que percibe con respecto a los gastos. Dicha operación se calculará con la diferencia entre ganancias totales del restaurante y gastos totales del restaurante entre un rango de fechas que seleccionemos. Todos estos datos seán explicitos al detalle</p>
			</div>
		<% end %>
		<%= link_to statistics_expenses_path do %>
			<div class="statistics">
				<div class="imagen">
					<%= image_tag('estadistica_gastos_restaurante.png', :alt => 'estadistica_gastos_restaurante')%>
				</div>
				<p>En esta segunda opción el Gerente del restaurante al que esta registrado podrá ver los gastos que se realizan en el restaurante entre un rango de fechas. Dicha operación se calculará sumando todos los gastos que se han realizado en el rango seleccionado. Todos los datos serán explicitos al detalle</p>
			</div>
		<% end %>
		<%= link_to statistics_best_seller_product_index_path do %>
			<div class="statistics">
				<div class="imagen">
					<%= image_tag('estadisticas_producto_mas _vendido.png', :alt => 'estadisticas_producto_mas _vendido')%>
				</div>
				<p>En esta tercera opción el Gerente del restaurante al que esta registrado podrá ver los productos mas vendidos en un rango seleccionado de fechas. Dicha estadistica se calculara mostrando los productos que más se han vendido en ese rango. Todos los datos serán explicitos al detalle</p>
			</div>
		<% end %>
		<%= link_to statistics_votings_path do %>
			<div class="statistics">
				<div class="imagen">
					<%= image_tag('estadisticas_votaciones.png', :alt => 'estadisticas_votaciones')%>
				</div>
				<p>En esta cuarta opción el Gerente del restaurante al que esta registrado podrá ver las votaciones de los cuestionarios que los clientes de forma anonima realizan en el restaurante en un rango de fechas. Dicha operación se calculará sumando todas las notas de las votaciones de cada una de las cuestiones y dividiendolo entre el número de votaciones. Todos los datos serán explicitos al detalle</p>
			</div>
		<% end %>
	<% end %>
</div>