<div class="title">Clientes Registrados</div>
<table>
    <thead>
        <tr>
            <th><%= "Cliente" %></th>
            <th><%= "IP ultimo inicio" %></th>
            <th><%= "IP Actual" %></th>
            <th><%= "Email" %></th>
            <th><%= "Inicios de sesion" %></th>
            <th><%= "Teléfono" %></th>
            <th><%= "Fecha de alta" %></th>
            <th><%= "Gastado" %></th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |total_users| %>
            <tr>
                <td><%= total_users.user_name %></td>
                <td><%= total_users.last_sign_in_ip %></td>
                <td><%= total_users.current_sign_in_ip %></td>
                <td><%= total_users.email %></td>
                <td><%= total_users.sign_in_count %></td>
                <td><%= total_users.phone %></td>
                <td><%= total_users.created_at %></td>
                <td class="price"><%= number_to_currency(total_users.total_spent, :unit => "€") %></td>
            </tr>
        <% end %>
    </tbody>
    <tfoot>
        <%= will_paginate @users %>
    </tfoot>
</table>
