<div class="title">Seleccione una de las opciones</div>
</br><div class="start">
	<% if current_user.superadmin %>
		<%= link_to restaurants_path do %>
			<div class="starts">
				<div class="imagen">
					<%= image_tag('registrar_restaurante.png', :alt => 'registrar_restaurante')%>
				</div>
				<p>Registrar nuevo restaurante en el sistema</p>
				<div class="clear"></div>
			</div>
		<% end %>
		<%= link_to restaurant_users_path do %>
			<div class="starts">
				<div class="imagen">
					<%= image_tag('registrar_empleado.png', :alt => 'registrar_empleado')%>
				</div>
				<p>Registrar un nuevo empleado en un restaurante ya resgistrado en el sistema</p>
				<div class="clear"></div>
			</div>
		<% end %>
		<%= link_to total_restaurants_index_path do %>
			<div class="starts">
				<div class="imagen">
					<%= image_tag('ver_restaurante.png', :alt => 'ver_restaurante')%>
				</div>
				<p>Visualización de todos los restaurantes registrados en el sistema</p>
				<div class="clear"></div>
			</div>
		<% end %>
		<%= link_to total_clients_index_path do %>
			<div class="starts">
				<div class="imagen">
					<%= image_tag('ver_clientes.png', :alt => 'ver_clientes')%>
				</div>
				<p>Visualización de todos los clientes registrados en el sistema</p>
				<div class="clear"></div>
			</div>
		<% end %>
		<%= link_to total_products_index_path do %>
			<div class="starts">
				<div class="imagen">
					<%= image_tag('ver_productos.png', :alt => 'ver_productos')%>
				</div>
				<p>Visualización de todos los productos registrados en el sistema</p>
				<div class="clear"></div>
			</div>
		<% end %>
	<% end %>
	<% if @current_role == 0 %>
		<%= link_to commands_path do %>
			<div class="starts">
				<div class="imagen">
					<%= image_tag('comanda.png', :alt => 'comanda')%>
				</div>
				<p>Comanda que el cliente realiza desde su mesa y que el camarero recibe para ser servido posteriormente</p>
				<div class="clear"></div>
			</div>
		<% end %>
	<% elsif @current_role == 1 %>
		<%= link_to menus_path do %>
			<div class="starts">
				<div class="imagen">
					<%= image_tag('menu.png', :alt => 'menu')%>
				</div>
				<p>En esta sección el camarero podrán consultar los menús del restaurante</p>
				<div class="clear"></div>
			</div>
		<% end %>
		<%= link_to commands_path do %>
			<div class="starts">
				<div class="imagen">
					<%= image_tag('comanda_restaurante.png', :alt => 'comanda_restaurante')%>
				</div>
				<p>Comanda que recibe el camarero para ser servido posteriormente a la mesa</p>
				<div class="clear"></div>
			</div>
		<% end %>
		<%= link_to incidences_index_path do %>
			<div class="starts">
				<div class="imagen">
					<%= image_tag('incidencia.png', :alt => 'incidencia')%>
				</div>
				<p>Aquí el Camarero podrá visualizar las incidencias sobre algún producto de la comanda</p>
				<div class="clear"></div>
			</div>
		<% end %>
	<% elsif @current_role == 2 %>
		<%= link_to menus_path do %>
			<div class="starts">
				<div class="imagen">
					<%= image_tag('menu.png', :alt => 'menu')%>
				</div>
				<p>En esta sección el cocinero podrán consultar los menús del restaurante</p>
				<div class="clear"></div>
			</div>
		<% end %>
		<%= link_to commands_path do %>
			<div class="starts">
				<div class="imagen">
					<%= image_tag('comanda_restaurante.png', :alt => 'comanda_restaurante')%>
				</div>
				<p>Comanda que recibe el cocinero para ser servido posteriormente a la mesa</p>
			</div>
		<% end %>
	<% elsif @current_role == 3 %>
		<%= link_to commands_path do %>
			<div class="starts">
				<div class="imagen">
					<%= image_tag('comanda_restaurante.png', :alt => 'comanda_restaurante')%>
				</div>
				<p>El gerente podrá visualizar las comandas que tienen asignadas tanto el camarero como el cocinero</p>
			</div>
		<% end %>
	<% end %>
	<% if !current_user.superadmin %>
		<%= link_to restaurant_users_path do %>
			<div class="starts">
				<div class="imagen">
					<%= image_tag('restaurante.png', :alt => 'restaurante')%>
				</div>
				<p>Seleccione uno de los restaurantes registrados para beneficiarse de las distintas ventajas y poder navegar por sus distintas funcionalidades</p>
				<div class="clear"></div>
			</div>
		<% end %>
	<% end %>
	<% if @current_role == 0 || @current_role == 1 || @current_role == 2 %>
		<%= link_to incidences_path do %>
			<div class="starts">
				<div class="imagen">
					<%= image_tag('incidencia.png', :alt => 'incidencia')%>
				</div>
				<p>Aquí se podrán reportar las incidencias del restaurante para que el se resulvan lo antes posible</p>
				<div class="clear"></div>
			</div>
		<% end %>
	<% elsif @current_role == 3 %>
		<%= link_to incidences_index_path do %>
			<div class="starts">
				<div class="imagen">
					<%= image_tag('incidencia.png', :alt => 'incidencia')%>
				</div>
				<p>Aquí el gerente del restaurante podrá visualizar y gestionar las incidencias</p>
				<div class="clear"></div>
			</div>
		<% end %>
	<% end %>
	<% if @current_role == 0 %>
		<%= link_to menus_path do %>
			<div class="starts">
				<div class="imagen">
					<%= image_tag('menu.png', :alt => 'menu')%>
				</div>
				<p>En esta sección el cliente podrá consultar los menús del restaurante</p>
				<div class="clear"></div>
			</div>
		<% end %>
		<%= link_to takeaways_path do %>
			<div class="starts">
				<div class="imagen">
					<%= image_tag('pedido_online.png', :alt => 'pedido_online')%>
				</div>
				<p>Realice el pedido online de sus productos favoritos y venga a recogerlo o si lo desea se le podrá enviar el pedido a domicilio</p>
				<div class="clear"></div>
			</div>
		<% end %>
	<% end %>
	<% if @current_role == 0 || @current_role == 1 || @current_role == 2 || @current_role == 3 %>
		<%= link_to reservations_index_path do %>
			<div class="starts">
				<div class="imagen">
					<%= image_tag('reserva.png', :alt => 'reserva')%>
				</div>
				<p>Petición de una reserva para el día y la mesa que desee del restaurante para no quedarte sin sitio</p>
				<div class="clear"></div>
			</div>
		<% end %>
	<% end %>
	<% if @current_role == 3 %>
		<%= link_to products_path do %>
			<div class="starts">
				<div class="imagen">
					<%= image_tag('productos.png', :alt => 'productos')%>
				</div>
				<p>En esta sección el gerente podrá registrar, consultar y modificar los productos del restaurante</p>
				<div class="clear"></div>
			</div>
		<% end %>
		<%= link_to stocks_path do %>
			<div class="starts">
				<div class="imagen">
					<%= image_tag('stock.png', :alt => 'stock')%>
				</div>
				<p>En esta sección el gerente podrá registrar, consultar y modificar el stock del restaurante</p>
				<div class="clear"></div>
			</div>
		<% end %>
		<%= link_to menus_path do %>
			<div class="starts">
				<div class="imagen">
					<%= image_tag('menu.png', :alt => 'menu')%>
				</div>
				<p>En esta sección el gerente podrá registrar, consultar y modificar los menús del restaurante</p>
				<div class="clear"></div>
			</div>
		<% end %>
		<%= link_to takeaways_path do %>
			<div class="starts">
				<div class="imagen">
					<%= image_tag('ver_reservas.png', :alt => 'ver_reservas')%>
				</div>
				<p>En esta sección el gerente podrá consultar los pedidos online del restaurante</p>
				<div class="clear"></div>
			</div>
		<% end %>
		<%= link_to statistics_index_path do %>
			<div class="starts">
				<div class="imagen">
					<%= image_tag('estadisticas.png', :alt => 'estadisticas')%>
				</div>
				<p>En esta sección el gerente podrá consultar las estadísticas del restaurante</p>
				<div class="clear"></div>
			</div>
		<% end %>
		<%= link_to questionnaires_path do %>
			<div class="starts">
				<div class="imagen">
					<%= image_tag('cuestionario.png', :alt => 'cuestionario')%>
				</div>
				<p>Es aquí donde el Gerente del restaurante generará cuestiones para que los clientes realicen las votaciones mientras se les suministra la cuenta</p>
				<div class="clear"></div>
			</div>
		<% end %>
		<%= link_to new_blog_path do %>
			<div class="starts">
				<div class="imagen">
					<%= image_tag('publicacion_blog.png', :alt => 'publicacion_blog')%>
				</div>
				<p>Blog donde el Gerente publicará noticias relevantes para que los clientes puedan verlas y dejar sus propios comentarios si lo desean</p>
				<div class="clear"></div>
			</div>
		<% end %>
	<% end %>
	<%= link_to emails_index_path do %>
		<div class="starts">
			<div class="imagen">
				<%= image_tag('mensajeria.png', :alt => 'mensajeria')%>
			</div>
			<p>Bandeja de mensajes de los usuarios, donde también se permitirá enviar y recibir mensajes entre los usuarios y restaurantes registrados en el sistema</p>
			<div class="clear"></div>
		</div>
	<% end %>
	<% if @current_role == 0 %>
		<%= link_to conversations_path do %>
			<div class="starts">
				<div class="imagen">
					<%= image_tag('chat.png', :alt => 'chat')%>
				</div>
				<p>Chat privado entre clientes del mismo restaurante donde poder comunicarse con otras personas registradas en el sistema</p>
				<div class="clear"></div>
			</div>
		<% end %>
	<% end %>
	<%= link_to profile_index_path do %>
		<div class="starts">
			<div class="imagen">
				<%= image_tag('mi_perfil.png', :alt => 'mi_pefil')%>
			</div>
			<p>Perfil del usuario donde se podrá modificar toda la información en caso de que lo desee</p>
			<div class="clear"></div>
		</div>
	<% end %>
	<% if @current_role == 0 || @current_role == 1 || @current_role == 2 || @current_role == 3 %>
		<%= link_to new_curriculum_path do %>
			<div class="starts">
				<div class="imagen">
					<%= image_tag('blog.png', :alt => 'blog')%>
				</div>
				<p>Ventana donde podremos enviar nuestro curriculum a un restaurante donde queramos trabajar y donde el gerente podra visualizarlos cuando lo necesite</p>
				<div class="clear"></div>
			</div>
		<% end %>
		<%= link_to contacts_path do %>
			<div class="starts">
				<div class="imagen">
					<%= image_tag('contactar.png', :alt => 'contactar')%>
				</div>
				<p>Información para poder contactar con el restaurante, así como su ubicación exacta en el mapa</p>
				<div class="clear"></div>
			</div>
		<% end %>
	<% end %>
	<%= link_to destroy_user_session_path , :class => "close_session", method: :delete do %>
			<div class="starts">
				<div class="imagen">
					<%= image_tag('cerrar_sesion.png', :alt => 'cerrar_sesion')%>
				</div>
				<p>Cerrar sesión del usuario actual</p>
				<div class="clear"></div>
			</div>
		<% end %>
</div>

<% if !@close_session %>
    <script type="text/javascript">
        $(".close_session").click(function(event){
            alert("Tiene comandas abiertas..No puede salir del sistema");
            event.preventDefault();
            event.stopPropagation();
            return false;
        });
    </script>
<% end %>

