<%= form_for @incidence do |f| %>
    <%= f.error_messages %>
    <p>
        <%= f.label :categoria %>
        <%= f.select :categoria, options_for_select(Incidence::INCIDENCE_CATEGORY.map.with_index {|index, value| [index, value]})%>
    </p>
    <p>
        <%= f.label :prioridad %>
        <%= f.select :rol, options_for_select(Incidence::PRIORITY_CATEGORY.map.with_index {|index, value| [index, value]})%>
    </p>
    <p>
        <%= f.label :titulo %>
        <%= f.text_field :title %>
    </p>
    <p>
        <%= f.label :fecha_creación %>
        <%= f.date_field :date_start %>
    </p>
    <p>
        <%= f.label :descripción %><br />
        <%= f.text_area :description, :cols => 30, rows: 5 %>
    </p>
    
    <%= f.hidden_field :restaurant_id, :value => @current_restaurant %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <p><%= f.submit %></p>
<% end %>
