<div id="padre">  
    <div id="hijo5"> 
        <div class="inf">
            <div class="cssToolTip">
                <%= image_tag('information.png', :alt => 'info')%>
                <span>
                    Manual de ayuda de Reportar Incidencia:<br>
                    En esta página el Usuario del Restaurante podrá reportar una incidencia al Gerente del Restaurante o incluso al Camarero si se trata de una incidencia relacionada con la comida. Las incidencias se clasifican en varias categorías:<br>
                    - COMIDA: En caso de que el Cliente encuentre alguna anomalía en el estado de la comida (este Mensaje lo recibirá el camarero instantaneamente para ser solucionado)<br>
                    - Resto de catgorías: MOBILIARIO, BAÑOS, COCINA, TERRAZA, BARRA, SALÓN, ATENCION PERSONAL, ELECTRICIDAD  y GENERAL<br>
                    Las incidencias también estan dotadas de una prioridad que el Cliente de forma justa dará a la incidencia para que el Gerente las atienda. Las prioridades son: 
                    - MUY BAJA, BAJA, MEDIA, ALTA y MUY ALTA (esta última se le dará siempre a una incidencia de COMIDA)
                </span> 
            </div>
        </div>
        <%= form_for @incidence do |f| %>
            <%= f.error_messages %>
            <div class="field">
                </br><%= f.label :categoría %>
                <%= f.select :category, options_for_select(Incidence::INCIDENCE_CATEGORY.map.with_index {|index, value| [index, value]})%>
            </div>
            <div class="field"> <div class="field">
                <%= f.label :prioridad %>
                <%= f.select :priority, options_for_select(Incidence::PRIORITY_CATEGORY.map.with_index {|index, value| [index, value]})%>
            </div>
            <div class="field">
                <%= f.label :asunto %>
                <%= f.text_field :title, :size=>"60" %>
            </div>
            <div class="field">
                </br><%= f.label :descripción %>
                <%= f.text_area :description, :cols => 60, rows: 5, placeholder: "Redacción de la Incidencia..." %>
            </div>
            <% if @current_role  == 3 %>
                <div class="field">
                    <%= f.label :fecha_solución %>
                    <%= f.date_field :date_solution %>
                </div>
                <div class="field">
                    <%= f.label :está_resuelto? %>
                    <%= f.select :is_solved, [['Resuelto', true], ['No Resuelto', false]], :selected => 'Permitido' %>
                </div>
            <% end %>
            <%= f.hidden_field :restaurant_id, :value => @current_restaurant.id %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <div class="field">
                </br><%= f.submit 'Crear Incidencia', :class => 'boton grey' %>
            </div>
            </br></br>
        <% end %>
    </div>
</div>
