<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table class="pretty">
    <tr>
        <th><%=  "Categoria" %></th>
        <th><%=  "Titulo" %></th>
        <th><%=  "Descripcon" %></th>
        <th><%=  "Esta resuelto" %></th>
        <th><%=  "Fecha creacion" %></th>
        <th><%=  "Fecha solucion" %></th>
        <th><%=  "Restaurante" %></th>
        <th><%=  "Usuario" %></th>
    </tr>
    <% @incidences.each do |incidence| %>
        <tr>
            <td><%= incidence.category %></td>
            <td><%= incidence.title %></td>
            <td><%= incidence.description %></td>
            <td><%= incidence.is_solved %></td>
            <td><%= incidence.date_start %></td>
            <td><%= incidence.date_solution %></td>
            <td><%= incidence.restaurant.name %></td>
            <td><%= incidence.user.user_name %></td>
            <td><%= link_to "Edit Blog", edit_incidence_path(incidence) %></td>
        </tr>
    <% end %>
</table>