<div class="title">Incidencias del Restaurante</div>
</br>
<ul class="tabs">
    <li><a href="#tab1">Incidencias Pendientes</a></li>
    <li><a href="#tab2">Incidencias Terminadas</a></li>
    <li><a href="#tab3">Incidencias Totales</a></li>
</ul>
<div class="contenedor_tab">
    <div id="tab1" class="contenido_tab">
        <%= button_to "Nuvea Incidencia", 'javascript:openWindow();', :method => "get", :class => 'boton grey' %>

        <table class="tabla4">
            <thead>
                <tr class="tabla4">
                    <th class="tabla4"><%=  "Titulo" %></th>
                    <th class="tabla4"><%=  "Categoría" %></th>
                    <th class="tabla4"><%=  "Prioridad" %></th>
                    <th class="tabla4"><%=  "Descripción" %></th>
                    <th class="tabla4"><%=  "Fecha creación" %></th>
                    <th class="tabla4"><%=  "Usuario" %></th>
                    <th class="tabla4"><%=  "¿Esta resuelto?" %></th>
                </tr>
            </thead>
            <tbody>
                <% if @current_role == 1 %>
                    <% @incidences_pending_waiter.each do |incidence| %>
                        <tr class="tabla4">
                            <td class="tabla4"><%= incidence.title %></td>
                            <td class="tabla4"><%= Incidence::INCIDENCE_CATEGORY[incidence.category] %></td>
                            <% if incidence.priority == 4 %>
                                <td class="inc1"><%= Incidence::PRIORITY_CATEGORY[incidence.priority] %></td>
                            <% elsif incidence.priority == 3 %>
                                <td class="inc2"><%= Incidence::PRIORITY_CATEGORY[incidence.priority] %></td>
                            <% elsif incidence.priority == 2 %>
                                <td class="inc3"><%= Incidence::PRIORITY_CATEGORY[incidence.priority] %></td>
                            <% elsif incidence.priority == 1 %>
                                <td class="inc4"><%= Incidence::PRIORITY_CATEGORY[incidence.priority] %></td>
                            <% else %>
                                <td class="inc5"><%= Incidence::PRIORITY_CATEGORY[incidence.priority] %></td>
                            <% end %>
                            <td class="tabla4" title="<%= incidence.description %>"><div id="container2"><%= incidence.description %></div></td>
                            <td class="tabla4"><%= incidence.created_at.strftime("%d %B %Y -- %X") %></td>
                            <td class="tabla4"><%= incidence.user.user_name %></td>
                            <% if !incidence.is_solved %>
                                <td class="b1"><%= incidence.is_solved %></td>
                            <% else %>
                                <td class="b2"><%= incidence.is_solved %></td>
                            <% end %>
                            <td class="tabla4"><%= link_to "Edit Incidencia", edit_incidence_path(incidence), :class => 'boton grey' %></td>
                        </tr>
                    <% end %>
                <% else %>
                    <% @incidences_pending.each do |incidence| %>
                        <tr class="tabla4">
                            <td class="tabla4"><%= incidence.title %></td>
                            <td class="tabla4"><%= Incidence::INCIDENCE_CATEGORY[incidence.category] %></td>
                            <% if incidence.priority == 4 %>
                                <td class="inc1"><%= Incidence::PRIORITY_CATEGORY[incidence.priority] %></td>
                            <% elsif incidence.priority == 3 %>
                                <td class="inc2"><%= Incidence::PRIORITY_CATEGORY[incidence.priority] %></td>
                            <% elsif incidence.priority == 2 %>
                                <td class="inc3"><%= Incidence::PRIORITY_CATEGORY[incidence.priority] %></td>
                            <% elsif incidence.priority == 1 %>
                                <td class="inc4"><%= Incidence::PRIORITY_CATEGORY[incidence.priority] %></td>
                            <% else %>
                                <td class="inc5"><%= Incidence::PRIORITY_CATEGORY[incidence.priority] %></td>
                            <% end %>
                            <td class="tabla4" title="<%= incidence.description %>"><div id="container2"><%= incidence.description %></div></td>
                            <td class="tabla4"><%= incidence.created_at.strftime("%d %B %Y -- %X") %></td>
                            <td class="tabla4"><%= incidence.user.user_name %></td>
                            <% if !incidence.is_solved %>
                                <td class="b1"><%= incidence.is_solved %></td>
                            <% else %>
                                <td class="b2"><%= incidence.is_solved %></td>
                            <% end %>
                            <td class="tabla4"><%= link_to "Edit Incidencia", edit_incidence_path(incidence), :class => 'boton grey' %></td>
                        </tr>
                    <% end %>
                <% end %>
            </tbody>
            <tfoot>
                <tr class="tabla4">
                    <th class="tabla4" colspan="7">
                        <div class="pagination">
                            <div class="digg_pagination">
                                <%= will_paginate @incidences, :container => false %>
                            </div>
                        </div>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
    <div id="tab2" class="contenido_tab">
         <table class="tabla4">
            <thead>
                <tr class="tabla4">
                    <th class="tabla4"><%=  "Titulo" %></th>
                    <th class="tabla4"><%=  "Categoría" %></th>
                    <th class="tabla4"><%=  "Prioridad" %></th>
                    <th class="tabla4"><%=  "Fecha creación" %></th>
                    <th class="tabla4"><%=  "Fecha solución" %></th>
                    <th class="tabla4"><%=  "Usuario" %></th>
                    <th class="tabla4"><%=  "¿Esta resuelto?" %></th>
                </tr>
            </thead>
            <tbody>
                <% if @current_role == 1 %>
                    <% @incidences_solved_waiter.each do |incidence| %>
                        <tr class="tabla4">
                            <td class="tabla4"><%= incidence.title %></td>
                            <td class="tabla4"><%= Incidence::INCIDENCE_CATEGORY[incidence.category] %></td>
                            <% if incidence.priority == 4 %>
                                <td class="inc1"><%= Incidence::PRIORITY_CATEGORY[incidence.priority] %></td>
                            <% elsif incidence.priority == 3 %>
                                <td class="inc2"><%= Incidence::PRIORITY_CATEGORY[incidence.priority] %></td>
                            <% elsif incidence.priority == 2 %>
                                <td class="inc3"><%= Incidence::PRIORITY_CATEGORY[incidence.priority] %></td>
                            <% elsif incidence.priority == 1 %>
                                <td class="inc4"><%= Incidence::PRIORITY_CATEGORY[incidence.priority] %></td>
                            <% else %>
                                <td class="inc5"><%= Incidence::PRIORITY_CATEGORY[incidence.priority] %></td>
                            <% end %>
                            <td class="tabla4"><%= incidence.created_at.strftime("%d %B %Y -- %X") %></td>
                            <% if incidence.date_solution != nil %>
                                <td class="tabla4"><%= incidence.date_solution.strftime("%d %B %Y -- %X") %></td>
                            <% else %>
                                <td class="tabla4"></td>
                            <% end %>
                            <td class="tabla4"><%= incidence.user.user_name %></td>
                            <% if !incidence.is_solved %>
                                <td class="b1"><%= incidence.is_solved %></td>
                            <% else %>
                                <td class="b2"><%= incidence.is_solved %></td>
                            <% end %>
                        </tr>
                    <% end %>
                <% else %>
                    <% @incidences_solved.each do |incidence| %>
                        <tr class="tabla4">
                            <td class="tabla4"><%= incidence.title %></td>
                            <td class="tabla4"><%= Incidence::INCIDENCE_CATEGORY[incidence.category] %></td>
                            <% if incidence.priority == 4 %>
                                <td class="inc1"><%= Incidence::PRIORITY_CATEGORY[incidence.priority] %></td>
                            <% elsif incidence.priority == 3 %>
                                <td class="inc2"><%= Incidence::PRIORITY_CATEGORY[incidence.priority] %></td>
                            <% elsif incidence.priority == 2 %>
                                <td class="inc3"><%= Incidence::PRIORITY_CATEGORY[incidence.priority] %></td>
                            <% elsif incidence.priority == 1 %>
                                <td class="inc4"><%= Incidence::PRIORITY_CATEGORY[incidence.priority] %></td>
                            <% else %>
                                <td class="inc5"><%= Incidence::PRIORITY_CATEGORY[incidence.priority] %></td>
                            <% end %>
                            <td class="tabla4"><%= incidence.created_at.strftime("%d %B %Y -- %X") %></td>
                            <% if incidence.date_solution != nil %>
                                <td class="tabla4"><%= incidence.date_solution.strftime("%d %B %Y -- %X") %></td>
                            <% else %>
                                <td class="tabla4"></td>
                            <% end %>
                            <td class="tabla4"><%= incidence.user.user_name %></td>
                            <% if !incidence.is_solved %>
                                <td class="b1"><%= incidence.is_solved %></td>
                            <% else %>
                                <td class="b2"><%= incidence.is_solved %></td>
                            <% end %>
                        </tr>
                    <% end %>
                <% end %>
            </tbody>
            <tfoot>
                <tr class="tabla4">
                    <th class="tabla4" colspan="7">
                        <div class="pagination">
                            <div class="digg_pagination">
                                <%= will_paginate @incidences, :container => false %>
                            </div>
                        </div>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
    <div id="tab3" class="contenido_tab">
        <table class="tabla4">
            <thead>
                <tr class="tabla4">
                    <th class="tabla4"><%=  "Titulo" %></th>
                    <th class="tabla4"><%=  "Categoría" %></th>
                    <th class="tabla4"><%=  "Prioridad" %></th>
                    <th class="tabla4"><%=  "Descripción" %></th>
                    <th class="tabla4"><%=  "Fecha creación" %></th>
                    <th class="tabla4"><%=  "Restaurante" %></th>
                    <th class="tabla4"><%=  "Usuario" %></th>
                    <th class="tabla4"><%=  "¿Esta resuelto?" %></th>
                </tr>
            </thead>
            <tbody>
                <% if @current_role == 1 %>
                    <% @incidences_waiter.each do |incidence| %>
                        <tr>
                            <td class="tabla4"><%= incidence.title %></td>
                            <td class="tabla4"><%= Incidence::INCIDENCE_CATEGORY[incidence.category] %></td>
                            <% if incidence.priority == 4 %>
                                <td class="inc1"><%= Incidence::PRIORITY_CATEGORY[incidence.priority] %></td>
                            <% elsif incidence.priority == 3 %>
                                <td class="inc2"><%= Incidence::PRIORITY_CATEGORY[incidence.priority] %></td>
                            <% elsif incidence.priority == 2 %>
                                <td class="inc3"><%= Incidence::PRIORITY_CATEGORY[incidence.priority] %></td>
                            <% elsif incidence.priority == 1 %>
                                <td class="inc4"><%= Incidence::PRIORITY_CATEGORY[incidence.priority] %></td>
                            <% else %>
                                <td class="inc5"><%= Incidence::PRIORITY_CATEGORY[incidence.priority] %></td>
                            <% end %>
                            <td class="tabla4" title="<%= incidence.description %>"><div id="container2"><%= incidence.description %></div></td>
                            <td class="tabla4"><%= incidence.created_at.strftime("%d %B %Y -- %X") %></td>
                            <td class="tabla4"><%= incidence.restaurant.name %></td>
                            <td class="tabla4"><%= incidence.user.user_name %></td>
                            <% if !incidence.is_solved %>
                                <td class="b1"><%= incidence.is_solved %></td>
                            <% else %>
                                <td class="b2"><%= incidence.is_solved %></td>
                            <% end %>
                        </tr>
                    <% end %>
                <% else %>
                    <% @incidences.each do |incidence| %>
                        <tr>
                            <td class="tabla4"><%= incidence.title %></td>
                            <td class="tabla4"><%= Incidence::INCIDENCE_CATEGORY[incidence.category] %></td>
                            <% if incidence.priority == 4 %>
                                <td class="inc1"><%= Incidence::PRIORITY_CATEGORY[incidence.priority] %></td>
                            <% elsif incidence.priority == 3 %>
                                <td class="inc2"><%= Incidence::PRIORITY_CATEGORY[incidence.priority] %></td>
                            <% elsif incidence.priority == 2 %>
                                <td class="inc3"><%= Incidence::PRIORITY_CATEGORY[incidence.priority] %></td>
                            <% elsif incidence.priority == 1 %>
                                <td class="inc4"><%= Incidence::PRIORITY_CATEGORY[incidence.priority] %></td>
                            <% else %>
                                <td class="inc5"><%= Incidence::PRIORITY_CATEGORY[incidence.priority] %></td>
                            <% end %>
                            <td class="tabla4" title="<%= incidence.description %>"><div id="container2"><%= incidence.description %></div></td>
                            <td class="tabla4"><%= incidence.created_at.strftime("%d %B %Y -- %X") %></td>
                            <td class="tabla4"><%= incidence.restaurant.name %></td>
                            <td class="tabla4"><%= incidence.user.user_name %></td>
                            <% if !incidence.is_solved %>
                                <td class="b1"><%= incidence.is_solved %></td>
                            <% else %>
                                <td class="b2"><%= incidence.is_solved %></td>
                            <% end %>
                        </tr>
                    <% end %>
                <% end %>
            </tbody>
            <tfoot>
                <tr class="tabla4">
                    <th class="tabla4" colspan="9">
                        <div class="pagination">
                            <div class="digg_pagination">
                                <%= will_paginate @incidences, :container => false %>
                            </div>
                        </div>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<div style="clear:both;">
</div>

<div class="window">
    <div class="cerrar"><%= link_to "Cerrar X", 'javascript:closeWindow();', data: { confirm: "¿Está seguro que desea cerrar?"} %></div>
    <div class="title">Nueva Incidencia</div>
    <%= render 'form' %>
</div>

<script type="text/javascript">
    function openWindow(){
        $(".window").slideDown("slow");
    }
    function closeWindow(){
        $(".window").slideUp("fast");
    }
</script>