<h1>Incidencias del Restaurante</h1>

<table class="pretty">
    <tr>
        <th><%=  "Titulo" %></th>
        <th><%=  "Categoria" %></th>
        <th><%=  "Prioridad" %></th>
        <th><%=  "Descripcon" %></th>
        <th><%=  "Esta resuelto" %></th>
        <th><%=  "Fecha creacion" %></th>
        <th><%=  "Fecha solucion" %></th>
        <th><%=  "Restaurante" %></th>
        <th><%=  "Usuario" %></th>
    </tr>
    <% @incidences.each do |incidence| %>
        <tr>
            <td><%= incidence.title %></td>
            <td><%= Incidence::INCIDENCE_CATEGORY[incidence.category] %></td>
            <td><%= Incidence::PRIORITY_CATEGORY[incidence.priority] %></td>
            <td><%= incidence.description %></td>
            <td><%= incidence.is_solved %></td>
            <td><%= incidence.date_start %></td>
            <td><%= incidence.date_solution %></td>
            <td><%= incidence.restaurant.name %></td>
            <td><%= incidence.user.user_name %></td>
            <td><%= link_to "Edit Blog", edit_incidence_path(incidence) %></td>
        </tr>
    <% end %>
</table>

<p><%= link_to "New Incidence", new_incidence_path %></p>
