<%= form_for @stock do |f| %>
    <%= f.error_messages %>
    <div class="field">
        </br><%= f.label :producto %><br />
        <%= f.select :product_id, options_from_collection_for_select( Product.where("restaurant_id = ?", "#{@current_restaurant}"), :id, :name)%>
    </div>
    <div class="field">
        <%= f.label :cantidad %><br />
        <%= f.text_field :quantity %>
    </div>
    <div class="field">
        <%= f.label :descripción_stock %><br />
        <%= f.text_field :description_stock %>
    </div>
    <div class="field">
        <%= f.label :Coste_materia_prima_unidad %><br />
        <%= f.text_field :price_buy_unity %>
    </div>
    <div class="field">
        </br><%= f.submit %>
    </div>
<% end %>
