<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table class="pretty">
    <tr>
        <th><%=  "Nombre Producto" %></th>
        <th><%=  "Coste Publico Unidad" %></th>
        <th><%=  "Cantidad en Stock" %></th>
        <th><%=  "Descipcion" %></th>
        <th><%=  "Precio Compra Unidad" %></th>
        <th><%=  "Gasto Total Producto Mercado" %></th>
    </tr>
    <% @stocks.each do |stock| %>
        <tr>
            <td><%= stock.product.name %></td>
            <td class="price"><%= number_to_currency(stock.product.unit_price, :unit => "€") %></td>
            <td><%= stock.quantity %></td>
            <td><%= stock.description_stock %></td>
            <td class="price"><%= number_to_currency(stock.price_buy_unity) %></td>
            <td class="price"><%= number_to_currency(stock.quantity * stock.price_buy_unity, :unit => "€") %></td>
            <td><%= link_to "Edit Stock", edit_stock_path(stock) %></td>
        </tr>
    <% end %>
</table>
