<div class="title">Restaurantes Registrados</div>
<table>
    <thead>
        <tr>
            <%= form_tag total_restaurants_index_path, method: :get do %>
                <th>Restaurante<p><%= text_field_tag :name, params[:name], class: "form-control", placeholder: "Nombre Restaurante" %></p></th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Dirección</th>
                <th>Ciudad</th>
                <th>Pais</th>
                <th>Código postal</th>
                <th>Coord. Latitud</th>
                <th>Coord. Longitud</th>
                <th>Horario Apertura</th>
                <th>Fecha Registrado</th>
                <th>Fecha Modificación</th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <% @restaurants.each do |total_restaurants| %>
            <tr>
                <td><%= total_restaurants.name %></td>
                <td><%= total_restaurants.email %></td>
                <td><%= total_restaurants.phone %></td>
                <td><%= total_restaurants.address %></td>
                <td><%= total_restaurants.city %></td>
                <td><%= total_restaurants.country %></td>
                <td><%= total_restaurants.postal_code %></td>
                <td><%= total_restaurants.latitude %></td>
                <td><%= total_restaurants.longitude %></td>
                <td><%= total_restaurants.opening_hours %></td>
                <td><%= total_restaurants.created_at.strftime("%d %B %Y - %X") %></td>
                <td><%= total_restaurants.updated_at.strftime("%d %B %Y - %X") %></td>
            </tr>
        <% end %>
    </tbody>
    <tfoot>
        <%= will_paginate @restaurants %>
    </tfoot>
</table>