<div class="title">Restaurantes Asociados</div>
</br>	
<div class ="muestra-tabla">
	<table class="tabla2">
		<thead>
			<tr class="tabla2">
				<th class="tabla2" >
					<div class="cssToolTip">
					    <%= "Restaurante" %>
						<span>Nombre del Restaurante al que esta registrado Usuario</span> 
					</div>
				</th>
				<th class="tabla2" >
					<div class="cssToolTip">
					    <%= "Usuario" %>
						<span>Nombre del Usuario</span> 
					</div>
				</th>
				<th class="tabla2" >
					<div class="cssToolTip">
					    <%= "Gastado" %>
						<span>Total gastado por el Usuario en el Restaurante</span> 
					</div>
				</th>
				<th class="tabla2" >
					<div class="cssToolTip">
					    <%= "Rol Usuario" %>
						<span>Categoría de Usuario en el Restaurante</span> 
					</div>
				</th>
				<th class="tabla2" >
					<div class="cssToolTip">
					    <%= "Descuento Adicional" %>
						<span>Descuento que se le aplicará al Usuario en la Comanda</span> 
					</div>
				</th>
			</tr>
		</thead>
		<tbody>
			<% @restaurant_users.each do |restaurant_user| %>
				<tr class="tabla2">
					<td class="tabla2"><%= restaurant_user.restaurant.name %></td>
					<td class="tabla2"><%= restaurant_user.user.user_name %></td>
					<td class="tabla2">X</td>
					<td class="tabla2"><%= RestaurantUser::ROLES[restaurant_user.rol] %></td>
					<td class="tabla2" class="price" title="<%= restaurant_user.restaurant.name%>"><%= number_to_currency(restaurant_user.discount, :unit => "%") %></td>
					<% if !current_user.superadmin %>
						<td><%= link_to "Seleccionar", restaurants_select_path(restaurant_user_id: restaurant_user.id), :class => 'boton grey'%>    
							<%= link_to "Dar de Baja", restaurant_user_path(restaurant_user.id), method: :delete, data: { confirm: "¿Esta seguro que desea darse de baja del Restaurante?"}, :class => 'boton grey' %>
							
						</td>
					<% else %>
						<td>
							<%= link_to "Dar de Baja", restaurant_user_path(restaurant_user.id), method: :delete, data: { confirm: "¿Esta seguro que desea darse de baja del Restaurante?"}, :class => 'boton grey' %>
						</td>
					<% end%>
				</tr>
			<% end %>
		</tbody>
		<tfoot>
			<tr class="tabla2">
				<th class="tabla2" colspan="5">
					<div class="pagination">
                        <div class="digg_pagination">
                            <%= will_paginate @restaurant_users, :container => false %>
                        </div>
                    </div>
				</th>
			</tr>
		</tfoot>
	</table>
</div>
<div class="muestra-opciones">
	</br></br></br>
	<% if current_user.superadmin %>
		<div class="accionTitle">Registra Personal</div>
		<div id="padre">  
			<div id="hijo4">                           
				<%= form_for @restaurants_users do |f| %>
					<div class="field">
						</br><%= f.label :selecione_restaurante %></br>
						<%= f.select :restaurant_id, options_from_collection_for_select( Restaurant.all, :id, :name)%>
					</div>
					<% if current_user.superadmin %>
						<div class="field">
							</br><%= f.label :selecione_usuario %></br>
							<%= f.select :user_id, options_from_collection_for_select( User.where("id != ? AND email NOT LIKE ?", "#{current_user.id}", "#{'guest_'}%"), :id, :email )%>
						</div>
						<div class="field">
							</br><%= f.label :función_usuario %></br>
							<%= f.select :rol, options_for_select(RestaurantUser::ROLES.map.with_index {|index, value| [index, value]})%>
						</div>
					<% end %>
					<div class="field">
						</br><%= f.submit "Dar de Alta Personal", :class => 'boton grey' %>
					</div>
					</br></br>
				<% end %> 
			</div>
		</div>  
	<% else %>
		<%= form_for @restaurants_users do |f| %>
			<div class="accionTitle">Apuntarse a un Restaurante</div>
			<div id="padre">  
    			<div id="hijo4">
					<div class="field">
						</br><%= f.label :selecione_restaurante %></br>
						<%= f.select :restaurant_id, options_from_collection_for_select( Restaurant.where("id != ? AND email NOT LIKE ?", "#{current_user.id}", "#{'guest_'}%"), :id, :name)%>
					</div>
			        <%= f.hidden_field :user_id, :value => current_user.id %>
					<div class="field">
						</br><%= f.submit "Dar de Alta Restaurante", :class => 'boton grey' %>
					</div>
					</br></br>
				</div>
			</div>
		<% end %>
    <% end %>
    </br></br></br></br>
</div>