<h1>Restaurantes Asociados</h1>

<div class ="muestra-tabla">
	<table>
		<thead>
			<tr>
				<th>Nombre Restaurante</th>
				<th>Tipo Usuario</th>
			</tr>
		</thead>
		<tbody>
			<% @restaurant_users.each do |restaurant_user| %>
				<tr>
					<%if current_user.id == restaurant_user.user_id || current_user.superadmin %>
						<td><%= restaurant_user.restaurant.name %></td> 
						<td><%= RestaurantUser::ROLES[restaurant_user.rol] %></td>
						<td><%= link_to "Select", restaurants_select_path(restaurant_id: restaurant_user.restaurant_id) %></td>
					<% end%>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
<div class="muestra-opciones">
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script> 
	<script type="text/javascript">
		jQuery(document).ready(function() {
		jQuery("a.mostrar").click(function(){
		jQuery("div.chatbox").toggle("slow");
		return false;
		});
		});
	</script>

	<a href="#" class="mostrar">Apuntarte a otro restaurante</a><br/>
	<div class="chatbox">
		<%= form_for @restaurants_users do |f| %>
			<p>Seleccione Restaurante: <%= f.select :restaurant_id, options_from_collection_for_select( Restaurant.all, :id, :name)%></p>
			

			<% if current_user.superadmin %>
				<p>Seleccione Restaurante: <%= f.select :user_id, options_from_collection_for_select( User.all, :id, :email)%></p>

				<p>Seleccione Restaurante: <%= f.select :rol, options_for_select(RestaurantUser::ROLES.map.with_index {|index, value| [index, value]})%></p>
			
						
			<% end %>

			<p><%= f.submit %></p>


		<% end %>
    </div>
</div>