<div class="title">Restaurantes Asociados</div>
</br>	
<div class ="muestra-tabla">
	<table class="tabla2">
		<thead>
			<tr class="tabla2">
				<th class="tabla2" title="Nombre del Restaurante al que esta Registrado el Usuario">Restaurante</th>
				<th class="tabla2" title="Nombre del Usuario">Usuario</th>
				<th class="tabla2" title="Total gastado por el usuario en el Restaurante">Gastado</th>
				<th class="tabla2" title="Categoría del Usuario en el Restaurante">Rol Usuario</th>
				<th class="tabla2" title="Descuento que se le aplicará al Usuario en la comanda">Descuento Adicional</th>
			</tr>
		</thead>
		<tbody>
			<% @restaurant_users.each do |restaurant_user| %>
				<tr class="tabla2">
					<td class="tabla2"><%= restaurant_user.restaurant.name %></td>
					<td class="tabla2"><%= restaurant_user.user.user_name %></td>
					<td class="tabla2">X</td>
					<td class="tabla2"><%= RestaurantUser::ROLES[restaurant_user.rol] %></td>
					<td class="tabla2" class="price" title="<%= restaurant_user.restaurant.name%>"><%= number_to_currency(restaurant_user.discount, :unit => "%") %></td>
					<% if !current_user.superadmin %>
						<td><%= link_to "Seleccionar", restaurants_select_path(restaurant_user_id: restaurant_user.id), :class => 'boton grey'%>    
							<%= link_to "Darme de Baja", restaurant_user_path(restaurant_user.id), method: :delete, data: { confirm: "¿Esta seguro que desea darse de baja del Restaurante?"}, :class => 'boton grey' %>
							
						</td>
					<% else %>
						<td>
							<%= link_to "Dar de Baja", restaurant_user_path(restaurant_user.id), method: :delete, data: { confirm: "¿Esta seguro que desea darse de baja del Restaurante?"}, :class => 'boton grey' %>
						</td>
					<% end%>
				</tr>
			<% end %>
		</tbody>
		<tfoot>
			<tr class="tabla2">
				<th class="tabla2" colspan="5">
					<%= will_paginate @restaurant_users %>
				</th>
			</tr>
		</tfoot>
	</table>
</div>
<div class="muestra-opciones">
	</br></br></br>
	<% if current_user.superadmin %>
		<div class="accion">Registra Personal</div>                              
		<%= form_for @restaurants_users do |f| %>
			<div class="field">
				</br><%= f.label :selecione_restaurante %>
				<%= f.select :restaurant_id, options_from_collection_for_select( Restaurant.all, :id, :name)%>
			</div>
			<% if current_user.superadmin %>
				<div class="field">
					</br><%= f.label :selecione_usuario %>
					<%= f.select :user_id, options_from_collection_for_select( User.where("id != ? AND email NOT LIKE ?", "#{current_user.id}", "#{'guest_'}%"), :id, :email )%>
				</div>
				<div class="field">
					</br><%= f.label :función_usuario %>
					<%= f.select :rol, options_for_select(RestaurantUser::ROLES.map.with_index {|index, value| [index, value]})%>
				</div>
			<% end %>
			<div class="field">
				</br><%= f.submit "Dar de Alta Personal", :class => 'boton grey' %>
			</div>
		<% end %>   
	<% else %>
		<%= form_for @restaurants_users do |f| %>
			<div class="accion">Apuntarse a un Restaurante</div>
			<div class="field">
				</br><%= f.label :selecione_restaurante %>
				<%= f.select :restaurant_id, options_from_collection_for_select( Restaurant.where("id != ? AND email NOT LIKE ?", "#{current_user.id}", "#{'guest_'}%"), :id, :name)%>
			</div>
	        <%= f.hidden_field :user_id, :value => current_user.id %>
			<div class="field">
				</br><%= f.submit "Dar de Alta Restaurante", :class => 'boton grey' %>
			</div>
		<% end %>
    <% end %>
    </br></br></br></br></br></br></br></br></br>
</div>