<div class="title">Restaurantes Asociados</div>
<div class ="muestra-tabla">
	<table>
		<thead>
			<tr>
				<th>Restaurante</th>
				<th>Usuario</th>
				<th>Rol Usuario</th>
				<th>Descuento Adicional</th>
			</tr>
		</thead>
		<tbody>
			<% @restaurant_users.each do |restaurant_user| %>
				<tr>
					<td><%= restaurant_user.restaurant.name %></td>
					<td><%= restaurant_user.user.user_name %></td>
					<td><%= RestaurantUser::ROLES[restaurant_user.rol] %></td>
					<td class="price"><%= number_to_currency(restaurant_user.discount, :unit => "%") %></td>
					<% if !current_user.superadmin %>
						<td><%= link_to "Select", restaurants_select_path(restaurant_user_id: restaurant_user.id) %></td>
					<% end%>
				</tr>
			<% end %>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="4"><%= will_paginate @restaurant_users %></td>
			</tr>
		</tfoot>
	</table>
</div>
<div class="muestra-opciones">
	<% if current_user.superadmin %>
		<div class="accion">Registra Personal</div>                              
		<%= form_for @restaurants_users do |f| %>
			<div class="field">
				</br><%= f.label :selecione_restaurante %>
				<%= f.select :restaurant_id, options_from_collection_for_select( Restaurant.all, :id, :name)%>
			</div>
			<% if current_user.superadmin %>
				<div class="field">
					</br><%= f.label :selecione_usuario %>
					<%= f.select :user_id, options_from_collection_for_select( User.where("id != ? AND email NOT LIKE ?", "#{current_user.id}", "#{'guest_'}%"), :id, :email)%>
				</div>
				<div class="field">
					</br><%= f.label :función_usuario %>
					<%= f.select :rol, options_for_select(RestaurantUser::ROLES.map.with_index {|index, value| [index, value]})%>
				</div>
			<% end %>
			<div class="field">
				</br><%= f.submit "Dar de alta Usuario en Restaurante"%>
			</div>
		<% end %>   
	<% else %>
		<%= form_for @restaurants_users do |f| %>
			<div class="accion">Apuntarse a un Restaurante</div>
			<div class="field">
				</br><%= f.label :selecione_restaurante %>
				<%= f.select :restaurant_id, options_from_collection_for_select( Restaurant.where("id != ? AND email NOT LIKE ?", "#{current_user.id}", "#{'guest_'}%"), :id, :name)%>
			</div>
	        <%= f.hidden_field :user_id, :value => current_user.id %>
			<div class="field">
				</br><%= f.submit %>
			</div>
		<% end %>
    <% end %>
</div>