<div class="title">Restaurantes Asociados</div>
<div class ="muestra-tabla">
	<div class="new">
		<div class="inf">
			<div class="cssToolTip">
	        	<%= image_tag('information.png', :alt => 'info')%>
				<span>
					Manual de ayuda de Registro de Empleado:<br>
					En esta página el Administrador pordrá podrá seleccionar un Usuario que ya esté registrado y asignarlo a un restaurante como empleado. Las funcionalidades que tiene son:<br>
					- Seleccionar: El Cliente selecciona el Restaurante en el que realizar las funcionalidades.<br>
					- Dar de Baja: El Usuario podrá darse de baja de un Restaurante determinado.<br>
					- Administrar: Es aqui donde el Usuario podrá darse de alta en un nuevo REstaurante de la lista de REstaurantes que estan asociados.
				</span> 
			</div>
		</div>
		<div class="new">
			<p class="header"><%= button_to 'Registrar Empleado', 'javascript:openWindow();', :method => "get", :class => 'boton grey' %></p>
		</div>
	</div>
	<table class="tabla2">
		<thead>
			<tr class="tabla2">
				<%= form_tag restaurant_users_path, method: :get do %>
					<th class="tabla2" >
						<div class="cssToolTip">
						    <%= "Restaurante" %>
							<span>Nombre del Restaurante al que está registrado Usuario</span> 
						</div>
						<p><%= text_field_tag :name, params[:name], class: "form-control", placeholder: "Nombre Restaurante" %></p>
					</th>
					<th class="tabla2" >
						<div class="cssToolTip">
						    <%= "Dirección" %>
							<span>Dirección del Restaurante al que está registrado Usuario</span> 
						</div>
					</th>
					<th class="tabla2" >
						<div class="cssToolTip">
						    <%= "Usuario" %>
							<span>Nombre del usuario registrado en el Restaurante</span> 
						</div>
					</th>
					<th class="tabla2" >
						<div class="cssToolTip">
						    <%= "Rol Usuario" %>
							<span>Categoría de Usuario en el Restaurante</span> 
						</div>
					</th>
				<% end %>
			</tr>
		</thead>
		<tbody>
			<% @restaurant_users.each do |restaurant_user| %>
				<tr class="tabla2" title="<%= restaurant_user.restaurant.name %> - <%= restaurant_user.restaurant.address %> - <%= restaurant_user.restaurant.city %>">
					<td class="tabla2"><%= restaurant_user.restaurant.name %></td>
					<td class="tabla2"><%= restaurant_user.restaurant.address %>, <%= restaurant_user.restaurant.city %></td>
					<td class="tabla2"><%= restaurant_user.user.user_name %></td>
					<td class="tabla2"><%= RestaurantUser::ROLES[restaurant_user.rol] %></td>
					<% if !current_user.superadmin %>
						<td><%= link_to "Seleccionar", restaurants_select_path(restaurant_user_id: restaurant_user.id), :class => 'boton grey'%>
							<%#= link_to "Comanda", commands_path(restaurant_user_id: restaurant_user.id), :class => 'boton grey' if !@ended%>    
							<%= link_to "Dar de Baja", restaurant_user_path(restaurant_user.id), method: :delete, data: { confirm: "¿Esta seguro que desea darse de baja del Restaurante?"}, :class => 'boton grey' %>
							
						</td>
					<% else %>
						<td>
							<%= link_to "Dar de Baja", restaurant_user_path(restaurant_user.id), method: :delete, data: { confirm: "¿Esta seguro que desea darse de baja del Restaurante?"}, :class => 'boton grey' %>
						</td>
					<% end%>
				</tr>
			<% end %>
		</tbody>
		<tfoot>
			<tr class="tabla2">
				<th class="tabla2" colspan="4">
					<div class="pagination">
                        <div class="digg_pagination">
                            <%= will_paginate @restaurant_users, :container => false %>
                        </div>
                    </div>
				</th>
			</tr>
		</tfoot>
	</table>
</div>


<div class="window">
    <div class="cerrar"><%= link_to "Cerrar X", 'javascript:closeWindow();', data: { confirm: "¿Está seguro que desea cerrar?"}, :class => 'boton red' %></div>
    </br>
    <% if current_user.superadmin %>
		<div class="title">Registra Personal</div>
		<div id="padre">  
			<div id="hijo3">                           
				<%= form_for @restaurants_users do |f| %>
					<div class="field">
						</br><%= f.label :selecione_restaurante %></br>
						<%= f.select :restaurant_id, options_from_collection_for_select( Restaurant.all, :id, :name)%>
					</div>
					<% if current_user.superadmin %>
						<div class="field">
							</br><%= f.label :selecione_usuario %></br>
							<%= f.select :user_id, options_from_collection_for_select( User.where("id != ? AND email NOT LIKE ?", "#{current_user.id}", "#{'guest_'}%"), :id, :email )%>
						</div>
						<div class="field">
							</br><%= f.label :función_usuario %></br>
							<%= f.select :rol, options_for_select(RestaurantUser::ROLES.map.with_index {|index, value| [index, value]})%>
						</div>
					<% end %>
					<div class="field">
						</br><%= f.submit "Dar de Alta Personal", :class => 'boton grey' %>
					</div>
					</br></br>
				<% end %> 
			</div>
		</div>  
	<% else %>
		<%= form_for @restaurants_users do |f| %>
			<div class="title">Apuntarse a un Restaurante</div>
			<div id="padre">  
    			<div id="hijo3">
					<div class="field">
						</br><%= f.label :selecione_restaurante %></br>
						<%= f.select :restaurant_id, options_from_collection_for_select( Restaurant.where("id != ? AND email NOT LIKE ?", "#{current_user.id}", "#{'guest_'}%"), :id, :name)%>
					</div>
			        <%= f.hidden_field :user_id, :value => current_user.id %>
					<div class="field">
						</br><%= f.submit "Unirse al Restaurante", :class => 'boton grey' %>
					</div>
					</br></br>
				</div>
			</div>
		<% end %>
    <% end %>
</div>

<script type="text/javascript">
    function openWindow(){
        $(".window").slideDown("slow");
    }
    function closeWindow(){
        $(".window").slideUp("fast");
    }
</script>