<h1>Restaurantes Asociados</h1>

<div class ="muestra-tabla">
	<table>
		<thead>
			<tr>
				<td>Nombre Restaurante</td>
				<td>Tipo Usuario</td>
			</tr>
		</thead>
		<tbody>
			<% @restaurant_users.each do |restaurant_user| %>
				<tr>
					<%if current_user.id == restaurant_user.user_id%>
						<th><%= restaurant_user.restaurant.name %></th> 
						<th><%= RestaurantUser::ROLES[current_user.user_type] %></th>
					<% end%>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
<div class="muestra-opciones">
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script> 
	<script type="text/javascript">
		jQuery(document).ready(function() {
		jQuery("a.mostrar").click(function(){
		jQuery("div.chatbox").toggle("slow");
		return false;
		});
		});
	</script>

	<a href="#" class="mostrar">Apuntarte a otro restaurante</a><br/>
	<div class="chatbox">
		<%= form_for @restaurants_users do |f| %>
			<p>Seleccione Restaurante: <%= f.select :restaurant_id, options_from_collection_for_select( Restaurant.all, :id, :name)%></p>
			<p><%= f.submit %></p>
		<% end %>
    </div>
</div>