<%= form_for @takeaway do |f| %>
    <%= f.error_messages %>
    <p>
        <%= f.label :nombre %><br />
        <%= f.text_field :name %>
    </p>
    <p>
        <%= f.label :fecha_recogida %><br />
        <%= f.date_field :date %>
    </p>
    <p>
        <%= f.label :hora %><br />
        <%= f.time_field :hour %>
    </p>
    <p>
        <%= f.label :producto %><br />
        <%= f.select :product_id, options_from_collection_for_select( Product.all, :id, :name)%>
    </p>
    <p>
        <%= f.label :cantidad %><br />
        <%= f.text_field :quantity %>
    </p>
    <%= f.hidden_field :restaurant_id, :value => @current_restaurant %>
    <p><%= f.submit %></p>
<% end %>