<%= form_for @takeaway do |f| %>
    <%= f.error_messages %>
    <div class="field">
        </br><%= f.label :nombre %><br />
        <%= f.text_field :name %>
    </div>
    <div class="field">
        <%= f.label :fecha_recogida %><br />
        <%= f.date_field :date %>
    </div>
    <div class="field">
        <%= f.label :hora %><br />
        <%= f.time_field :hour %>
    </div>
    <div class="field">
        <%= f.label :teléfono %><br />
        <%= f.text_field :phone %>
    </div>
    <%= f.hidden_field :restaurant_id, :value => @current_restaurant %>
    <%= f.hidden_field :user_id, :value => current_user %>
    <div class="field">
        </br><%= f.submit %>
    </div>
<% end %>