<h1>Mesas del restaurante</h1>

<div class ="muestra-tabla">
	<table class="pretty">
	    <tr>
	        <th><%= "Nombre" %></th>
	        <th><%= "Dia Recogida" %></th>
	        <th><%= "Hora Recogida" %></th>
	        <th><%= "Producto" %></th>
	        <th><%= "Restaurante" %></th>
	        <th><%= "Cantidad" %></th>
	        <th><%= "Total Precio Seleccion" %></th>
	    </tr>
	    <% @takeaways.each do |takeaway| %>
	        <tr>
	            <td><%= takeaway.name %></td>
	            <td><%= takeaway.date %></td>
	            <td><%= takeaway.hour %></td>
	            <td><%= takeaway.product.name %></td>
	            <td><%= takeaway.restaurant.name %></td>
	            <td><%= takeaway.quantity %></td>
	            <td><%= takeaway.total_price_selection %></td>
	            <td><%= link_to "Edit Takeaway", edit_location_path(takeaway) %></td>                
	        </tr>
	    <% end %>
	</table>
</div>

<div class="muestra-opciones">
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script> 
	<script type="text/javascript">
		jQuery(document).ready(function() {
		jQuery("a.mostrar").click(function(){
		jQuery("div.chatbox").toggle("slow");
		return false;
		});
		});
	</script>

	<a href="#" class="mostrar">Añadir una nuevo takeaway</a><br/>
	<div class="chatbox">
		<%= render 'form' %>
		<p><%= link_to "Back to List", takeaways_path %></p>
    </div>
</div>
