<h1>Pedido al restaurante '<%= current_user.restaurant_users.find_by_restaurant_id(@current_restaurant).restaurant.name %>'</h1>

<div class ="muestra-tabla">
	<table class="pretty">
	    <tr>
	        <th><%= "Nombre" %></th>
	        <th><%= "Teléfono" %></th>
	        <th><%= "Dia Recogida" %></th>
	        <th><%= "Hora Recogida" %></th>
	        <th><%= "Restaurante" %></th>
	        <th><%= "Total Precio Seleccion" %></th>
	    </tr>
	    <% @takeaways.each do |takeaway| %>
	        <tr>
	            <td><%= takeaway.name %></td>
	            <td><%= takeaway.phone %></td>
	            <td><%= takeaway.date %></td>
	            <td><%= takeaway.hour %></td>
	            <td><%= takeaway.restaurant.name %></td>
	            <td><%= takeaway.total_price_selection %></td>
	            <td><%= link_to "Edit Takeaway", edit_takeaway_path(takeaway) %></td>                
	        </tr>
	    <% end %>
	</table>
</div>

<div class="muestra-opciones">
	<h2>Crear Pedido</h2>
	<%= render 'form' %>
</div>
