<div class="title">Pedidos al restaurante '<%= current_user.restaurant_users.find_by_restaurant_id(@current_restaurant).restaurant.name %>'</div>

<% if @current_role == 0 %>
	<div class ="muestra-tabla-pedido">
		<div class="new">
			<div class="inf">
				<div class="cssToolTip">
		        	<%= image_tag('information.png', :alt => 'info')%>
					<span>
						Manual de ayuda de Pedidos Online:<br>
						En esta página el Usuario del Restaurante podrá realizar un pedido online de los productos que desee. Las funcionalidades que podrá realizar el Cliente son:<br>
						- Crear nuevo pedido: Pulsar en caso de querer crear un nuevo pedido.<br>
						Podrá visualizar la tabla con sus pedidos ordenados por fehcas y si están o no finalizados. En dicha tabla podrá realizar la siguientes funcionalidades:<br>
						- Editar el pedido: Podrá modificar los datos del pedido como el nombre, el telefono...<br>
						- Agragra productos a la comanda: Podrá agregar productos al pedido siempre y cuando no se haya finalizado. En caso contrario no podrá seguir añadiendo productos.
					</span> 
				</div>
			</div>
			<div class="headered">Crear nuevo pedido  <%= link_to "Crear Pedido", 'javascript:openWindow();', :class => 'boton grey' %></div>
		</div>
		<table class="tabla2">
			<thead>
			    <tr class="tabla2">
			        <th class="tabla2" >
						<div class="cssToolTip">
						    <%= "Nombre del Pedido" %>
							<span>Nombre del Pedido</span> 
						</div>
			        </th>
			        <th class="tabla2" >
						<div class="cssToolTip">
						    <%= "Teléfono" %>
							<span>Teléfono del Usuario que ha realizado el pedido</span> 
						</div>
			        </th>
			        <th class="tabla2" >
						<div class="cssToolTip">
						    <%= "Día Recogida" %>
							<span>Día de recogida del pedido</span> 
						</div>
			        </th>
			        <th class="tabla2" >
						<div class="cssToolTip">
						    <%= "Hora Recogida" %>
							<span>Nombre del Restaurante al que esta Registrado el Usuario</span> 
						</div>
			        </th>
			        <th class="tabla2" >
						<div class="cssToolTip">
						    <%= "Restaurante" %>
							<span>Nombre del Restaurante al que se ha realizado el pedido</span> 
						</div>
			        </th>
			        <th class="tabla2" >
						<div class="cssToolTip">
						    <%= "Coste Pedido" %>
							<span>Coste total del pedido</span> 
						</div>
			        </th>
			        <th class="tabla2" >
						<div class="cssToolTip">
						    <%= "¿Está Finalizada?" %>
							<span>Muestra si el pedido está finalizado (Ya no se pueden seleccionar mas productos), en rojo clarito es que no esta finalizado (false), es decir, se encuntra en la cesta y en amarillo claro es que se ha finalizado (true)</span> 
						</div>
			        </th>
			        <th class="tabla2" >
						<div class="cssToolTip">
						    <%= "¿Está Entregado?" %>
							<span>Muestra si el pedido está o no entregado (El cliente ya ha venido a recoger el pedido y se lo ha llevado), en rojo oscuro es que no esta entregado (false) y en verde es que está entregado (true) </span> 
						</div>
			        </th>
			    </tr>
			</thead>
			<tbody>
			    <% @takeaways.each do |takeaway| %>
			        <tr class="tabla2">
			            <td class="tabla2"><%= takeaway.name %></td>
			            <td class="tabla2"><%= takeaway.phone %></td>
			            <td class="tabla2"><%= takeaway.date.strftime("%d %B %Y") %></td>
			            <td class="tabla2"><%= takeaway.hour.strftime("%X") %></td>
			            <td class="tabla2"><%= takeaway.restaurant.name %></td>
			            <td class="tabla2"><%= takeaway.total_price_selection %> €</td>
			            <% if takeaway.is_end %>
			                <td class="b5"><%= takeaway.is_end %></td>
			            <% else %>
			                <td class="b6"><%=takeaway.is_end %></td>
			            <% end %>
			            <% if !takeaway.is_delivered %>
			                <td class="b1"><%= takeaway.is_delivered %></td>
			            <% else %>
			                <td class="b2"><%=takeaway.is_delivered %></td>
			            <% end %>
			            <% if !takeaway.is_end %>
			            	<td><%= link_to "Editar", edit_takeaway_path(takeaway), :class => 'boton grey' %></td>
			            	<td><%= link_to "Agregar Productos", takeaway_path(takeaway), :class => 'boton grey'  %></td>
			            <% end %>        
			        </tr>
			    <% end %>
			</tbody>
			<tfoot>
				<tr class="tabla2">
					<th class="tabla2" colspan="8">
						<div class="pagination">
							<div class="digg_pagination">
							    <%= will_paginate @takeaways, :container => false %>
							</div>
						</div>
					</th>
				</tr>
			</tfoot>
		</table>
	</div>
<% else %>
	<div class ="muestra-tabla-pedido">
		<div class="inf">
			<div class="cssToolTip">
	        	<%= image_tag('information.png', :alt => 'info')%>
				<span>
					Manual de ayuda de Pedidos Online:<br>
					En esta página los empleados del Restaurante podrán ver los pedidos online del Restaurante. Las funcionalidades que podrán realizar los empleados son:<br>
					-Ver Pedido: El empleado podrá ver el contenido del pedido pra poder entregárselo al Cliente el día que venga a revogerlo.
				</span> 
			</div>
		</div>
		<table class="tabla2">
			<thead>
			    <tr class="tabla2">
			        <th class="tabla2" >
						<div class="cssToolTip">
						    <%= "Nombre del Pedido" %>
							<span>Nombre del Pedido</span> 
						</div>
			        </th>
			        <th class="tabla2" >
						<div class="cssToolTip">
						    <%= "Teléfono" %>
							<span>Teléfono del Usuario que ha realizado el pedido</span> 
						</div>
			        </th>
			        <th class="tabla2" >
						<div class="cssToolTip">
						    <%= "Día Recogida" %>
							<span>Día de recogida del pedido</span> 
						</div>
			        </th>
			        <th class="tabla2" >
						<div class="cssToolTip">
						    <%= "Hora Recogida" %>
							<span>Nombre del Restaurante al que esta Registrado el Usuario</span> 
						</div>
			        </th>
			        <th class="tabla2" >
						<div class="cssToolTip">
						    <%= "Restaurante" %>
							<span>Nombre del Restaurante al que se ha realizado el pedido</span> 
						</div>
			        </th>
			        <th class="tabla2" >
						<div class="cssToolTip">
						    <%= "Ganancia Pedido" %>
							<span>Ganancia del Restaurante con dicho Pedido</span> 
						</div>
			        </th>
			        <th class="tabla2" >
						<div class="cssToolTip">
						    <%= "¿Está Finalizada?" %>
							<span>Muestra si el pedido está finalizado (Ya no se pueden seleccionar mas productos)</span> 
						</div>
			        </th>
			        <th class="tabla2" >
						<div class="cssToolTip">
						    <%= "¿Está Entregado?" %>
							<span>Muestra si el pedido esta o no entregado</span> 
						</div>
			        </th>
			    </tr>
			</thead>
			<tbody>
			    <% @takeaways.each do |takeaway| %>
			        <tr class="tabla2">
			            <td class="tabla2"><%= takeaway.name %></td>
			            <td class="tabla2"><%= takeaway.phone %></td>
			            <td class="tabla2"><%= takeaway.date.strftime("%d %B %Y") %></td>
			            <td class="tabla2"><%= takeaway.hour.strftime("%X") %></td>
			            <td class="tabla2"><%= takeaway.restaurant.name %></td>
			            <td class="tabla2"><%= takeaway.total_price_selection %> €</td>
			            <% if takeaway.is_end %>
			                <td class="b5"><%= takeaway.is_end %></td>
			            <% else %>
			                <td class="b6"><%=takeaway.is_end %></td>
			            <% end %>
			            <% if !takeaway.is_delivered %>
			                <td class="b1"><%= takeaway.is_delivered%></td>
			            <% else %>
			                <td class="b2"><%=takeaway.is_delivered%></td>
			            <% end %>
			            <td><%= link_to "Ver Pedido", takeaway_path(takeaway), :class => 'boton grey'  %></td>
					</td>            
			        </tr>
			    <% end %>
			</tbody>
			<tfoot>
				<tr class="tabla2">
					<th class="tabla2" colspan="8">
						<div class="pagination">
							<div class="digg_pagination">
							    <%= will_paginate @takeaways, :container => false %>
							</div>
						</div>
					</th>
				</tr>
			</tfoot>
		</table>
	</div>
<% end %>


<div class="window">
    <div class="cerrar"><%= link_to "Cerrar X", 'javascript:closeWindow();', data: { confirm: "¿Está seguro que desea cerrar?"}, :class => 'boton red' %></div>
    </br><div class="title">Crear Pedido</div>
    <%= render 'form' %>
</div>

<script type="text/javascript">
    function openWindow(){
        $(".window").slideDown("slow");
    }
    function closeWindow(){
        $(".window").slideUp("fast");
    }
</script>