<% if @current_role == 0 %>
    <div class="title">Pedido Online '<%= current_user.user_name %>'</div>
<% else %>
    <div class="title">Pedido Online número: <%= @takeaway.id %></div>
<% end %>

<div class="takeaway">
    <div class="muestra-takeaways">
        </br></br></br></br></br><div class="takeaway_accion">Pedido Online</div>
        <p>
            <strong>Nombre Pedido:</strong>
            <%= @takeaway.name %>
        </p>
        <p>
            <strong>Dia de recogida:</strong>
            <%= @takeaway.date.strftime("%x") %>
        </p>
        <p>
            <strong>Hora de recogida:</strong>
            <%= @takeaway.hour.strftime("%X") %>
        </p>
        <p>
            <strong>Resaturante:</strong>
            <%= @takeaway.restaurant.name %>
        </p>
        <p>
            <strong>Descuento adicional:</strong>
            <%= @takeaway.discount %>%
        </p>

        <p>
            <% if @current_role == 0 %>
                <%= link_to "Modificar", edit_takeaway_path(@takeaway) %> |
                <%= link_to "Eliminar", @takeaway, :method => :delete, data: { confirm: "¿Esta seguro que desea eliminar la comanda?"} %>
            <% end %>
        </p>
    </div>

    <% if !@takeaway.is_end %>
        </br></br><div class="muestra-tabla-takeaways"> 
            <div class="letra_takeaway">Lista Productos</div>
            <% total_price = 0 %>
            <table class="tabla3">
                <thead>
                    <tr class="tabla3">
                        <th class="tabla3" title="Nombre del Producto seleccionado para el pedido">Nombre Producto</th>
                        <th class="tabla3" title="Cantidad seleccionada de un mismo Producto">Cantidad</th>
                        <th class="tabla3" title="Precio por unidad del Producto">Precio</th>
                        <th class="tabla3" title="Coste del Producto total (Cantidad x Precio Unidad)">Coste</th>
                    </tr>
                </thead>
                <tbody>
                    <% @takeaway.products.each do |product| %>
                        <% takeaway_product = product.takeaway_products.find_by_takeaway_id(@takeaway.id) %>
                        <% price = takeaway_product.quantity * product.price %>
                        <% total_price += price %>
                        <tr class="tabla3">
                            <td class="tabla3"><%= product.name %></td>
                            <td class="tabla3"><%= takeaway_product.quantity %> Unds</td>
                            <td class="tabla3"><%= product.price %> €/Unds</td>
                            <td class="tabla3"><%= price %> €</td>
                            <% if @current_role == 0 %>
                                <td class="tabla3"><%= link_to "Eliminar", takeaway_product_path(takeaway_product), :method => :delete, data: { confirm: "¿Esta seguro que desea eliminar el producto de la comanda?"}, style: "color: white" %></td>
                            <% end %>
                        </tr>
                    <% end %>
                </tbody>
                <tfoot>
                    <tr class="tabla3">
                        <th class="tabla3" title="Precio total de la comanda">Total: </th>
                        <td class="tabla3" colspan="3"><%= total_price %> €</td>
                    </tr>
                </tfoot>
            </table> 
        </div>

        <div class="muestra-eleccion">
            <% if @current_role == 0 %>
                </br></br></br></br><div class="takeaway_accion">Insertar Producto</div>
                <%= form_for :takeaway_product, url: takeaway_products_path do |f| %>
                    <div class="field">
                        </br><%= f.label :producto %>
                        <%= f.select :product_id, options_from_collection_for_select( Product.where("restaurant_id = ?", "#{@current_restaurant.id}") - @takeaway.products, :id, :name)%>
                    </div>
                    <div class="field">
                        </br><%= f.label :cantidad %>
                        <%= f.number_field :quantity %>
                    </div>
                    </br><%= f.hidden_field :takeaway_id, value: @takeaway.id %>
                    <%= f.submit 'Añadir Producto'%>
                <% end %>
               
                <% if !@takeaway.products.blank? %>
                     </br></br><div class="menu_accion">Finalizar Pedido</div>
                    </br>
                    <%= button_to 'Finalizar Pedido', takeaway_path(@takeaway), :method => :put, data: { confirm: "¿Está seguro que Terminar el Pedido Online?"}, :class => 'boton grey' %></br></br>
                <% end %>
            <% else %>
                </br></br><div class="takeaway_accion">Datos Usuario</div>

            <% end %>
        </div>
    <% else %>
        </br></br><div class="muestra-tabla-takeaways"> 
            <div class="letra_takeaway">Lista Productos '<%= @takeaway.name %>'</div>
            <% total_price = 0 %>
            <table class="tabla3">
                <thead>
                    <tr class="tabla3">
                        <th class="tabla3" title="Nombre del Producto seleccionado para el pedido">Nombre Producto</th>
                        <th class="tabla3" title="Cantidad seleccionada de un mismo Producto">Cantidad</th>
                        <th class="tabla3" title="Precio por unidad del Producto">Precio</th>
                        <th class="tabla3" title="Coste del Producto total (Cantidad x Precio Unidad)">Coste</th>
                    </tr>
                </thead>
                <tbody>
                    <% @takeaway.products.each do |product| %>
                        <% takeaway_product = product.takeaway_products.find_by_takeaway_id(@takeaway.id) %>
                        <% price = takeaway_product.quantity * product.price %>
                        <% total_price += price %>
                        <tr class="tabla3">
                            <td class="tabla3"><%= product.name %></td>
                            <td class="tabla3"><%= takeaway_product.quantity %> Unds</td>
                            <td class="tabla3"><%= product.price %> €/Unds</td>
                            <td class="tabla3"><%= price %> €</td>
                        </tr>
                    <% end %>
                </tbody>
                <tfoot>
                    <tr class="tabla3">
                        <th class="tabla3" title="Precio total de la comanda">Total: </th>
                        <td class="tabla3" colspan="3"><%= @takeaway.total_price_selection %> €</td>
                    </tr>
                </tfoot>
            </table> 
        </div>
        <div class="muestra-tabla-takeaways2">
            <%if @takeaway.is_end && !@takeaway.is_delivered %>
                </br><div class="takeaway_accion">Imprimir Factura</div>
                <p><a href="javascript:imprSelec('Imprime')" ><%= image_tag('printer.png', :alt => 'printer')%></a></p>
            <% end %>
        </div>
    <% end %>
</div>

<div id="Imprime">
    -------------------------------------------------<br/ >
    Restaurante <%= @current_restaurant.name %><br/ >
    -------------------------------------------------<br/ >
    Dirección: <%= @current_restaurant.address %><br> 
    <%= @current_restaurant.city %><br>
    <%= @current_restaurant.postal_code %><br>
    Tel: <%= @current_restaurant.phone %><br> 
    Fecha: <%= Time.now.in_time_zone.to_s %><br>
    Camarero: <%= current_user.user_name %><br>
    Factura: <%= @takeaway.id %><br>
    Nombre: <%= @takeaway.name %><br>
    -------------------------------------------------
    <table width="250">
        <tr>
            <td>Descripción</td>
            <td>Cantidad</td>
            <td>P.Unidad</td>
            <td>Importe</td>
        </tr>
        <tr>
            <td>--------------</td>
            <td>----------</td>
            <td>----------</td>
            <td>---------</td>
        </tr>
        <% @takeaway.products.each do |product| %>
            <% takeaway_product = product.takeaway_products.find_by_takeaway_id(@takeaway.id) %>
            <tr>
                <td><%= product.name %></td>
                <td style="text-align: right;"><%= takeaway_product.quantity %></td>
                <td style="text-align: right;"><%= product.price %>€</td>
                <td style="text-align: right;"><%= product.price * takeaway_product.quantity %>€</td>
            </tr>
        <% end %>
        <tr>
            <td style="font-weight:bold; text-align: right;">Total:</td>
            <td style="text-align: right;"><%= @takeaway.total_price_selection %>€</td>
            <td style="text-align: right;" colspan="2"><%= @takeaway.total_price_selection * 1.21 %>€</td>

        </tr>
        <br>
        <tr>
            <td></td>
            <td></td>
            <td style="text-align: right;" colspan="2">*21% Iva incluido</td>

        </tr>
    </table>
                     
    <br>
    ***** GRACIAS POR SU VISITA *****
</div>



<script language="javascript">
function imprSelec(nombre){
    ////////
    var ficha = document.getElementById(nombre);
    var ventimp = window.open(' ', 'popimpr');

    ventimp.document.write( ficha.innerHTML );
    ventimp.document.close();
    ventimp.print( );
    ventimp.close();
} 
</script> 