<%= form_for @reservation do |f| %>
    <%= f.error_messages %>
    <p>
        <%= f.label :num_persons %><br />
        <%= f.text_field :num_persons %>
    </p>
    <p>
        <%= f.label :date %><br />
        <%= f.date_field :date %>
    </p>
    <p>
        <%= f.label :hour %><br />
        <%= f.time_field :hour %>
    </p>
    <%= f.hidden_field :restaurant_id, :value => @current_restaurant %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <p><%= f.submit %></p>
<% end %>
