<% if @current_role == 1 || @current_role == 2 || @current_role == 3 %>
    <div class="title">Reservas del Restaurante</div>
    <div class ="muestra-tabla">
            <table class="pretty">
                <tr>
                    <th><%= "Nombre reserva" %></th>
                    <th><%= "Número de personas" %></th>
                    <th><%= "Menu" %></th>
                    <th><%= "Dia reserva" %></th>
                    <th><%= "Hora reserva" %></th>
                    <th><%= "Restaurante" %></th>
                    <th><%= "Teléfono contacto" %></th>
                    <th><%= "Reserva realizada por:" %></th>
                    <th><%= "Rol" %></th>
                </tr>
                <% @reservations.each do |reservation| %>
                    <tr>
                        <td><%= reservation.name %></td>
                        <td><%= reservation.num_persons %></td>
                        <td><%= reservation.menu.name if !reservation.menu.blank? %></td>
                        <td><%= reservation.date.strftime("%d %B %Y") %></td>
                        <td><%= reservation.hour.strftime("%X") %></td>
                        <td><%= reservation.restaurant.name %></td>
                        <td><%= reservation.phone %></td>
                        <td><%= reservation.user.user_name %></td>
                        <td><%= RestaurantUser::ROLES[reservation.user.restaurant_users.find_by_restaurant_id(reservation.restaurant.id).rol] %></td>
                    </tr>
                <% end %>
            </table>
    </div>
    <div class="muestra-opciones">
            </br><div class="accion">Realizar Reserva</div>
            <%= render 'form' %>
    </div>
<%else%>
        </br><div class="accion">Realizar Reserva</div>
        <%= render 'form' %>
<% end %>