<% if @current_role == 1 || @current_role == 2 || @current_role == 3 %>
    <div class="title">Reservas del Restaurante</div>
    <div class ="muestra-tabla">
            <table class="tabla2">
                <thead>
                    <tr class="tabla2">
                        <th class="tabla2" title="Nombre al que está hecha la Reserva, el color Amarillo significa que el dia de la reserva es del día de hoy en adelante y en rojo que es una Reserva ya Realizada y Finalizada"><%= "Nombre reserva" %></th>
                        <th class="tabla2" title="Número de Personas de las que se compone la REserva"><%= "Número de personas" %></th>
                        <th class="tabla2" title="Menú del cual se compone la Reserva en caso de tenerlo"><%= "Menu" %></th>
                        <th class="tabla2" title="Día para el que se realiza la Reserva"><%= "Dia reserva" %></th>
                        <th class="tabla2" title="Hora para el día de la Reserva"><%= "Hora reserva" %></th>
                        <th class="tabla2" title="Restaurante donde se realiza la Reserva"><%= "Restaurante" %></th>
                        <th class="tabla2" title="Telefono de contacto opcional del Usuario que realiza la Reserva"><%= "Teléfono contacto" %></th>
                        <th class="tabla2" title="Nombre del Usuario que realizó la Reserva"><%= "Reserva realizada por:" %></th>
                        <th class="tabla2" title="Rol del Usuario que realizó la Reserva"><%= "Rol" %></th>
                    </tr>
                </thead>
                <tbody>
                    <% @reservations.each do |reservation| %>
                        <tr class="tabla2">
                            <% if reservation.date >= Time.now.beginning_of_day %>
                                <td class="b5"><%= reservation.name %></td>
                            <% else %>
                                <td class="b6"><%= reservation.name %></td>
                            <% end %>
                            <td class="tabla2"><%= reservation.num_persons %></td>
                            <td class="tabla2"><%= reservation.menu.name if !reservation.menu.blank? %></td>
                            <% if reservation.date >= Time.now.beginning_of_day %>
                                <td class="b5"><%= reservation.date.strftime("%d %B %Y") %></td>
                            <% else %>
                                <td class="b6"><%= reservation.date.strftime("%d %B %Y") %></td>
                            <% end %>
                            <td class="tabla2"><%= reservation.hour.strftime("%X") %></td>
                            <td class="tabla2"><%= reservation.restaurant.name %></td>
                            <td class="tabla2"><%= reservation.phone %></td>
                            <td class="tabla2"><%= reservation.user.user_name %></td>
                            <td class="tabla2"><%= RestaurantUser::ROLES[reservation.user.restaurant_users.find_by_restaurant_id(reservation.restaurant.id).rol] %></td>
                        </tr>
                    <% end %>
                </tbody>
                <tfoot>
                    <tr class="tabla2">
                        <th class="tabla2" colspan="9">
                            <%#= will_paginate @reservations %>
                        </th>
                    </tr>
                </tfoot>
            </table>
    </div>
    <div class="muestra-opciones">
            </br><div class="accion">Realizar Reserva</div>
            <%= render 'form' %>
    </div>
<%else%>
        </br><div class="title">Realizar Reserva</div>
        <%= render 'form' %>
<% end %>