<div class="title">Reserva</div>
<p>
  <strong>Nombre:</strong>
  <%= @reservation.name %>
</p>
<p>
  <strong>Numero Personas:</strong>
  <%= @reservation.num_persons %>
</p>
<p>
  <strong>Dia de la reserva</strong>
  <%= @reservation.date %>
</p>
<p>
  <strong>Hora de la reserva:</strong>
  <%= @reservation.hour %>
</p>
<p>
  <strong>Restaurante:</strong>
  <%= @reservation.restaurant.name %>
</p>
<p>
  <strong>Usuario que realizo la reserva:</strong>
  <%= @reservation.user.user_name %>
</p>
<p>
  <strong>Telefono de contacto:</strong>
  <%= @reservation.phone %>
</p>
<p>
  <%= link_to "Modificar", edit_reservation_path(@reservation), style: "color: white" %> |
  <%= link_to "Eliminar", @reservation, :method => :delete, data: { confirm: "¿Está seguro que desea eliminar la Reserva?"}, style: "color: white" %> |
  <%= link_to "Terminar", start_path, style: "color: white", data: { confirm: "¿Está seguro que desea realizar la Reserva?"} %>
</p>
