<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table class="pretty">
      <tr>
            <th><%= sortable "Pregunta" %></th>
            <th><%= sortable "Restaurante"%></th>
      </tr>
      <% @questionnaires.each do |questionnaire| %>
            <tr>
                  <td><%= questionnaire.question %></td>
                  <td><%= questionnaire.restaurant.name %></td>                  
            </tr>
      <% end %>
</table>
<%= will_paginate @questionnaires %>