<h1>Cuestionarios del restaurante</h1>

<div class ="muestra-tabla">
	<%= form_tag questionnaires_path, :method => 'get', :id => "questionnaire_search" do %>
		<p>
			<%= text_field_tag :search, params[:search] %>
			<%= submit_tag "Search", :@name => nil %>
		</p>
		<div id="products"><%= render 'questionnaires' %></div>
	<% end %>
	
</div>
<div class="muestra-opciones">
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script> 
	<script type="text/javascript">
		jQuery(document).ready(function() {
		jQuery("a.mostrar").click(function(){
		jQuery("div.chatbox").toggle("slow");
		return false;
		});
		});
	</script>

	<a href="#" class="mostrar">Añadir un nuevo cuestionario</a><br/>
	<div class="chatbox">
		<%= render 'form' %>
		<p><%= link_to "Back to List", questionnaires_path %></p>
    </div>
</div>
