<div class="title">Cuestionarios del Restaurante</div>
</br>
<div class ="muestra-tabla">
	<div class="new">
			<div class="inf">
				<div class="cssToolTip">
		        	<%= image_tag('information.png', :alt => 'info')%>
					<span>
						Manual de ayuda de Creación de Cuestionarios:<br>
						En esta página el Usuario del Restaurante podrá realizar un pedido online de los productos que desee. Las funcionalidades que podrá realizar el Cliente son:<br>
						- Crear nuevo pedido: Pulsar en caso de querer crear un nuevo pedido.<br>
						Podrá visualizar la tabla con sus pedidos ordenados por fehcas y si están o no finalizados. En dicha tabla podrá realizar la siguientes funcionalidades:<br>
						- Editar el pedido: Podrá modificar los datos del pedido como el nombre, el telefono...<br>
						- Agragra productos a la comanda: Podrá agregar productos al pedido siempre y cuando no se haya finalizado. En caso contrario no podrá seguir añadiendo productos.
					</span> 
				</div>
			</div>
			<p class="header"><%= button_to "Crear Cuestionario", 'javascript:openWindow();', :method => "get", :class => 'boton grey' %></p>
		</div>
	<table class="tabla2">
		<thead>
			<tr class="tabla2">
			    <th class="tabla2" title="Preguntas que elabora el gerenete del restaurante para obtener datos relevantes de su Restaurante">Pregunta</th>
			    <th class="tabla2" title="Nombre del Restaurnate al que pertenece la pregunta">Restaurante</th>
			</tr>
		</thead>
		<tbody>
			<% @questionnaires.each do |questionnaire| %>
			    <tr class="tabla2">
					<td class="tabla2"><%= questionnaire.question %></td>
					<td class="tabla2"><%= questionnaire.restaurant.name %></td>
					<td><%#= link_to "Eliminar", questionnaires_path(questionnaire), :method => :delete, data: { confirm: "¿Está seguro que desea eliminar?"} %>  <%#= link_to "Modificar", edit_questionnaire_path(@questionnaire) %></td>  

			    </tr>
			<% end %>
		</tbody>
		<tfoot>
			<tr class="tabla2">
				<th class="tabla2" colspan="2">
					<div class="pagination">
		                <div class="digg_pagination">
		                    <%= will_paginate @questionnaires, :container => false %>
		                </div>
		            </div>
				</th>
			</tr>
		</tfoot>
	</table>
</div>

<div class="window">
    <div class="cerrar"><%= link_to "Cerrar X", 'javascript:closeWindow();', data: { confirm: "¿Está seguro que desea cerrar?"}, style: "color: white" %></div>
    <div class="title">Nuevo Cuestionario</div>
    <%= render 'form' %>
</div>

<script type="text/javascript">
    function openWindow(){
        $(".window").slideDown("slow");
    }
    function closeWindow(){
        $(".window").slideUp("fast");
    }
</script>
