<h1>Cuestionarios del restaurante</h1>

<div class ="muestra-tabla">
	<table class="pretty">
	      <tr>
	            <th><%= sortable "Pregunta" %></th>
	            <th><%= sortable "Restaurante"%></th>
	      </tr>
	      <% @questionnaires.each do |questionnaire| %>
	            <tr>
	                  <td><%= questionnaire.question %></td>
	                  <td><%= questionnaire.restaurant.name %></td>                  
	            </tr>
	      <% end %>
	</table>
	<%= will_paginate @questionnaires %>
</div>

<div class="muestra-opciones">
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script> 
	<script type="text/javascript">
		jQuery(document).ready(function() {
		jQuery("a.mostrar").click(function(){
		jQuery("div.chatbox").toggle("slow");
		return false;
		});
		});
	</script>

	<a href="#" class="mostrar">Añadir un nuevo cuestionario</a><br/>
	<div class="chatbox">
		<%= render 'form' %>
		<p><%= link_to "Back to List", questionnaires_path %></p>
    </div>
</div>
