<div class="title">Bienvenido</div>
<div class ="muestra-tabla-anonimous">
    </br></br></br></br><div class="accion">Acceda sin Registro</div> 
    </br><%= button_to 'Usuario invitado', guests_index_path, :method => "get" %>
</div>

<div class="muestra-tabla-login">
    </br></br><div class="accion">Acceso Usuario Registrado</div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
            </br><%= f.label :correo %><br />
            <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
            </br><%= f.label :Contraseña %><br/>
            <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
            <div class="field">
                </br><%= f.check_box :remember_me %>
                <%= f.label :recordarme %>
            </div>
        <% end -%>

        <div class="actions"><br/>
            <%= f.submit "Iniciar" %>
        </div>
    <% end %>
    <%= render "devise/shared/links" %>
    </br></br></br>
</div>
