<%= form_for @location do |f| %>
      <%= f.error_messages %>
      <p>
            <%= f.label :place %><br />
            <%= f.text_field :place %>
      </p>
      <p>
            <%= f.label :total_price_command %><br />
            <%= f.text_field :total_price_command %>
      </p>
            <p>
            <%= f.label :restaurant_id %><br />
            <%= f.select :restaurant_id, options_from_collection_for_select( Restaurant.all, :id, :name)%>
      </p>
      <p>
            <%= f.label :user_id %><br />
            <%= f.select :user_id, options_from_collection_for_select( User.all, :id, :name)%>
      </p>
      <p><%= f.submit %></p>
<% end %>