<%= form_for @restaurant do |f| %>
    <%= f.error_messages %>
    <p>
        <%= f.label :nombre %>
        <%= f.text_field :name %>
        <%= f.label :teléfono %>
        <%= f.text_field :phone %>
    </p>
    <p>
        <%= f.label :dirección %>
        <%= f.text_field :address %>
        <%= f.label :ciudad %>
        <%= f.text_field :city %>
    </p>
    <p>
        <%= f.label :pais %>
        <%= f.text_field :country %>
         <%= f.label :postal_code %>
        <%= f.text_field :postal_code %>
    </p>
    <p>
        <%= f.label :correo_electronico %>
        <%= f.text_field :email %>
    </p>
    <p>
        <%= f.label :horario_apertura %>
        <%= f.text_field :opening_hours %>
    </p>    
    <p><%= f.submit %></p>
<% end %>