<div class="title">Restaurantes</div>
<div class ="muestra-tabla">
	<table class="pretty">
	    <tr>
	        <th><%=  "Nombre" %></th>
	        <th><%=  "Telefono" %></th>
	        <th><%=  "Correo Electronico" %></th>
	        <th><%=  "Pais" %></th>
	    </tr>
	    <% @restaurants.each do |restaurant| %>
	        <tr>
	            <td><%= restaurant.name %></td>
	            <td><%= restaurant.phone %></td>
	            <td><%= restaurant.email %></td>
	            <td><%= restaurant.country %></td>
	        </tr>
	    <% end %>
	</table>
	<%= will_paginate @restaurants %>
</div>


<div class="muestra-opciones">
	<% if current_user.superadmin %>
		<div class="accion">Dar de Alta Restaurante</div>
		<%= render 'form' %>
	<%end %>
</div>
