<div class="title">Restaurantes</div>
<div class ="muestra-tabla">
	<table class="pretty">
	    <tr>
	    	<%= form_tag restaurants_path, method: :get do %>
		    	<th>Nombre<p><%= text_field_tag :name, params[:name], class: "form-control", placeholder: "Nombre Restaurante" %></p></th>
		    	<th>Pais</th>
		    	<th>Ciudad</th>
		        <th>Telefono</th>
		        <th>Correo Electronico</th>
	        <% end %>
	    </tr>
	    <% @restaurants.each do |restaurant| %>
	        <tr>
	        	<td><%= restaurant.name %></td>
	        	<td><%= restaurant.country %></td>
	        	<td><%= restaurant.city %></td>
	            <td><%= restaurant.phone %></td>
	            <td><%= restaurant.email %></td>
	        </tr>
	    <% end %>
	</table>
	<%= will_paginate @restaurants %>
</div>


<div class="muestra-opciones">
	<% if current_user.superadmin %>
		<div class="accion">Registrar Restaurante</div>
		<%= render 'form' %>
	<%end %>
</div>
