<div class="title">Restaurantes</div>
<div class ="muestra-tabla">
	<div class="new">
		<div class="inf">
			<div class="cssToolTip">
	        	<%= image_tag('information.png', :alt => 'info')%>
				<span>
					Manual de ayuda de Registro de Restaurante:<br>
					En esta página el Administrador pordrá podrá registrar un Restaurante nuevo en la aplicación. Las funcionalidades que tiene son:<br>
					- Registrar el Restaurante: Se resgistra un Restaurante nuevo con los datos proporcinados por el que vaya a ser Gerente del mismo.
				</span> 
			</div>
		</div>
		<div class="new">
			<p class="headered">Registrar nuevo restaurante al sistema <%= link_to 'Registrar Restaurante', 'javascript:openWindow();', :method => "get", :class => 'boton grey' %></p>
		</div>
	</div>
	<table class="tabla2">
		<thead>
		    <tr class="tabla2">
		    	<%= form_tag restaurants_path, method: :get do %>
			    	<th class="tabla2">
						<div class="cssToolTip">
						    <%= "Nombre" %>
							<span>Nombre del Restaurante</span> 
						</div>
			    		<p><%= text_field_tag :name, params[:name], class: "form-control", placeholder: "Nombre Restaurante" %></p>
			    	</th>
			    	<th class="tabla2">
				    	<div class="cssToolTip">
						    <%= "País" %>
							<span>País donde se encuentra el Restaurante</span> 
						</div>
			    	</th>
			    	<th class="tabla2">
			    		<div class="cssToolTip">
						    <%= "Ciudad" %>
							<span>Ciudad donde se encuentra el Restaurante</span> 
						</div>
			    	</th>
			        <th class="tabla2">
			        	<div class="cssToolTip">
						    <%= "Teléfono" %>
							<span>Teléfono del Restaurante</span> 
						</div>
			        </th>
			        <th class="tabla2">
			        	<div class="cssToolTip">
						    <%= "Correo electrónico" %>
							<span>Correo electrónico del Restaurante</span> 
						</div>
			        </th>
		        <% end %>
		    </tr>
		</thead>
		<tbody>
		    <% @restaurants.each do |restaurant| %>
		        <tr class="tabla2">
		        	<td class="tabla2"><%= restaurant.name %></td>
		        	<td class="tabla2"><%= restaurant.country %></td>
		        	<td class="tabla2"><%= restaurant.city %></td>
		            <td class="tabla2"><%= restaurant.phone %></td>
		            <td class="tabla2"><%= restaurant.email %></td>
		        </tr>
		    <% end %>
	    </tbody>
	    <tfoot>
			<tr class="tabla2">
				<th class="tabla2" colspan="5">
					<div class="pagination">
                        <div class="digg_pagination">
                            <%= will_paginate @restaurants, :container => false %>
                        </div>
                    </div>
				</th>
			</tr>
		</tfoot>
	</table>
</div>

<div class="window">
	<% if current_user.superadmin %>
	    <div class="cerrar"><%= link_to "Cerrar X", 'javascript:closeWindow();', data: { confirm: "¿Está seguro que desea cerrar?"}, :class => 'boton red' %></div>
	    <div class="title">Registrar Restaurante</div>
	    <%= render 'form' %>
	<% end %>  
</div>

<script type="text/javascript">
    function openWindow(){
        $(".window").slideDown("slow");
    }
    function closeWindow(){
        $(".window").slideUp("fast");
    }
</script>
