<h1>Restaurantes</h1>

<div class ="muestra-tabla">
	<%= form_tag restaurants_path, :method => 'get', :id => "restaurants_search" do %>
		<p>
			<%= text_field_tag :search, params[:search] %>
			<%= submit_tag "Search", :name => nil %>
		</p>
		<div id="products"><%= render 'restaurants' %></div>
	<% end %>
	
</div>
<div class="muestra-opciones">
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script> 
	<script type="text/javascript">
		jQuery(document).ready(function() {
		jQuery("a.mostrar").click(function(){
		jQuery("div.chatbox").toggle("slow");
		return false;
		});
		});
	</script>
	<% if current_user.superadmin %> 
		<a href="#" class="mostrar">Registrar un nuevo Restaurante</a><br/>
		<div class="chatbox">
			<%= render 'form' %>
			<p><%= link_to "Back to List", restaurants_path %></p>
	    </div>
	<% end %>
</div>
