<h1>Restaurantes</h1>

<div class ="muestra-tabla">
	<table class="pretty">
	    <tr>
	        <th><%=  "Nombre" %></th>
	        <th><%=  "Telefono" %></th>
	        <th><%=  "Correo Electronico" %></th>
	        <th><%=  "Pais" %></th>
	    </tr>
	    <% @restaurants.each do |restaurant| %>
	        <tr>
	            <td><%= restaurant.name %></td>
	            <td><%= restaurant.phone %></td>
	            <td><%= restaurant.email %></td>
	            <td><%= restaurant.country %></td>
	        </tr>
	    <% end %>
	</table>
</div>

<div class="muestra-opciones">
	<% if current_user.superadmin %> 
		<%= render 'form' %>
		<p><%= link_to "Back to List", restaurants_path %></p>
	<%end %>
</div>
