<div class="title">Restaurante creado</div>
<div id="padre">  
    <div id="hijo3"> 
        <p>
            <strong>Nombre restaurante:</strong>
            <%= @restaurant.name %>
        </p>
        <p>
            <strong>Email:</strong>
            <%= @restaurant.email %>
        </p>
        <p>
            <strong>Teléfono:</strong>
            <%= @restaurant.phone %>
        </p>
        <p>
            <strong>Dirección:</strong>
            <%= @restaurant.address %>
        </p>
        <p>
            <strong>Ciudad:</strong>
            <%= @restaurant.city %>
        </p>
        <p>
            <strong>País:</strong>
            <%= @restaurant.country %>
        </p>
        <p>
            <strong>Código Postal:</strong>
            <%= @restaurant.postal_code %>
        </p>
        <p>
            <strong>Horario Apertura:</strong>
            <%= @restaurant.opening_hours %>
        </p>

        <p>
            <%= link_to "Editar", edit_restaurant_path(@restaurant), :class => 'boton grey'  %> 
            <%= link_to "Eliminar", @restaurant, :method => :delete, data: { confirm: "Are you sure?"},:class => 'boton grey'  %> 
            <%= link_to "Aceptar", restaurants_path, :class => 'boton grey'  %>
        </p>
    </div>
</div>