<h1>Restaurante creado</h1>

<p>
    <strong>Nombre Restaurante:</strong>
    <%= @restaurant.name %>
</p>
<p>
    <strong>Email:</strong>
    <%= @restaurant.email %>
</p>
<p>
    <strong>Telefono:</strong>
    <%= @restaurant.phone %>
</p>
<p>
    <strong>Direccion:</strong>
    <%= @restaurant.address %>
</p>
<p>
    <strong>Ciudad:</strong>
    <%= @restaurant.city %>
</p>
<p>
    <strong>Pais:</strong>
    <%= @restaurant.country %>
</p>
<p>
    <strong>Codigo Postal:</strong>
    <%= @restaurant.postal_code %>
</p>
<p>
    <strong>Horario Apertura:</strong>
    <%= @restaurant.opening_hours %>
</p>

<p>
    <%= link_to "Edit", edit_restaurant_path(@restaurant) %> |
    <%= link_to "Destroy", @restaurant, :confirm => 'Are you sure?', :method => :delete %> |
    <%= link_to "View All", restaurants_path %>
</p>