<div id="wrapper">  
<% if personal_message.user.user_name ==  current_user.user_name %>
	<div class="bubble" style="background: red; border-color: red;">
		<p><%= emojify personal_message.body %></p>
			at <strong><%= personal_message.created_at %></strong><br>
			  by <strong><%= personal_message.user.user_name %></strong>
	</div>
<% else %>
	<div class="bubble" style="background: green; border-color: green;">
		<p><%= emojify personal_message.body %></p>
			at <strong><%= personal_message.created_at %></strong><br>
			  by <strong><%= personal_message.user.user_name %></strong>
	</div>
<% end %>    
</div>  
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>  
<script type="text/javascript">  
// jQuery Document  
$(document).ready(function(){  
console.log("loading")
var oldscrollHeight = $("#chatbox").attr("scrollHeight") - 20; //Scroll height before the request  
var newscrollHeight = $("#chatbox").attr("scrollHeight") - 20; //Scroll height after the request  
        if(newscrollHeight > oldscrollHeight){  
            height = $('#checkbox').offset().top;
			$("#chatbox").animate({ scrollTop: height+ $('#checkbox').height()}, 'normal'); 
            }
}); 
</script>  

