<div class="title">Comenzando Chat con '<%= @receiver.user_name %>'</div>
<div class="all">
	</br></br><div class="send-msg">
		</br><div class="accion-blog">Enviar Mensaje</div>
	    <%= form_for @personal_message do |f| %>
			<%= f.error_messages %>
			</br><%= f.text_area :body, style: "resize: none;", :cols => 40, rows: 4, placeholder: "Escribir mensaje..." %>
			<%= hidden_field_tag 'receiver_id', @receiver.id %>
			<%= f.submit 'Enviar', :class => 'boton grey'%>
		<% end %></br>
	</div>
</div>
 
    

  	