<div class="title">Mensajes de '<%= current_user.user_name %>'</div>

<ul class="tabs">
    <li><a href="#tab1">Mensajes recibidos</a></li>
    <li><a href="#tab2">Mensajes enviados</a></li>
</ul>
<div class="contenedor_tab">
    <div id="tab1" class="contenido_tab">
        <table class="pretty">
            <thead>
                <tr>
                    <th> Asunto </th>
                    <th> Emisor. De: </th>
                    <th> Receptor. Para: </th>
                    <th> Descripci贸n </th>
                    <th> Fecha Creaci贸n </th>
                    <th> Esta leido </th>
                </tr>
            </thead>
            <tbody>
                <% @emails_in.each do |email_in| %>
                    <tr>
                        <td><%= email_in.subject %></td>
                        <td><%= email_in.user_from %></td>
                        <td><%= email_in.user_for %></td>
                        <td class="contenido"><%= email_in.description %></td>
                        <td><%= email_in.created_at %></td>
                        <% if email_in.is_view == 0 %>
                            <td class="b1"><%= Email::VIEW_CATEGORY[email_in.is_view]%></td>
                        <% else %>
                            <td class="b2"><%= Email::VIEW_CATEGORY[email_in.is_view]%></td>
                        <% end %>
                        <td><%= link_to "Leer Mensaje", emails_show_path(email_in) %></td>
                    </tr>
                <% end %>
            </tbody>
            <tfoot>
                <%= will_paginate @emails_in %>
            </tfoot>
        </table>
        <%= button_to "New email", new_email_path, :method => "get" %>
    </div>
    <div id="tab2" class="contenido_tab">
         <table class="pretty">
            <thead>
                <tr>
                    <th> Asunto </th>
                    <th> Receptor. Para: </th>
                    <th> Descripci贸n </th>
                    <th> Fecha Creaci贸n </th>
                    <th> Esta leido </th>
                </tr>
            </thead>
            <tbody>
                <% @emails_in.each do |email_in| %>
                    <tr>
                        <td><%= email_in.subject %></td>
                        <td><%= email_in.user_for %></td>
                        <td class="contenido"><%= email_in.description %></td>
                        <td><%= email_in.created_at %></td>
                        <% if email_in.is_view == 0 %>
                            <td class="b1"><%= Email::VIEW_CATEGORY[email_in.is_view]%></td>
                        <% else %>
                            <td class="b2"><%= Email::VIEW_CATEGORY[email_in.is_view]%></td>
                        <% end %>
                    </tr>
                <% end %>
            </tbody>
            <tfoot>
                <%= will_paginate @emails_in %>
            </tfoot>
        </table>
    </div>
</div>
<div style="clear:both;">

</div>