<div class="title">Mensajes de '<%= current_user.user_name %>'</div>
</br>
<ul class="tabs">
    <li><a href="#tab1">Mensajes recibidos</a></li>
    <li><a href="#tab2">Mensajes enviados</a></li>
</ul>
<div class="contenedor_tab">
    <div id="tab1" class="contenido_tab">
        <table class="tabla4">
            <%= button_to "Redactar", 'javascript:openWindow();', :method => "get", :class => 'boton grey' %>
            <%= button_to "Eliminar", @email, :confirm => '¿Esta seguro que dese eliminar el mensaje?', :method => :delete, :class => 'boton grey' %><br/>
            <thead>
                <tr class="tabla4">
                    <th class="tabla4"> 
                        <div class="cssToolTip">
                            <%= "Seleccionar" %>
                            <span>Seleccionar el mensaje para realizar una de las funcionalidades</span> 
                        </div>
                    </th>
                    <th class="tabla4">
                        <div class="cssToolTip">
                            <%= "Asunto" %>
                            <span>Asunto del mensaje que ha recibido</span> 
                        </div> 
                    </th>
                    <th class="tabla4">
                        <div class="cssToolTip">
                            <%= "De:" %>
                            <span>Correo electrónico del emisor del mensaje</span> 
                        </div> 
                    </th>
                    <th class="tabla4">
                        <div class="cssToolTip">
                            <%= "Para:" %>
                            <span>Correo electrónico del receptor del mensaje</span> 
                        </div> 
                    </th>
                    <th class="tabla4">
                        <div class="cssToolTip">
                            <%= "Descripción" %>
                            <span>Descipción del mensaje</span> 
                        </div>  
                    </th>
                    <th class="tabla4">
                        <div class="cssToolTip">
                            <%= "Fecha recibido" %>
                            <span>Fecha en la que recibió el mensaje</span> 
                        </div>
                    </th>
                    <th class="tabla4">
                        <div class="cssToolTip">
                            <%= "¿Está leido? " %>
                            <span>Dice si el mensaje está o no leido (En rojo es que no esta leido y en verde es que lo está)</span> 
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <% @emails_in.each do |email_in| %>
                    <tr class="tabla4">
                        <td class="tabla4"><%= check_box_tag "alternate_numbers" %></td>
                        <td class="tabla4" title="<%= email_in.subject %>"><%= email_in.subject %></td>
                        <td class="tabla4" title="<%= email_in.user_from %>"><%= email_in.user_from %></td>
                        <% if @current_restaurant.email == email_in.user_for %>
                            <td class="b3"><%= email_in.user_for %></td>
                        <% else %>
                            <td class="b4"><%= email_in.user_for %></td>
                        <% end %>
                        <td class="tabla4" title="<%= email_in.description %>"><div id="container2"><%= email_in.description %></div></td>
                        <td class="tabla4"><%= email_in.created_at.strftime("%d %B %Y -- %X") %></td>
                        <% if email_in.is_view == 0 %>
                            <td class="b1"><%= Email::VIEW_CATEGORY[email_in.is_view]%></td>
                        <% else %>
                            <td class="b2"><%= Email::VIEW_CATEGORY[email_in.is_view]%></td>
                        <% end %>
                        <td><%= link_to "Leer Mensaje", email_in, :class => 'boton grey' %></td>
                    </tr>
                <% end %>
            </tbody>
            <tfoot>
                <tr class="tabla4">
                    <th class="tabla4" colspan="7">
                        <div class="pagination">
                            <div class="digg_pagination">
                                <%= will_paginate @emails_in, :container => false %>
                            </div>
                        </div>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
    <div id="tab2" class="contenido_tab">
         <table class="tabla4">
            <thead>
                <tr class="tabla4">
                    <th class="tabla4">
                        <div class="cssToolTip">
                            <%= "Asunto" %>
                            <span>Asunto del mensaje que ha recibido</span> 
                        </div>
                    </th>
                    <th class="tabla4"> 
                        <div class="cssToolTip">
                            <%= "Enviado por:" %>
                            <span>Correo del emisor del mensaje</span> 
                        </div>
                    </th>
                    <th class="tabla4">
                        <div class="cssToolTip">
                            <%= "Descripción" %>
                            <span>Descipción del mensaje</span> 
                        </div>  
                    </th>
                    <th class="tabla4">
                        <div class="cssToolTip">
                            <%= "Fecha recibido" %>
                            <span>Fecha en la que recibió el mensaje</span> 
                        </div>
                    </th>
                    <th class="tabla4">
                        <div class="cssToolTip">
                            <%= "¿Está leido? " %>
                            <span>Dice si el mensaje está o no leido (En rojo es que no esta leido y en verde es que lo está)</span> 
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <% @emails_out.each do |email_out| %>
                    <tr class="tabla4">
                        <td class="tabla4" title="<%= email_out.subject %>"><%= email_out.subject %></td>
                        <td class="tabla4" title="<%= email_out.user_for %>"><%= email_out.user_for %></td>
                        <td class="tabla4" title="<%= email_out.description %>"><div id="container2"><%= email_out.description %></div></td>
                        <td class="tabla4"><%= email_out.created_at %></td>
                        <% if email_out.is_sent == 0 %>
                            <td class="b1"><%= Email::SENT_CATEGORY[email_out.is_sent]%></td>
                        <% else %>
                            <td class="b2"><%= Email::SENT_CATEGORY[email_out.is_sent]%></td>
                        <% end %>
                    </tr>
                <% end %>
            </tbody>
            <tfoot>
                <tr class="tabla4">
                    <th class="tabla4" colspan="5">
                        <div class="pagination">
                            <div class="digg_pagination">
                                <%= will_paginate @emails_out, :container => false %>
                            </div>
                        </div>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<div style="clear: both;">
</div>


<div class="window">
    <div class="cerrar"><%= link_to "Cerrar X", 'javascript:closeWindow();', data: { confirm: "¿Está seguro que desea cerrar?"} %></div>
    <div class="title">Nuevo email</div>
    <%= render 'form' %>
</div>

<script type="text/javascript">
    function openWindow(){
        $(".window").slideDown("slow");
    }
    function closeWindow(){
        $(".window").slideUp("fast");
    }
</script>