<div class="title">Mensajes de '<%= current_user.user_name %>'</div></br>

<ul class="tabs">
    <li><a href="#tab1">Mensajes recibidos</a></li>
    <li><a href="#tab2">Mensajes enviados</a></li>
</ul>
<div class="contenedor_tab">
    <div id="tab1" class="contenido_tab">
        <table class="pretty">
            <%= button_to "New email", new_email_path, :method => "get" %>
            <%= button_to "Destroy", @email, :confirm => 'Estas seguro?', :method => :delete %>
            <thead>
                <tr>
                    <th>Selecciona</th>
                    <th> Asunto </th>
                    <th> Emisor. De: </th>
                    <th> Receptor. Para: </th>
                    <th> Descripción </th>
                    <th> Fecha Recibido </th>
                    <th> Esta leido </th>
                </tr>
            </thead>
            <tbody>
                <% @emails_in.each do |email_in| %>
                    <tr>
                        <td><%= check_box_tag "alternate_numbers" %></td>
                        <td><%= email_in.subject %></td>
                        <td><%= email_in.user_from %></td>
                        <% if @current_restaurant.email == email_in.user_for %>
                            <td class="b3"><%= email_in.user_for %></td>
                        <% else %>
                            <td class="b4"><%= email_in.user_for %></td>
                        <% end %>
                        <td class="contenido"><%= email_in.description %></td>
                        <td><%= email_in.created_at.strftime("%d %B %Y -- %X") %></td>
                        <% if email_in.is_view == 0 %>
                            <td class="b1"><%= Email::VIEW_CATEGORY[email_in.is_view]%></td>
                        <% else %>
                            <td class="b2"><%= Email::VIEW_CATEGORY[email_in.is_view]%></td>
                        <% end %>
                        <td><%= link_to "Leer Mensaje", emails_show_path(email_in.id) %></td>
                    </tr>
                <% end %>
            </tbody>
            <tfoot>
                <%= will_paginate @emails_in %>
            </tfoot>
        </table>
    </div>
    <div id="tab2" class="contenido_tab">
         <table class="pretty">
            <thead>
                <tr>
                    <th> Asunto </th>
                    <th> Enviado por: </th>
                    <th> Descripción </th>
                    <th> Fecha Envío </th>
                    <th> Esta leido </th>
                </tr>
            </thead>
            <tbody>
                <% @emails_out.each do |email_out| %>
                    <tr>
                        <td><%= email_out.subject %></td>
                        <td><%= email_out.user_for %></td>
                        <td class="contenido"><%= email_out.description %></td>
                        <td><%= email_out.created_at %></td>
                        <% if email_out.is_sent == 0 %>
                            <td class="b1"><%= Email::SENT_CATEGORY[email_out.is_sent]%></td>
                        <% else %>
                            <td class="b2"><%= Email::SENT_CATEGORY[email_out.is_sent]%></td>
                        <% end %>
                    </tr>
                <% end %>
            </tbody>
            <tfoot>
                <%= will_paginate @emails_out %>
            </tfoot>
        </table>
    </div>
<div style="clear:both;">

</div>