<div class="title">Bandeja de entrada</div>
<div id="padre">  
    <div id="hijo2"> 
        <p>
            <strong>Asunto: </strong>
            <%= @email.subject %>
        </p>
        <p>
            <strong>De:</strong>
            <%= @email.user_from %>
        </p>
        <p>
            <strong>Para:</strong>
            <%= @email.user_for %>
        </p>
        <p>
            <strong>Descripción</strong><br />
            <%= @email.description %>
        </p>
        <p>
            <%= link_to "Eliminar", @email, :method => :delete, data: { confirm: "¿Está seguro que desea Eliminar el mensaje?"}, :class => 'boton grey'  %>
        </p>
    </div>
</div>
