<div class="title">Bandeja de entrada</div>

<p>
    <strong>subject:</strong>
    <%= @email.subject %>
</p>
<p>
    <strong>description:</strong>
    <%= @email.description %>
</p>
<p>
    <strong>is_view:</strong>
    <%= Email::VIEW_CATEGORY[@email.is_view] %>
</p>
<p>
    <strong>user. De:</strong>
    <%= @email.user_from %>
</p>
<p>
    <strong>user. Para::</strong>
    <%= @email.user_for %>
</p>

<p>
    <%= link_to "Edit", edit_email_path(@email) %> |
    <%= link_to "Destroy", @email, :method => :delete, data: { confirm: "Are you sure?"} %> |
    <%= link_to "View All", emails_path %>
</p>
