<h1>Productos Registrados</h1>
<table>
    <thead>
        <tr>
            <th><%= "Producto" %></th>
            <th><%= "Restaurante al que pertenece" %></th>
            <th><%= "Categoría producto" %></th>
            <th><%= "Descripción" %></th>
            <th><%= "Precio unidad" %></th>
            <th><%= "Fecha de alta" %></th>
            <th><%= "Fecha modificación" %></th>
        </tr>
    </thead>
    <tbody>
        <% @products.each do |total_products| %>
            <tr>
                <td><%= total_products.name %></td>
                <td><%= total_products.restaurant.name %></td>
                <td><%= Product::PRODUCT_CATEGORY[total_products.product_type] %></td>
                <td><%= total_products.description %></td>
                <td class="price"><%= number_to_currency(total_products.unit_price, :unit => "€") %></td>
                <td><%= total_products.created_at %></td>
                <td><%= total_products.updated_at %></td>
            </tr>
        <% end %>
    </tbody>
    <tfoot>
        <%= will_paginate @products %>
    </tfoot>
</table>