<div class="title">Productos del Restaurante</div>
</br>
<div class ="muestra-tabla">
	<table class="tabla1">
		<thead>
			<tr class="tabla1">
				<%= form_tag products_path, method: :get do %>
				    <th class="tabla1" >
						<div class="cssToolTip">
						    <%= "Nombre" %>
							<span>Nombre del Producto que está registrado en el Restaurante</span> 
						</div>
						<p><%= text_field_tag :name, params[:name], class: "form-control", placeholder: "Nombre Producto" %></p>
				    </th>
				    <th class="tabla1" >
						<div class="cssToolTip">
						    <%= "Categoría" %>
							<span>Categoría por la que se clasifica el producto (RACION, CALDOS, PESCADOS, CARNES, ENSALADAS, BOCADILLO, POSTRE, BEBIDA, BEBIDAS ALCOHOLICAS, APERITIVO, TACO, BURRITO, WRAP, GENERAL, EXTRAS)</span> 
						</div>
				    </th>
				    <th class="tabla1" >
						<div class="cssToolTip">
						    <%= "Ingredientes" %>
							<span>Muestra los ingredientes que se han utilizado para la elaboración del producto</span> 
						</div>
				    </th>
				    <th class="tabla1" >
						<div class="cssToolTip">
						    <%= "Coste Venta Unidad" %>
							<span>Coste de venta del Producto por Unidad</span> 
						</div>
				    </th>
				    <th class="tabla1" >
						<div class="cssToolTip">
						    <%= "Resturante" %>
							<span>Nombre del Restaurante al que pertenece el Producto</span> 
						</div>
				    </th>
				    <th class="tabla1" >
						<div class="cssToolTip">
						    <%= "¿Consumo menores?" %>
							<span>Nos dice si está permitida la venta del producto a menores de edad</span> 
						</div>
				    </th>
				<% end %>
			</tr>
		</thead>
		<tbody>
			<% @products.each do |product| %>
			    <tr class="tabla1">
					<td class="tabla1"><%= product.name %></td>
					<td class="tabla1"><%= Product::PRODUCT_CATEGORY[product.type_product] %></td>
					<td class="tabla1" title="<%= product.ingredients %>"><%= product.ingredients %></td>
					<td class="tabla1" class="price"><%= number_to_currency(product.price, :unit => "€") %></td>
					<td class="tabla1"><%= product.restaurant.name %></td>
					<% if product.younger %>
						<td class="b5"><%= product.younger %></td>
					<% else %>
						<td class="b6"><%= product.younger %></td>
					<% end %>
					<td><%= link_to "Edit Stock", edit_product_path(product), :class => 'boton grey' %></td>
			    </tr>
			<% end %>
		</tbody>
		<tfoot>
			<tr class="tabla1">
				<th class="tabla1" colspan="6">
					<div class="pagination">
                        <div class="digg_pagination">
                            <%= will_paginate @products, :container => false %>
                        </div>
                    </div>
				</th>
			</tr>
		</tfoot>
	</table>
</div>

<div class="muestra-opciones">
	</br><div class="accion">Registrar Producto en Restaurante</div>
	<%= render 'form' %>
</div>
