<div class="title">Productos del Restaurante</div>

<div class ="muestra-tabla">
	<table class="pretty">
		<thead>
			<tr>
				<%= form_tag products_path, method: :get do %>
				    <th>Nombre<p><%= text_field_tag :name, params[:name], class: "form-control", placeholder: "Nombre producto" %></p></th>
				    <th>Categoría</th>
				    <th>Ingredientes</th>
				    <th>¿Consumo menores?</th>
				    <th>Coste Venta Unidad</th>
				    <th>Resturante</th>
				<% end %>
			</tr>
		</thead>
		<tbody>
			<% @products.each do |product| %>
			    <tr>
			          <td><%= product.name %></td>
			          <td><%= Product::PRODUCT_CATEGORY[product.type_product] %></td>
			          <td title="<%= product.ingredients %>"><%= product.ingredients %></td>
			          <td><%= product.younger %></td>
			          <td class="price"><%= number_to_currency(product.price, :unit => "€") %></td>
			          <td><%= product.restaurant.name %></td>
			          <td><%= link_to "Edit Stock", edit_product_path(product) %></td>                
			    </tr>
			<% end %>
		</tbody>
		<tfoot>
			<%= will_paginate @products %>
		</tfoot>
	</table>
</div>

<div class="muestra-opciones">
	<div class="accion">Agregar productos al restaurante</div>
	<%= render 'form' %>
</div>
