
<div class="title">Producto</div>

    <p>
        <strong>Nombre:</strong>
        <%= @product.name %>
    </p>
    <p>
        <strong>Tipo producto:</strong>
        <%= Product::PRODUCT_CATEGORY[@product.product_type] %>
    </p>
    <p>
        <strong>Descripcion Producto:</strong>
        <%= @product.description %>
    </p>
    <p>
        <strong>Precio:</strong>
        <%= @product.unit_price %>
    </p>

    <p>
    <%= link_to "Edit", edit_product_path(@product) %> |
    <%= link_to "Destroy", @product, :confirm => 'Are you sure?', :method => :delete, :popup => true %> |
    <%= link_to "View All", products_path %>
</p>