<table class="pretty">
      <tr>
            <th><%= "Titulo" %></th>
            <th><%=  "Mesa" %></th>
            <th><%=  "Menu" %></th>
            <th><%=  "Producto" %></th>
            <th><%=  "Descripcion" %></th>
            <th><%=  "Esta Finalizada" %></th>
      </tr>
      <% @commands.each do |command| %>
            <tr>
                  <td><%= command.title %></td>
                  <td><%= command.location.place %></td>
                  <td><%= command.menu.type_menu %></td>
                  <td><%= command.producto.name %></td>
                  <td><%= command.description %></td>
                  <td><%= command.is_end %></td>
                  <td><%= link_to "Edit Command", edit_command_path(command) %></td>                
            </tr>
      <% end %>
</table>