<%= form_for @command do |f| %>
      <%= f.error_messages %>
      <p>
            <%= f.label :titulo_comanda %>
            <%= f.text_field :title %>
      </p>
      <p>
            <%= f.label :localizacion %>
            <%= f.select :location_id, options_from_collection_for_select( Location.all, :id, :place)%>
      </p>
      <p>
            <%= f.label :menu %>
            <%= f.select :menu_id, options_from_collection_for_select( Menu.all, :id, :type_menu)%>
      </p>
      <p>
            <%= f.label :producto %>
            <%= f.select :product_id, options_from_collection_for_select( Product.all, :id, :name)%>
      </p>
      <p>
            <%= f.label :descripción %><br />
            <%= f.text_area :description %>
      </p>
      <p><%= f.submit %></p>
<% end %>