<%= form_for @command do |f| %>
    <%= f.error_messages %>
    <div class="field">
        </br><%= f.label :nombre_comanda %>
        <%= f.text_field :title %>
    </div>
    <div class="field">
        </br><%= f.label :descripción %><br />
        <%= f.text_area :description, placeholder: "(Opcional)" %>
    </div>
    <% if @current_role  == 3 %>
        <div class="field">
            </br><%= f.label :esta_finalizada %>
            <%= f.select :is_end, options_for_select(Command::FINISH_CATEGORY.map.with_index {|index, value| [index, value]})%>
        </div>
    <% end %>
    <%= f.hidden_field :location_id, :value => @current_restaurant %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <div class="field">
        </br><%= f.submit 'Crear Comanda'%>
        </br></br></br></br></br>
    </div>
<% end %>