<% if @current_role == 0 %>
	<div class="title">Comandas del Usuario '<%= current_user.user_name %>'</div>
	<div class ="muestra-tabla">
		<table class="pretty">
		    <tr>
		        <th>Comanda</th>
		        <th>Restaurante</th>
		        <th>Usuario</th>
		        <th>Lugar</th>
		        <th>Mesa</th>
		        <th>Descripción</th>
		        <th title="Rojo claro si no esta servida y verde claro si lo está">¿Servido?</th>
		        <th title="Rojo si no esta finalizada y verde si lo está">¿Está Finalizada?</th>
		    </tr>
		    <% @commands.each do |command| %>
		        <% if command.location.restaurant_id == @current_restaurant.id %>
		            <tr>
		                <td><%= command.title %></td>
		                <td><%= command.location.restaurant.name %></td>
		                <td><%= command.user.user_name %></td>
		                <td><%= Location::LOCATION_CATEGORY[command.location.place] %></td>
		                <td><%= command.location.sit %></td>
		                <td><%= command.description %></td>
		                <% if command.is_served %>
		                	<td class="b5"><%= command.is_served %></td>
		                <% else %>
							<td class="b6"><%= command.is_served %></td>
		                <% end %>
		                <% if !command.is_end %>
		                	<td class="b1"><%= command.is_end %></td>
		                <% else %>
							<td class="b2"><%= command.is_end %></td>
		                <% end %>
		                <td><%= link_to "Edit Command", edit_command_path(command) %> | <%= link_to "Ver Command", command_path(command) %></td>                
		            </tr>
		        <% end %>
		    <% end %>
		    <tfoot>
		        <%#= will_paginate @commands %>
		    </tfoot>
		</table>
	</div>

	<div class="muestra-opciones">
		</br><div class="accion">Crear una nueva Comanda</div>
		</br></br><%= button_to 'Crear Comanda', new_location_path, :method => "get" %>
	</div>

<% elsif @current_role == 1 %>
	<div class="title">Comandas del Camarero</div>
	<table class="pretty">
	    <tr>
	        <th> Comanda </th>
	        <th> Restaurante </th>
	        <th> Usuario </th>
	        <th> Mesa </th>
	        <th> Descripcion </th>
	        <th title="Azul si no esta servida y morado si lo está">¿Servido?</th>
		    <th title="Rojo si no esta finalizada y verde si lo está">¿Comanda Finalizada?</th>
	    </tr>
	    <% @commands.each do |command| %>
	        <% if command.location.restaurant_id == @current_restaurant.id %>
	            <tr>
	                <td><%= command.title %></td>
	                <td><%= command.location.restaurant.name %></td>
	                <td><%= command.user.user_name %></td>
	                <td><%= command.location.place %></td>
	                <td><%= command.description %></td>
	                <% if command.is_served %>
	                	<td class="b5"><%= command.is_served %></td>
	                <% else %>
						<td class="b6"><%= command.is_served %></td>
	                <% end %>
	                <% if !command.is_end %>
	                	<td class="b1"><%= command.is_end %></td>
	                <% else %>
						<td class="b2"><%= command.is_end %></td>
	                <% end %>
	                <td><%= link_to "Edit Command", edit_command_path(command) %></td>                

					<td>
					    <%= form_for command do |f| %>
					        <%= f.error_messages %>

					        <%= f.hidden_field :is_served, :value => true %>
					        <div class="field">
					            </br><%= f.submit 'Servir'%>
					            </br></br></br></br></br>
					        </div>
					    <% end %>
					</td>
	            </tr>
	        <% end %>
	    <% end %>
	    <tfoot>
	    	<%#= will_paginate @commands %>
	    </tfoot>
	</table>
<% elsif @current_role == 2 %>
	<div class="title">Comandas del Cocinero</div>
	<table class="pretty">
	    <tr>
	        <th> Comanda </th>
	        <th> Restaurante </th>
	        <th> Usuario </th>
	        <th> Mesa </th>
	        <th> Descripcion </th>
	        <th title="Azul si no esta servida y morado si lo está">¿Servido?</th>
		    <th title="Rojo si no esta finalizada y verde si lo está">¿Comanda Finalizada?</th>
	    </tr>
	    <% @commands.each do |command| %>
	        <% if command.location.restaurant_id == @current_restaurant.id %>
	            <tr>
	                <td><%= command.title %></td>
	                <td><%= command.location.restaurant.name %></td>
	                <td><%= command.user.user_name %></td>
	                <td><%= command.location.place %></td>
	                <td><%= command.description %></td>
	                <% if command.is_served %>
	                	<td class="b5"><%= command.is_served %></td>
	                <% else %>
						<td class="b6"><%= command.is_served %></td>
	                <% end %>
	                <% if !command.is_end %>
	                	<td class="b1"><%= command.is_end %></td>
	                <% else %>
						<td class="b2"><%= command.is_end %></td>
	                <% end %>
	                <td><%= link_to "Edit Command", edit_command_path(command) %></td>                
	            </tr>
	        <% end %>
	    <% end %>
	    <tfoot>
	    	<%#= will_paginate @commands %>
	    </tfoot>
	</table>
<% elsif @current_role == 3 %>
	<div class="title">Comandas del Restaurante</div>
	<table class="pretty">
	    <tr>
	        <th> Comanda </th>
	        <th> Restaurante </th>
	        <th> Usuario </th>
	        <th> Mesa </th>
	        <th> Descripcion </th>
	        <th title="Azul si no esta servida y morado si lo está">¿Servido?</th>
		    <th title="Rojo si no esta finalizada y verde si lo está">¿Comanda Finalizada?</th>
	    </tr>
	    <% @commands.each do |command| %>
	        <% if command.location.restaurant_id == @current_restaurant.id %>
	            <tr>
	                <td><%= command.title %></td>
	                <td><%= command.location.restaurant.name %></td>
	                <td><%= command.user.user_name %></td>
	                <td><%= command.location.place %></td>
	                <td><%= command.description %></td>
	                <% if command.is_served %>
	                	<td class="b5"><%= command.is_served %></td>
	                <% else %>
						<td class="b6"><%= command.is_served %></td>
	                <% end %>
	                <% if !command.is_end %>
	                	<td class="b1"><%= command.is_end %></td>
	                <% else %>
						<td class="b2"><%= command.is_end %></td>
	                <% end %>
	                <td><%= link_to "Edit Command", edit_command_path(command) %></td>                
	            </tr>
	        <% end %>
	    <% end %>
	    <tfoot>
	    	<%#= will_paginate @commands %>
	    </tfoot>
	</table>
<% end %>