<% if @current_role == 0 %>
	<div class="title">Comanda de '<%= current_user.user_name %>'</div>
	<div class ="muestra-tabla">
		<table class="pretty">
		    <tr>
		        <th><%= "Comanda" %></th>
		        <th><%= "Restaurante" %></th>
		        <th><%= "Usuario" %></th>
		        <th><%= "Mesa" %></th>
		        <th><%= "Descripción" %></th>
		        <th><%= "¿Esta Finalizada?" %></th>
		    </tr>
		    <% @commands.each do |command| %>
		    <%= command.location.restaurant_id %>
		    <%= @current_restaurant %>
		        <% if command.location.restaurant_id == @current_restaurant %>
		            <tr>
		                <td><%= command.title %></td>
		                <td><%= command.location.restaurant_id %></td>
		                <td><%= command.user.user_name %></td>
		                <td><%= command.location.place %></td>
		                <td><%= command.description %></td>
		                <td><%= command.is_end %></td>
		                <td><%= link_to "Edit Command", edit_command_path(command) %></td>                
		            </tr>
		        <% end %>
		        <%= link_to "Back", location_path(command.location.place) %>
		    <% end %>
		    <tfoot>
		        <%= will_paginate @commands %>
		    </tfoot>
		</table>

		<%= will_paginate @commands %>
	</div>


	<div class="muestra-opciones">
		<div class="accion">Crear nueva comanda</div>
			<%= render 'form' %>
			<p><%= link_to "Back to List", commands_path %></p>
	    </div>
	</div>
<% elsif @current_role == 1 %>
	<h1>Comandas del Camarero</h1>
	<table class="pretty">
		    <tr>
		        <th><%= "Comanda" %></th>
		        <th><%= "Restaurante" %></th>
		        <th><%= "Usuario" %></th>
		        <th><%= "Mesa" %></th>
		        <th><%= "Descripcion" %></th>
		        <th><%= "¿Esta Finalizada?" %></th>
		    </tr>
		    <% @commands.each do |command| %>
		    <%= command.location.restaurant_id %>
		    <%= @current_restaurant %>
		        <% if command.location.restaurant_id == @current_restaurant %>
		            <tr>
		                <td><%= command.title %></td>
		                <td><%= command.location.restaurant_id %></td>
		                <td><%= command.user.user_name %></td>
		                <td><%= command.location.place %></td>
		                <td><%= command.description %></td>
		                <td><%= command.is_end %></td>
		                <td><%= link_to "Edit Command", edit_command_path(command) %></td>                
		            </tr>
		        <% end %>
		        <%= link_to "Back", location_path(command.location.place) %>
		    <% end %>
		</table>
		<%= will_paginate @commands %>
<% elsif @current_role == 2 %>
	<h1>Comandas del Cocinero</h1>
	<table class="pretty">
		    <tr>
		        <th><%= "Comanda" %></th>
		        <th><%= "Restaurante" %></th>
		        <th><%= "Usuario" %></th>
		        <th><%= "Mesa" %></th>
		        <th><%= "Descripción" %></th>
		        <th><%= "¿Esta Finalizada?" %></th>
		    </tr>
		    <% @commands.each do |command| %>
		    <%= command.location.restaurant_id %>
		    <%= @current_restaurant %>
		        <% if command.location.restaurant_id == @current_restaurant %>
		            <tr>
		                <td><%= command.title %></td>
		                <td><%= command.location.restaurant_id %></td>
		                <td><%= command.user.user_name %></td>
		                <td><%= command.location.place %></td>
		                <td><%= command.description %></td>
		                <td><%= command.is_end %></td>
		                <td><%= link_to "Edit Command", edit_command_path(command) %></td>                
		            </tr>
		        <% end %>
		        <%= link_to "Back", location_path(command.location.place) %>
		    <% end %>
		</table>
		<%= will_paginate @commands %>
<% elsif @current_role == 3 %>
	<h1>Comandas del Restaurante</h1>
	<table class="pretty">
		    <tr>
		        <th><%= "Comanda" %></th>
		        <th><%= "Restaurante" %></th>
		        <th><%= "Usuario" %></th>
		        <th><%= "Mesa" %></th>
		        <th><%= "Descripcion" %></th>
		        <th><%= "¿Esta Finalizada?" %></th>
		    </tr>
		    <% @commands.each do |command| %>
		    <%= command.location.restaurant_id %>
		    <%= @current_restaurant %>
		        <% if command.location.restaurant_id == @current_restaurant %>
		            <tr>
		                <td><%= command.title %></td>
		                <td><%= command.location.restaurant_id %></td>
		                <td><%= command.user.user_name %></td>
		                <td><%= command.location.place %></td>
		                <td><%= command.description %></td>
		                <td><%= command.is_end %></td>
		                <td><%= link_to "Edit Command", edit_command_path(command) %></td>                
		            </tr>
		        <% end %>
		        <%= link_to "Back", location_path(command.location.place) %>
		    <% end %>
		</table>
		<%= will_paginate @commands %>
<% end %>