<% if @current_role == 0 %>
	<div class="title">Comanda del Usuario '<%= current_user.user_name %>'</div>
	<div class ="muestra-tabla">
		<table class="pretty">
		    <tr>
		        <th>Comanda</th>
		        <th>Restaurante</th>
		        <th>Usuario</th>
		        <th>Lugar</th>
		        <th>Mesa</th>
		        <th>Descripción</th>
		        <th>¿Servido?</th>
		        <th>¿Comanda Finalizada?</th>
		    </tr>
		    <% @commands.each do |command| %>
		        <% if command.location.restaurant_id == @current_restaurant.id %>
		            <tr>
		                <td><%= command.title %></td>
		                <td><%= command.location.restaurant_id %></td>
		                <td><%= command.user.user_name %></td>
		                <td><%= Location::LOCATION_CATEGORY[command.location.place] %></td>
		                <td><%= command.location.sit %></td>
		                <td><%= command.description %></td>
		                <td><%= command.is_served %></td>
		                <td><%= command.is_end %></td>
		                <td><%= link_to "Edit Command", edit_command_path(command) %> | <%= link_to "Ver Command", command_path(command) %></td>                
		            </tr>
		        <% end %>
		    <% end %>
		    <tfoot>
		        <%#= will_paginate @commands %>
		    </tfoot>
		</table>
	</div>

	<div class="muestra-opciones">
		<div class="accion">

		<%= link_to 'Crear Nueva Comanda', new_location_path %>
	    </div>
	</div>

<% elsif @current_role == 1 %>
	<div class="title">Comandas del Camarero</div>
	<table class="pretty">
	    <tr>
	        <th> Comanda </th>
	        <th> Restaurante </th>
	        <th> Usuario </th>
	        <th> Mesa </th>
	        <th> Descripcion </th>
	        <th> ¿Servido? </th>
	        <th> ¿Esta Finalizada? </th>
	    </tr>
	    <% @commands.each do |command| %>
	        <% if command.location.restaurant_id == @current_restaurant.id %>
	            <tr>
	                <td><%= command.title %></td>
	                <td><%= command.location.restaurant_id %></td>
	                <td><%= command.user.user_name %></td>
	                <td><%= command.location.place %></td>
	                <td><%= command.description %></td>
	                <td><%= command.is_served %></td>
	                <td><%= command.is_end %></td>
	                <td><%= link_to "Edit Command", edit_command_path(command) %></td>                

					<td>
					    <%= form_for command do |f| %>
					        <%= f.error_messages %>

					        <%= f.hidden_field :is_served, :value => true %>
					        <div class="field">
					            </br><%= f.submit 'Servir'%>
					            </br></br></br></br></br>
					        </div>
					    <% end %>
					</td>






	            </tr>
	        <% end %>
	    <% end %>
	    <tfoot>
	    	<%#= will_paginate @commands %>
	    </tfoot>
	</table>
<% elsif @current_role == 2 %>
	<div class="title">Comandas del Cocinero</div>
	<table class="pretty">
	    <tr>
	        <th> Comanda </th>
	        <th> Restaurante </th>
	        <th> Usuario </th>
	        <th> Mesa </th>
	        <th> Descripcion </th>
	        <th> ¿Servido? </th>
	        <th> ¿Esta Finalizada? </th>
	    </tr>
	    <% @commands.each do |command| %>
	        <% if command.location.restaurant_id == @current_restaurant.id %>
	            <tr>
	                <td><%= command.title %></td>
	                <td><%= command.location.restaurant_id %></td>
	                <td><%= command.user.user_name %></td>
	                <td><%= command.location.place %></td>
	                <td><%= command.description %></td>
	                <td><%= command.is_served %></td>
	                <td><%= command.is_end %></td>
	                <td><%= link_to "Edit Command", edit_command_path(command) %></td>                
	            </tr>
	        <% end %>
	    <% end %>
	    <tfoot>
	    	<%#= will_paginate @commands %>
	    </tfoot>
	</table>
<% elsif @current_role == 3 %>
	<div class="title">Comandas del Restaurante</div>
	<table class="pretty">
	    <tr>
	        <th> Comanda </th>
	        <th> Restaurante </th>
	        <th> Usuario </th>
	        <th> Mesa </th>
	        <th> Descripcion </th>
	        <th> ¿Servido? </th>
	        <th> ¿Esta Finalizada? </th>
	    </tr>
	    <% @commands.each do |command| %>
	        <% if command.location.restaurant_id == @current_restaurant.id %>
	            <tr>
	                <td><%= command.title %></td>
	                <td><%= command.location.restaurant_id %></td>
	                <td><%= command.user.user_name %></td>
	                <td><%= command.location.place %></td>
	                <td><%= command.description %></td>
	                <td><%= command.is_served %></td>
	                <td><%= command.is_end %></td>
	                <td><%= link_to "Edit Command", edit_command_path(command) %></td>                
	            </tr>
	        <% end %>
	    <% end %>
	    <tfoot>
	    	<%#= will_paginate @commands %>
	    </tfoot>
	</table>
<% end %>