<% if @current_role == 0 %>
	<div class="title">Comandas del Usuario '<%= current_user.user_name %>'</div>
	<div class ="muestra-tabla1">
		<table class="tabla1">
		    <tr class="tabla1">
		        <th class="tabla1" >
					<div class="cssToolTip">
					    Comanda
						<span>Nombre de la Comanda</span> 
					</div>
		        </th>
		        <th class="tabla1" >
					<div class="cssToolTip">
					    Restaurante
						<span>Nombre del Restaurante</span> 
					</div>
		        </th>
		        <th class="tabla1" >
					<div class="cssToolTip">
					    Usuario
						<span>Nombre del Usuario</span> 
					</div>
		        </th>
		        <th class="tabla1" >
					<div class="cssToolTip">
					    Mesa
						<span>Número de la Mesa desde donde se realiza la Comanda</span> 
					</div>
		        </th>
		        <th class="tabla1" >
					<div class="cssToolTip">
					    Precio Comanda
						<span>Precio total que costó la Comanda al Usuario</span> 
					</div>
		        </th>
		        <th class="tabla1" >
					<div class="cssToolTip">
					    Fecha Creación
						<span>Fecha de cuando se creó la Comanda</span> 
					</div>
		        </th>
		        <th class="tabla1" >
					<div class="cssToolTip">
					    ¿Servido?
						<span>Rojo claro si no esta servida y verde claro si lo está</span> 
					</div>
		        </th>
		        <th class="tabla1" >
					<div class="cssToolTip">
					    ¿Está Finalizada?
						<span>Rojo si no esta finalizada y verde si lo está</span> 
					</div>
		        </th>
		    </tr>
		    <% @commands_clients.each do |command| %>
		        <% if command.restaurant_id == @current_restaurant.id %>
		            <tr class="tabla1">
		                <td class="tabla1"><%= command.title %></td>
		                <td class="tabla1"><%= command.restaurant.name %></td>
		                <td class="tabla1"><%= command.user.user_name %></td>
		                <td class="tabla1"><%= command.place %></td>
		                <td class="tabla1"><%= command.total_price_command %> €</td>
		                <td class="tabla1"><%= command.created_at.strftime("%d %B %Y -- %X") %></td>
		                <% if command.is_served %>
		                	<td class="b5"><%= command.is_served %></td>
		                <% else %>
							<td class="b6"><%= command.is_served %></td>
		                <% end %>
		                <% if !command.is_end %>
		                	<td class="b1"><%= command.is_end %></td>
		                <% else %>
							<td class="b2"><%= command.is_end %></td>
		                <% end %>
		                <% if !command.is_end %>
		                	<td><%= link_to "Editar", edit_command_path(command), :class => 'boton grey' %>  <%= link_to "Ver Comanda", command_path(command), :class => 'boton grey' %></td>
		                <% end %>          
		            </tr>
		        <% end %>
		    <% end %>
		    <tfoot>
				<tr class="tabla1">
					<th class="tabla1" colspan="8">
						<div class="pagination">
							<div class="digg_pagination">
							    <%= will_paginate @commands_clients, :container => false %>
							</div>
						</div>
					</th>
				</tr>
			</tfoot>
		</table>
	</div>
	<% if @commands_ends.blank? %>
		<div class="muestra-opciones1">
			</br><div class="accion">Crear una Nueva Comanda</div>
			</br></br><%= button_to 'Crear Comanda', new_command_path, :method => "get", :class => 'boton grey' %>
			</br></br></br></br></br></br>
		</div>
	<% end %>

<% elsif @current_role == 1 %>
	<div class="title">Comandas del Camarero</div>
	<table class="tabla1">
	    <tr class="tabla1">
	    	<th class="tabla1" >
				<div class="cssToolTip">
				    Comanda
					<span>Nombre de la Comanda</span> 
				</div>
	        </th>
	        <th class="tabla1" >
				<div class="cssToolTip">
				    Restaurante
					<span>Nombre del Restaurante</span> 
				</div>
	        </th>
	        <th class="tabla1" >
				<div class="cssToolTip">
				    Usuario
					<span>Nombre del Usuario</span> 
				</div>
	        </th>
	        <th class="tabla1" >
				<div class="cssToolTip">
				    Mesa
					<span>Número de la Mesa desde donde se realiza la Comanda</span> 
				</div>
	        </th>
	        <th class="tabla1" >
				<div class="cssToolTip">
				    ¿Servido?
					<span>Rojo claro si no esta servida y verde claro si lo está</span> 
				</div>
	        </th>
	        <th class="tabla1" >
				<div class="cssToolTip">
				    ¿Está Finalizada?
					<span>Rojo si no esta finalizada y verde si lo está</span> 
				</div>
	        </th>
	    </tr>
	    <% @commands.each do |command| %>
	        <% if command.restaurant_id == @current_restaurant.id %>
	            <tr class="tabla1">
	                <td class="tabla1"><%= command.title %></td>
	                <td class="tabla1"><%= command.restaurant.name %></td>
	                <td class="tabla1"><%= command.user.user_name %></td>
	                <td class="tabla1"><%= command.place %></td>
	                <% if command.is_served %>
	                	<td class="b5"><%= command.is_served %></td>
	                <% else %>
						<td class="b6"><%= command.is_served %></td>
	                <% end %>
	                <% if !command.is_end %>
	                	<td class="b1"><%= command.is_end %></td>
	                <% else %>
						<td class="b2"><%= command.is_end %></td>
	                <% end %>
	                <td><%= link_to "Editar", edit_command_path(command), :class => 'boton grey' %><%= link_to "Ver Comanda", command_path(command), :class => 'boton grey' %></td>                

					<td>
					    <%= form_for command do |f| %>
					    	<% if !command.is_served %>
						        <%= f.error_messages %>

						        <%= f.hidden_field :is_served, :value => true %>
						        <div class="field">
						            <%= f.submit 'Servir', :class => 'boton grey'%>
						        </div>
					    	<% end %>
						<% end %>
					</td>
	            </tr>
	        <% end %>
	    <% end %>
	    <tfoot>
			<tr class="tabla1">
				<th class="tabla1" colspan="6">
					<div class="pagination">
						<div class="digg_pagination">
						    <%= will_paginate @commands, :container => false %>
						</div>
					</div>
				</th>
			</tr>
		</tfoot>
	</table>
<% elsif @current_role == 2 %>
	<div class="title">Comandas del Cocinero</div>
	<table  class="tabla1">
	    <tr class="tabla1">
	    	<th class="tabla1" >
				<div class="cssToolTip">
				    Comanda
					<span>Nombre de la Comanda</span> 
				</div>
	        </th>
	        <th class="tabla1" >
				<div class="cssToolTip">
				    Restaurante
					<span>Nombre del Restaurante</span> 
				</div>
	        </th>
	        <th class="tabla1" >
				<div class="cssToolTip">
				    Usuario
					<span>Nombre del Usuario</span> 
				</div>
	        </th>
	        <th class="tabla1" >
				<div class="cssToolTip">
				    Mesa
					<span>Número de la Mesa desde donde se realiza la Comanda</span> 
				</div>
	        </th>
	        <th class="tabla1" >
				<div class="cssToolTip">
				    Descripción
					<span>Breve descripción de la Comanda</span> 
				</div>
	        </th>
	        <th class="tabla1" >
				<div class="cssToolTip">
				    ¿Servido?
					<span>Rojo claro si no esta servida y verde claro si lo está</span> 
				</div>
	        </th>
	        <th class="tabla1" >
				<div class="cssToolTip">
				    ¿Está Finalizada?
					<span>Rojo si no esta finalizada y verde si lo está</span> 
				</div>
	        </th>
	    </tr>
	    <% @commands.each do |command| %>
	        <% if command.restaurant_id == @current_restaurant.id %>
	            <tr class="tabla1">
	                <td class="tabla1"><%= command.title %></td>
	                <td class="tabla1"><%= command.restaurant.name %></td>
	                <td class="tabla1"><%= command.user.user_name %></td>
	                <td class="tabla1"><%= command.place %></td>
	                <td class="tabla1"><%= command.description %></td>
	                <% if command.is_served %>
	                	<td class="b5"><%= command.is_served %></td>
	                <% else %>
						<td class="b6"><%= command.is_served %></td>
	                <% end %>
	                <% if !command.is_end %>
	                	<td class="b1"><%= command.is_end %></td>
	                <% else %>
						<td class="b2"><%= command.is_end %></td>
	                <% end %>
	                <td><%= link_to "Editar", edit_command_path(command), :class => 'boton grey' %><%= link_to "Ver Comanda", command_path(command), :class => 'boton grey' %></td>                
	            </tr>
	        <% end %>
	    <% end %>
	    <tfoot>
			<tr class="tabla1">
				<th class="tabla1" colspan="7">
					<div class="pagination">
						<div class="digg_pagination">
						    <%= will_paginate @commands, :container => false %>
						</div>
					</div>
				</th>
			</tr>
		</tfoot>
	</table>
<% elsif @current_role == 3 %>
	<div class="title">Comandas del Restaurante</div>
	<table  class="tabla1">
	    <tr class="tabla1">
			<th class="tabla1" >
				<div class="cssToolTip">
				    Comanda
					<span>Nombre de la Comanda</span> 
				</div>
	        </th>
	        <th class="tabla1" >
				<div class="cssToolTip">
				    Restaurante
					<span>Nombre del Restaurante</span> 
				</div>
	        </th>
	        <th class="tabla1" >
				<div class="cssToolTip">
				    Usuario
					<span>Nombre del Usuario</span> 
				</div>
	        </th>
	        <th class="tabla1" >
				<div class="cssToolTip">
				    Mesa
					<span>Número de la Mesa desde donde se realiza la Comanda</span> 
				</div>
	        </th>
	        <th class="tabla1" >
					<div class="cssToolTip">
					    Fecha Creación
						<span>Fecha de cuando se creó la comanda</span> 
					</div>
		        </th>
	        <th class="tabla1" >
				<div class="cssToolTip">
				    Ganancia por Comanda
					<span>Dinero que se gastó el Usuario en la Comanda</span> 
				</div>
	        </th>
	        <th class="tabla1" >
				<div class="cssToolTip">
				    ¿Servido?
					<span>Rojo claro si no esta servida y verde claro si lo está</span> 
				</div>
	        </th>
	        <th class="tabla1" >
				<div class="cssToolTip">
				    ¿Está Finalizada?
					<span>Rojo si no esta finalizada y verde si lo está</span> 
				</div>
	        </th>
	    </tr>
	    <% @commands.each do |command| %>
	        <% if command.restaurant_id == @current_restaurant.id %>
	            <tr class="tabla1">
	                <td class="tabla1"><%= command.title %></td>
	                <td class="tabla1"><%= command.restaurant.name %></td>
	                <td class="tabla1"><%= command.user.user_name %></td>
	                <td class="tabla1"><%= command.place %></td>
	                <td class="tabla1"><%= command.created_at.strftime("%d %B %Y -- %X") %></td>
	                <td class="tabla1"><%= command.total_price_command %> €</td>
	                <% if command.is_served %>
	                	<td class="b5"><%= command.is_served %></td>
	                <% else %>
						<td class="b6"><%= command.is_served %></td>
	                <% end %>
	                <% if !command.is_end %>
	                	<td class="b1"><%= command.is_end %></td>
	                <% else %>
						<td class="b2"><%= command.is_end %></td>
	                <% end %>
	                <td><%= link_to "Editar", edit_command_path(command), :class => 'boton grey' %><%= link_to "Ver Comanda", command_path(command), :class => 'boton grey' %></td>                
	            </tr>
	        <% end %>
	    <% end %>
	    <tfoot>
			<tr class="tabla1">
				<th class="tabla1" colspan="9">
					<div class="pagination">
						<div class="digg_pagination">
						    <%= will_paginate @commands, :container => false %>
						</div>
					</div>
				</th>
			</tr>
		</tfoot>
	</table>
<% end %>