<% if @current_role == 0 %>
	<div class="title">Comanda de '<%= current_user.user_name %>'</div>
	<div class ="muestra-tabla">
		<table class="pretty">
		    <tr>
		        <th>Comanda</th>
		        <th>Restaurante</th>
		        <th>Usuario</th>
		        <th>Lugar</th>
		        <th>Mesa</th>
		        <th>Descripción</th>
		        <th>¿Esta Finalizada?</th>
		    </tr>
		    <% @commands.each do |command| %>
		    <%= command.location.restaurant_id %>
		    <%= @current_restaurant %>
		        <% if command.location.restaurant_id == @current_restaurant.id %>
		            <tr>
		                <td><%= command.title %></td>
		                <td><%= command.location.restaurant_id %></td>
		                <td><%= command.user.user_name %></td>
		                <td><%= Location::LOCATION_CATEGORY[command.location.place] %></td>
		                <td><%= command.location.sit %></td>
		                <td><%= command.description %></td>
		                <td><%= command.is_end %></td>
		                <td><%= link_to "Edit Command", edit_command_path(command) %></td>                
		            </tr>
		        <% end %>
		    <% end %>
		    <tfoot>
		        <%= will_paginate @commands %>
		    </tfoot>
		</table>
	</div>

	<div class="muestra-opciones">
		<div class="accion">Crear nueva comanda</div>
			<%= render 'form' %>
			<p><%= link_to "Back to List", commands_path %></p>
	    </div>
	</div>

<% elsif @current_role == 1 %>
	<div class="title">Comandas del Camarero</div>
	<table class="pretty">
		    <tr>
		        <th><%= "Comanda" %></th>
		        <th><%= "Restaurante" %></th>
		        <th><%= "Usuario" %></th>
		        <th><%= "Mesa" %></th>
		        <th><%= "Descripcion" %></th>
		        <th><%= "¿Esta Finalizada?" %></th>
		    </tr>
		    <% @commands.each do |command| %>
		    <%= command.location.restaurant_id %>
		    <%= @current_restaurant %>
		        <% if command.location.restaurant_id == @current_restaurant.id %>
		            <tr>
		                <td><%= command.title %></td>
		                <td><%= command.location.restaurant_id %></td>
		                <td><%= command.user.user_name %></td>
		                <td><%= command.location.place %></td>
		                <td><%= command.description %></td>
		                <td><%= command.is_end %></td>
		                <td><%= link_to "Edit Command", edit_command_path(command) %></td>                
		            </tr>
		        <% end %>
		    <% end %>
		    <tfoot>
		    	<%= will_paginate @commands %>
		    </tfoot>
		</table>
<% elsif @current_role == 2 %>
	<div class="title">Comandas del Cocinero</div>
		<table class="pretty">
		    <tr>
		        <th><%= "Comanda" %></th>
		        <th><%= "Restaurante" %></th>
		        <th><%= "Usuario" %></th>
		        <th><%= "Mesa" %></th>
		        <th><%= "Descripción" %></th>
		        <th><%= "¿Esta Finalizada?" %></th>
		    </tr>
		    <% @commands.each do |command| %>
		    <%= command.location.restaurant_id %>
		    <%= @current_restaurant %>
		        <% if command.location.restaurant_id == @current_restaurant.id %>
		            <tr>
		                <td><%= command.title %></td>
		                <td><%= command.location.restaurant_id %></td>
		                <td><%= command.user.user_name %></td>
		                <td><%= command.location.place %></td>
		                <td><%= command.description %></td>
		                <td><%= command.is_end %></td>
		                <td><%= link_to "Edit Command", edit_command_path(command) %></td>                
		            </tr>
		        <% end %>
		    <% end %>
		    <tfoot>
		    	<%= will_paginate @commands %>
		    </tfoot>
		</table>
		
<% elsif @current_role == 3 %>
	<div class="title">Comandas del Restaurante</div>
	<table class="pretty">
		    <tr>
		        <th><%= "Comanda" %></th>
		        <th><%= "Restaurante" %></th>
		        <th><%= "Usuario" %></th>
		        <th><%= "Mesa" %></th>
		        <th><%= "Descripcion" %></th>
		        <th><%= "¿Esta Finalizada?" %></th>
		    </tr>
		    <% @commands.each do |command| %>
		        <% if command.location.restaurant_id == @current_restaurant.id %>
		            <tr>
		                <td><%= command.title %></td>
		                <td><%= command.location.restaurant_id %></td>
		                <td><%= command.user.user_name %></td>
		                <td><%= command.location.place %></td>
		                <td><%= command.description %></td>
		                <td><%= command.is_end %></td>
		                <td><%= link_to "Edit Command", edit_command_path(command) %></td>                
		            </tr>
		        <% end %>
		    <% end %>
		    <tfoot>
		    	<%= will_paginate @commands %>
		    </tfoot>
		</table>
<% end %>