<div class="title">Agregar Productos a la Comanda</div>
<div class="muestra-menus">
    <div class="accion">Comanda</div>
    <p>
        <strong>Nombre:</strong>
        <%= @command.title %>
    </p>
    <p>
        <strong>Localizacion:</strong>
        <%= @command.location.place %>
    </p>
    <p>
        <strong>Mesa:</strong>
        <%= @command.location.sit %>
    </p>
    <p>
        <strong>Descripcion:</strong>
        <%= @command.description %>
    </p>
    <p>
        <strong>Esta Finalizada:</strong>
        <%= @command.is_end %>
    </p>

    <p>
        <%= link_to "Edit", edit_command_path(@command) %> |
        <%= link_to "Destroy", @command, :confirm => 'Are you sure?', :method => :delete %> |
        <%= link_to "View All", commands_path %>
    </p>
</div>

<div class="muestra-tabla-menus">
    <table class="pretty">
        <tr>
            <th>Nombre menu/producto</th>
            <th>Cantidad</th>
        </tr>
        <% @command.command_products.each do |cp| %>
            <tr>
                <td><%= cp.product.name %></td>
                <td><%= cp.quantity %></td>      
            </tr>
        <% end %>
        <% @command.command_menus.each do |cp| %>
            <tr>
                <td><%= cp.menu.name %></td>
                <td><%= cp.quantity %></td>
            </tr>
        <% end %>

    </table>
</div>



<% if !@command.is_end %>
    <div class="muestra-eleccion">
        <div class="accion">Agregar Productos</div>
        <%= form_for :command_product, url: command_products_path do |f| %>
            <div class="field">
                <%= f.label :producto %><br />
                <%= f.select :product_id, options_from_collection_for_select( Product.all, :id, :name)%>
            </div>
            <div class="field">
                <%= f.label :quantity %><br />
                <%= f.text_field :quantity %>
            </div>
            <%= f.hidden_field :command_id, value: @command.id %>
            <%= f.submit %>
        <% end %>
    </div>

    <div class="muestra-eleccion">
        <div class="accion">Agragar Menu</div>
        <%= form_for :command_menu, url: command_menus_path do |f| %>
            <div class="field">
                <%= f.label :menu %><br />
                <%= f.select :menu_id, options_from_collection_for_select( Menu.all, :id, :name)%>
            </div>
            <div class="field">
                <%= f.label :quantity %><br />
                <%= f.text_field :quantity %>
            </div>
            <%= f.hidden_field :command_id, value: @command.id %>
            <%= f.submit %>
        <% end %>
    </div>


    <% if @command.is_served %>

        <%= form_for @command do |f| %>
            <%= f.error_messages %>

            <%= f.hidden_field :is_end, :value => 1 %>
            <div class="field">
                </br><%= f.submit 'Cerrar Comanda'%>
                </br></br></br></br></br>
            </div>
        <% end %>
    <% end %>
<% else %>
    <%= link_to 'Pedir cuenta', command_finish_path(@command) %>
<% end %>
