<div class="title">Agregar Productos a la Comanda</div>
</br><div class="muestra-comandas">
    </br></br><div class="accion">Comanda</div>
    <p>
        <strong>Nombre:</strong>
        <%= @command.title %>
    </p>
    <p>
        <strong>Localización:</strong>
        <%= Location::LOCATION_CATEGORY[@command.location.place] %>
    </p>
    <p>
        <strong>Mesa:</strong>
        <%= @command.location.sit %>
    </p>
    <p>
        <strong>Esta Finalizada:</strong>
        <%= @command.is_end %>
    </p>

    <p>
        <%= link_to "Modificar", edit_command_path(@command), style: "color: white"  %> |
        <%= link_to "Eliminar", @command, :method => :delete, data: { confirm: "¿Está seguro que desea modificar la Comanda?"}, style: "color: white"  %> |
        <%= link_to "Ver Todas", commands_path, style: "color: white"  %>
    </p>
</div>

</br>
<div class="muestra-tabla-comandas">
    <table class="tabla3">
        <thead>
            <tr class="tabla3">
                <th class="tabla3" title="Nombre del Menú o Producto seleccionado para la comanda">Nombre Menú/Producto</th>
                <th class="tabla3" title="Cantidad seleccionada de un mismo Producto">Cantidad</th>
                <th class="tabla3" title="Precio por unidad del Producto">Precio</th>
                <th class="tabla3" title="Coste del Producto total (Cantidad x Precio Unidad)">Coste</th>
            </tr>
        </thead>
        <tbody>
            <% @command.command_products.each do |cp| %>
                <tr class="tabla3">
                    <td class="tabla3"><%= cp.product.name %></td>
                    <td class="tabla3"><%= cp.quantity %> Unds</td>
                    <td class="tabla3"><%= cp.product.price %> €/Unds</td>
                    <td class="tabla3"><%= cp.product.price * cp.quantity %> €</td> 
                </tr>
            <% end %>
            <% @command.command_menus.each do |cp| %>
                <tr class="tabla3">
                    <td class="tabla3"><%= cp.menu.name %></td>
                    <td class="tabla3"><%= cp.quantity %> Unds</td>
                    <td class="tabla3"><%= cp.menu.price %> €/Unds</td>
                    <td class="tabla3"><%= cp.menu.price * cp.quantity %> €</td>
                </tr>
            <% end %>
        </tbody>
        <tfoot>
            <tr class="tabla3">
                <th class="tabla3" title="Precio total de la comanda">Total: </th>
                <td class="tabla3" colspan="3">xxx €</td>
            </tr>
        </tfoot>
    </table>
</div>

<% if !@command.is_end %>    
    <div class="muestra-eleccion-comandas">
    <ul class="tabs">
        <li><a href="#tab1">Productos</a></li>
        <li><a href="#tab2">Menús</a></li>
    </ul>
        <div class="contenedor_tab">
            <div id="tab1" class="contenido_tab">
                </br><div class="accion-command">Agregar Productos</div>
                <%= form_for :command_product, url: command_products_path do |f| %>
                    <div class="field">
                        </br><%= f.label :producto %><br/>
                        <%= f.select :product_id, options_from_collection_for_select( Product.where("restaurant_id = ?", "#{@current_restaurant.id}") - @command.command_products, :id, :name)%>
                    </div>
                    <div class="field">
                        </br><%= f.label :cantidad %><br/>
                        <%= f.number_field :quantity %>
                    </div>
                    <%= f.hidden_field :command_id, value: @command.id %>
                    </br><%= f.submit 'Agregar Producto', :class => 'boton grey'  %>
                    <% if @command.is_served %>
                        <%= form_for @command do |f| %>
                            <%= f.error_messages %>
                            <%= f.hidden_field :is_end, :value => 1 %>
                            </br></br><div class="accion-command">Cerrar la Comanda</div>
                            <div class="field">
                                </br><%= f.submit 'Cerrar Comanda', :class => 'boton grey' %>
                                </br></br>
                            </div>
                        <% end %>
                    <% end %>
                <% end %>
            </div>
            <div id="tab2" class="contenido_tab">
                </br><div class="accion-command">Agragar Menu</div>
                <%= form_for :command_menu, url: command_menus_path do |f| %>
                    <div class="field">
                        </br><%= f.label :menu %><br />
                        <%= f.select :menu_id, options_from_collection_for_select( Menu.where("restaurant_id = ?", "#{@current_restaurant.id}") - @command.command_menus, :id, :name)%>
                    </div>
                    <div class="field">
                        </br><%= f.label :cantidad %><br />
                        <%= f.number_field :quantity %>
                    </div>
                    <%= f.hidden_field :command_id, value: @command.id %>
                    </br><%= f.submit 'Agregar Menu', :class => 'boton grey'  %>
                    <% if @command.is_served %>
                        <%= form_for @command do |f| %>
                            <%= f.error_messages %>
                            <%= f.hidden_field :is_end, :value => 1 %>
                            </br></br><div class="accion-command">Cerrar la Comanda</div>
                            <div class="field">
                                </br><%= f.submit 'Cerrar Comanda', :class => 'boton grey' %>
                                </br></br>
                            </div>
                        <% end %>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
    <div style="clear:both;"></div>
<% else %>
    <%= link_to 'Pedir cuenta', command_finish_path(@command), style: "color: white"  %>
<% end %>