<%= form_for @location do |f| %>
	<%= f.error_messages %>
	<p>
	    <%= f.label :Lugar %><br />
	    <%= f.select :place, options_for_select(Location::LOCATION_CATEGORY.map.with_index {|index, value| [index, value]})%>
	</p>
	<p>
	    <%= f.label :Mesa %><br />
	    <%= f.text_field :sit %>
	</p>
	<%= f.hidden_field :restaurant_id, :value => @current_restaurant %>
	<%= f.hidden_field :user_id, :value => current_user.id %>
	<p><%= f.submit %></p>
<% end %>