<%= form_for @location do |f| %>
      <%= f.error_messages %>
      <p>
            <%= f.label :place %><br />
            <%= f.text_field :place %>
      </p>
      <%= f.hidden_field :restaurant_id, :value => @current_restaurant %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <p><%= f.submit %></p>
<% end %>