<h1>Mesas del restaurante</h1>

<div class ="muestra-tabla">
<table class="pretty">
    <tr>
        <th><%= "Lugar" %></th>
        <th><%= "Mesa" %></th>
        <th><%= "Precio total de la comanda" %></th>
        <th><%= "Restaurante" %></th>
        <th><%= "Usuario" %></th>
    </tr>
    <% @locations.each do |location| %>
        <tr>
            <td><%= Location::LOCATION_CATEGORY[location.place] %></td>
            <td><%= location.sit %></td>
            <td><%= location.total_price_command %></td>
            <td><%= @current_restaurant %></td>
            <td><%= current_user.user_name %></td>
            <td><%= link_to "Edit Location", edit_location_path(location) %></td>                
        </tr>
    <% end %>
</table>
</div>

<div class="muestra-opciones">
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script> 
	<script type="text/javascript">
		jQuery(document).ready(function() {
		jQuery("a.mostrar").click(function(){
		jQuery("div.chatbox").toggle("slow");
		return false;
		});
		});
	</script>

	<a href="#" class="mostrar">Añadir una nueva mesa</a><br/>
	<div class="chatbox">
		<%= render 'form' %>
		<p><%= link_to "Back to List", restauran_users_path %></p>
    </div>
</div>
