<div class="title">Comanda</div>
<div class="muestra-comanda">
    </br></br></br></br><p>
        <strong>Mesa:</strong>
        <%= @location.sit %>
    </p>
    <p>
        <strong>Lugar:</strong>
        <%= Location::LOCATION_CATEGORY[@location.place] %>
    </p>
    <p>
        <strong>Restaurante:</strong>
        <%= @current_restaurant.name %>
    </p>
    <p>
        <strong>Usuario:</strong>
        <%= current_user.user_name %>
    </p>
    <p>
        <strong>Total precio comanda:</strong>
        <%= @location.total_price_command %>
    </p>
    <p>    
        <%= link_to "Edit", edit_location_path(@location) %> |
        <%= link_to "Destroy", @location, :method => :delete, data: { confirm: "Are you sure?"} %> |
        <%= link_to "View All", locations_path %>
    </p>
</div>

<div class="muestra-eleccion-comanda">
    <%= form_for :command, url: commands_path do |f| %>
        <div class="accion">Crear Nueva Comanda</div>
        <%= f.error_messages %>
        <div class="field">
            </br><%= f.label :nombre_comanda %>
            <%= f.text_field :title %>
        </div>
        <div class="field">
            </br><%= f.label :descripción %><br />
            <%= f.text_area :description %>
        </div>
        <% if @current_role  == 3 %>
            <div class="field">
                </br><%= f.label :esta_finalizada %>
                <%= f.select :is_end, options_for_select(Command::FINISH_CATEGORY.map.with_index {|index, value| [index, value]})%>
            </div>
        <% end %>
        <%= f.hidden_field :location_id, :value => @location.id %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <div class="field">
            </br><%= f.submit %>
        </div>
    <% end %>
</div>