<h1>Mesa</h1>
    <p>
        <strong>Mesa:</strong>
        <%= @location.place %>
    </p>
    <p>
        <strong>Total precio comanda:</strong>
        <%= @location.total_price_command %>
    </p>
    <p>
        <strong>Restaurante:</strong>
        <%= @current_restaurant %>
    </p>
    <p>
        <strong>Usuario:</strong>
        <%= current_user.user_name %>
    </p>

    <p>    
    <%= link_to "Edit", edit_location_path(@location) %> |
    <%= link_to "Destroy", @location, :confirm => 'Are you sure?', :method => :delete %> |
    <%= link_to "View All", locations_path %> | 
    <%= link_to "Continuar", commands_path %>
</p>