<!DOCTYPE html>
<html>
      <head>
            <link rel="image" type="image/png" href="icon.png">
            <title>NoteTheCommands</title>
            <%= csrf_meta_tags %>
            <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
            <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      </head>

      <body>
            <header>
                  <h1>Note the Commands</h1>
            </header>
            <nav>
                  <ul>
                        <li><%= link_to "Inicio" %>
                              <% if current_user %>
                                    <ul>
                                          <% if (current_user.user_type == 1 || current_user.user_type == 3)%>
                                                <li><%= link_to "Comanda Camarero", new_user_registration_path%></li>
                                          <% end %>
                                          <% if (current_user.user_type  == 2 || current_user.user_type  == 3)%>
                                                <li><%= link_to "Comanda Cocinero", new_user_registration_path%></li>
                                          <% end %>
                                          <% if (current_user.user_type  == 0)%>
                                                <li><%= link_to "Comanda", new_user_registration_path%></li>
                                          <% end %>
                                    </ul>
                              <% end %>
                        </li>
                        <li><%= link_to "Noticias" %>
                              <% if current_user %>
                                    <ul>
                                          <% if (current_user.user_type  == 3) %>
                                                <li><%= link_to "Publicar noticia", new_blog_path %></li>
                                          <% end %>
                                          <% if (current_user.user_type  == 0 || current_user.user_type  == 1 || current_user.user_type  == 2 || current_user.user_type  == 3)%>
                                                <li><%= link_to "Ver blog", blogs_index_path %></li>
                                          <% end %>
                                    </ul>
                              <% end %>
                        </li>
                        <li><%= link_to "Gestiones" %>
                              <% if current_user %>
                                    <ul>
                                          <% if (current_user.user_type  == 3) %>
                                                <li><%= link_to "Añadir Productos", products_path%></li>
                                                <li><%= link_to "Control Stock", stocks_path%></li>
                                                <li><%= link_to "Crear Menu", new_user_registration_path%></li>
                                                <li><%= link_to "Crear Cuestionario", new_questionnaire_path%></li>
                                          <% end %>
                                          <% if (current_user.user_type  == 0 || current_user.user_type  == 1 || current_user.user_type  == 2 || current_user.user_type  == 3)%>
                                                <li><%= link_to "Crear Incidencia", new_incidence_path %></li>
                                                <li><%= link_to "Realizar Reserva", new_user_registration_path %></li>
                                          <% end %>
                                          <% if (current_user.user_type  == 0)%>
                                                <li><%= link_to "Solicitar Reclamación", new_user_registration_path %></li>
                                                <li><%= link_to "Votaciones", votings_path %></li>
                                          <% end %>
                                    </ul>
                              <% end %>
                        </li>
                        <li><%= link_to "Contacto" %>
                              <% if current_user %>
                                    <ul>
                                          <% if (current_user.user_type  == 0 || current_user.user_type  == 1 || current_user.user_type  == 2 || current_user.user_type  == 3)%>
                                                <li><%= link_to "Quienes somos", new_user_registration_path%></li>
                                                <li><%= link_to "Donde estamos", new_user_registration_path%></li>
                                                <li><%= link_to "Como contactar", new_user_registration_path%></li>
                                                <li><%= link_to "¿Quieres trabajar con nosotros?", new_user_registration_path%></li>
                                          <% end %>
                                    </ul>
                              <% else %>
                                    <ul>
                                          <li><%= link_to "Empresa desarrolladora", new_user_registration_path%></li>
                                          <li><%= link_to "Donde estamos", new_user_registration_path%></li>
                                          <li><%= link_to "¿Quieres trabajar con nosotros?", new_user_registration_path%></li>
                                    </ul>
                              <% end %>
                        </li>
                        <li><%= link_to "Panel de Control" %>
                              <% if current_user %>
                                    <ul>
                                          <li><%= link_to "Mi Perfil", profile_index_path%></li>
                                          <% if (current_user.user_type  == 3) %>
                                                <li><%= link_to "Gestionar Personal", new_user_registration_path%></li>
                                                <li><%= link_to "Incidencias", incidences_index_path%></li>
                                                <li><%= link_to "Generar estadísticas", new_user_registration_path %></li>
                                                <li><%= link_to "Bandeja Mensajes", messages_index_path %></li>
                                          <% elsif (current_user.user_type  == 0) %>
                                                <li><%= link_to "Chat", new_user_registration_path %></li>
                                          <% end %>
                                          <li><%= link_to "Cerrar Sesion", destroy_user_session_path, method: :delete %></li>
                                    </ul>
                              <% else %>
                                    <ul>
                                          <li><%= link_to "Iniciar Sesion", new_user_session_path %></li>
                                          <li><%= link_to "Registrate", new_registration_path(:user) %></li>
                                          <li><%= link_to "Registrar restaurante", restaurants_path %></li>

                                    </ul>
                              <% end %>
                        </li>
                        <% if user_signed_in? %>
                              Sesión: <%= current_user.user_name %>
                        <%end%>
                  </ul>
            </nav>
            <section>
                  <%= yield %>
            </section>
            <footer>- UAM - EPS - Ingenieria Informatica - TFG - Daniel Ramos Trejo</footer>
      </body>
</html>