<!DOCTYPE html>
<html>
      <head>
            <link rel="image" type="image/png" href="icon.png">
            <title>NoteTheCommands</title>
            <%= csrf_meta_tags %>
            <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
            <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      </head>

      <body>
            <header>
              <% if user_signed_in? %>
                  Sesión: <%= current_user.user_name %>
                  <% if @current_restaurant %>,
                      Rol: <%= @current_role %>,
                      Rest: <%= @current_restaurant %>
                      Desc: <%= @current_discount %>
                  <% end %>
              <%end%>
            </header>
            <nav>
                  <ul>  
                        <li><%= link_to "Inicio", start_path%>
                              <% if current_user %>
                                    <ul>
                                          <% if (@current_role == 1 || @current_role == 3)%>
                                                <li><%= link_to "Comandas del Camarero", commands_path %></li>
                                          <% end %>
                                          <% if (@current_role  == 2 || @current_role  == 3)%>
                                                <li><%= link_to "Comandas del Cocinero", commands_path %></li>
                                          <% end %>
                                          <% if (@current_role  == 0)%>
                                                <li><%= link_to "Mi comanda", commands_path%></li>
                                          <% end %>
                                    </ul>
                              <% end %>
                        </li>
                        <li><%= link_to "Acerca de" %>
                              <% if current_user %>
                                    <ul>
                                          <% if (@current_role  == 0 || @current_role  == 1 || @current_role  == 2 || @current_role  == 3)%>
                                                <li><%= link_to "Contactar", new_user_registration_path%></li>
                                                <li><%= link_to "¿Quieres trabajar con nosotros?", new_user_registration_path%></li>
                                          <% end %>
                                    </ul>
                              <% else %>
                                    <ul>
                                          <li><%= link_to "Empresa desarrolladora", new_user_registration_path%></li>
                                          <li><%= link_to "Donde estamos", new_user_registration_path%></li>
                                          <li><%= link_to "¿Quieres trabajar con nosotros?", new_user_registration_path%></li>
                                    </ul>
                              <% end %>
                        </li>
                        <li><%= link_to "Noticias" %>
                              <% if current_user %>
                                    <ul>
                                          <% if (@current_role  == 3) %>
                                                <li><%= link_to "Publicar Noticia", new_blog_path %></li>
                                          <% end %>
                                          <% if (@current_role  == 0 || @current_role  == 1 || @current_role  == 2 || @current_role  == 3)%>
                                                <li><%= link_to "Blog", blogs_index_path %></li>
                                          <% end %>
                                    </ul>
                              <% end %>
                        </li>
                        <li><%= link_to "Gestiones" %>
                            <% if current_user %>
                                <ul>
                                    <% if (@current_role  == 3) %>
                                        <li><%= link_to "Productos", products_path%></li>
                                        <li><%= link_to "Stock", stocks_path%></li>
                                        <li><%= link_to "Menus", menus_path%></li>
                                        <li><%= link_to "Cuestionarios", new_questionnaire_path%></li>
                                    <% end %>
                                    <% if (@current_role  == 0 || @current_role  == 1 || @current_role  == 2 || @current_role  == 3)%>
                                        <li><%= link_to "Realizar Reserva", reservations_index_path %></li>
                                    <% end %>
                                    <% if (@current_role  == 0)%>
                                        <li><%= link_to "Solicitar Reclamación", new_user_registration_path %></li>
                                        <li><%= link_to "Votaciones", votings_path %></li>
                                        <li><%= link_to "Incidencia", new_incidence_path %></li>
                                        <li><%= link_to "Pedido Online", takeaways_path %></li>
                                    <% end %>
                                    <% if (@current_role  == 0 || @current_role  == 1 || @current_role  == 2)%>
                                        <li><%= link_to "Crear Incidencias", new_incidence_path %></li>
                                    <% end %>
                                    <% if current_user.superadmin %>
                                        <li><%= link_to "Registrar Restaurante", restaurants_path %></li>
                                        <li><%= link_to "Clientes Registrados", restaurants_path %></li>
                                        <li><%= link_to "Productos Registrados", restaurants_path %></li>
                                    <% end %>
                                </ul>
                            <% end %>
                        </li>
                        <li><%= link_to "Panel de Control" %>
                              <% if current_user %>
                                    <ul>
                                          <li><%= link_to "Mi Perfil", profile_index_path%></li>
                                          <% if (@current_role  == 3) %>
                                                <li><%= link_to "Ver Incidencias", incidences_index_path%></li>
                                                <li><%= link_to "Ver Reservas", reservations_index_path%></li>
                                                <li><%= link_to "Ver Restaurantes", restaurant_users_path%></li>
                                                <li><%= link_to "Generar Estadísticas", new_user_registration_path %></li>
                                          <% end %>
                                          <% if (@current_role  == 0) %>
                                                <li><%= link_to "Chat", new_user_registration_path %></li>
                                          <% end %>
                                          <% if (@current_role  == 0 || @current_role  == 1 || @current_role  == 2 || @current_role  == 3 ) %>
                                                <li><%= link_to "Bandeja Mensajes", messages_index_path %></li>
                                                <li><%= link_to "Ver Restaurantes", restaurant_users_path%></li>
                                          <% end %>

                                          <li><%= link_to "Cerrar Sesion", destroy_user_session_path, method: :delete %></li>
                                    </ul>
                              <% else %>
                                    <ul>
                                          <li><%= link_to "Iniciar Sesion", new_user_session_path %></li>
                                          <li><%= link_to "Registrate", new_registration_path(:user) %></li>
                                    </ul>
                              <% end %>
                        </li>
                        
                  </ul>
            </nav>
            <section>
                  <%= yield %>
            </section>
            <footer>- UAM - EPS - Ingenieria Informatica - TFG - Daniel Ramos Trejo</footer>
      </body>
</html>
